[2019-05-09 17:18] kahing opened #300 "Multi object delete throws exception when there's no object in request"
instead a proper error should have been returned. Backtrace is from 1.6.1:

[code]

[2019-05-10 03:43] GeoTob opened #301 "Support get bucket policy"
When trying to get a bucket policy from `boto3` or directly through `curl`, s3proxy (tag 1.6.1) returns HTTP501:

[code]

I'm not entirely sure what's going on there unfortunately. The bucket does exist on the remote OpenStack Swift server and is publicly accessible. It looks like s3proxy isn't even requesting from remote in this case though.

[2019-05-10 12:20] #301 closed

[2019-05-10 12:23] gaul commented on #301
Please test with current master; S3Proxy should now return `NoSuchPolicy` which is more correct than `NotImplemented`.  Note that S3Proxy lacks real support for bucket policies and jclouds would need to add support for this.

[2019-05-11 02:47] GeoTob commented on #301
Thanks :-)

[2019-05-20 01:27] #300 closed

[2019-05-20 23:05] eden881 commented on #262
I can confirm that I have this problem too.

I have the following docker parameters:

[code]

This is the log output when I try to list my buckets:

[code]

[2019-05-21 12:31] gaul commented on #262
I added some more logging; could you repeat your test and share the results?

[2019-05-21 19:48] eden881 commented on #262
Thanks for your answer, unfortunately the logs looks pretty much the same:

[code]

[2019-06-03 05:02] brett--anderson opened #302 "Writing from Spark to S3proxy fails with FileAlreadyExistsException"
Using the docker image tagged latest for s3proxy with Spark 2.4.1 and Hadoop 2.7.3.

The following pyspark code works when connected to AWS S3:
[code]
When I run this against s3proxy I get the following error:
[code]
Any ideas why I'm getting this error, how I could configure things differently to avoid it, or failing that, where to start on a patch for this behavior? Thanks.

[2019-06-06 18:29] kahing opened #303 "intermittent getBlob exception"
I haven't narrowed down what triggers this yet, but goofys CI tests trigger this (unclear which test):

[code]

[2019-06-06 19:49] gaul commented on #303
This is an interesting stack trace!  Closer raises an exception in `removeFirst` below:

[code]

`Closer.register` protects against null elements so one would assume that this is impossible without concurrent modification.  Yet only a single thread should every handle this...

[2019-06-13 20:18] gaul commented on #262
Could you add the following to `S3ProxyHandlerJetty.sendS3Exception`:

[code]

This may reveal more context.

[2019-06-14 20:23] eden881 commented on #262
I've managed to solve this problem. It seems that the default `JCLOUDS_ENDPOINT` for the `azureblob` provider is incorrect.

For a Storage Account named `foo`, I've passed to the container the following environment variables:

- `JCLOUDS_PROVIDER` = `azureblob`
- `JCLOUDS_IDENTITY` = `foo`
- `JCLOUDS_ENDPOINT` = `https://foo.blob.core.windows.net`
- `JCLOUDS_CREDENTIAL` = `my_storage_account_acces

[2019-06-24 20:54] timuralp opened #304 "s3proxy does not reject invalid range headers in UploadPartCopy requests."
When submitting an UploadPartCopy request to S3Proxy with an invalid source range, the full object is used as the source, as opposed to returning an error. AWS S3 returns the following error message in that case:
[code]

S3Proxy should return a similar error after validating that the range is specified in the expected format (`bytes=%d-%d`).

[2019-06-24 23:03] #304 closed

[2019-06-25 03:57] bajiip opened #306 "Access Denied issue when connect to Azure Blob storage"
Dear Friends,

I have downloaded the S3Proxy app and modified the docker ENV variables to point to Azure Blob storage. Below is my ENV configuration in the docker file.

ENV \
    LOG_LEVEL="trace" \
    S3PROXY_AUTHORIZATION="aws-v2" \
    S3PROXY_IDENTITY="local-identity" \
    S3PROXY_CREDENTIAL="local-credential" \
    S3PROXY_CORS_ALLOW_ALL="false" \
    S3PROXY_CORS_ALLOW_ORIGINS="" \
    S3

[2019-06-25 04:47] gaul commented on #306
What do your trace-level logs say?

[2019-06-25 13:35] bajiip commented on #306
Below is my log.
[s3proxy] I 06-25 03:45:44.220 main o.g.s.o.e.jetty.server.Server:379 |::] Started @2161ms
[s3proxy] D 06-25 03:45:51.637 S3Proxy-Jetty-14 o.gaul.s3proxy.S3ProxyHandler:286 |::] request: Request(GET /)@66db8a9d
[s3proxy] D 06-25 03:45:51.640 S3Proxy-Jetty-14 o.gaul.s3proxy.S3ProxyHandler:311 |::] header: Upgrade-Insecure-Requests
: 1
[s3proxy] D 06-25 03:45:51.641 S3Proxy-Jetty-14

[2019-06-25 20:18] gaul commented on #306
It looks like you are trying to access S3Proxy from your web browser instead of an S3 client.  How did you configure the `s3proxy.authorization` property?  If it is set to `none` the web browser should work, although I recommend using authorization with a real client like the AWS CLI.

[2019-06-26 02:59] bajiip commented on #306
Thanks. It works after i set to s3proxy.authorization=none.

[2019-06-26 02:59] #306 closed

[2019-06-26 03:08] bajiip opened #307 "Access denied when i try to connect with AWS S3"
Hi,
I am trying to connect to the AWS S3 from the s3proxy. I have used the below configuration.

[code]

**But I am getting the error below.**

[code]

I think i have not used the correct values for my ENV variables. Can any one tell what is the correct values i have to provide for the following variables?

[code]

**Below is my log trace.**

[code]

[2019-06-26 05:54] timuralp opened #308 "Enabling s3proxy trace logs should enable jclouds trace logging"
When s3proxy trace logging is enabled, the jclouds logging should be enabled as well. It's most certainly going to be required to understand whether there is an issue in the actual response from the provider vs s3proxy translation of the response.

[2019-06-27 03:48] gaul commented on #308
At least in my tests, enabling s3proxy trace logging also enables jclouds debug logging.

[2019-06-27 03:51] gaul commented on #307
It looks like your request is forbidden by S3Proxy.  What client do you use to connect and how do you configure it?  Also which version of S3Proxy do you run?  I cannot correlate your logging line numbers with master, 1.6.1, or 1.6.0.

[2019-06-30 20:56] gaul opened #309 "Unable to build with JDK 12"
The ancient 2.0.5 version of error-prone prevents S3Proxy from compiling on JDK 12.  Upgrading error-prone requires at least JDK 8 and addressing #121 should fix this issue.

[2019-07-03 17:22] gaul commented on #299
Could you run this again with trace-level logging (`-DLOG_LEVEL=trace` from the command line)?  Unfortunately I do not have a Windows machine to test against.

[2019-07-05 20:39] gaul opened #310 "Allow disabling features"
S3 implementations do not implement all of the AWS functionality.  For testing it might be useful to disable:

* Copy Objects
* List Objects V2
* Multipart Uploads

I suspect that this could be done as a middleware.  @kahing might be useful to you.

[2019-07-11 18:52] gaul commented on #183
[s3auth](https://github.com/yegor256/s3auth) also provides this.

[2019-07-19 12:06] nidu commented on #142
Hi. I'm using trying to upload files into s3proxy from chrome directly using [upload](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#upload-property) method and it works just fine for 2Kb file, but fails with `No 'Access-Control-Allow-Origin' header is present on the requested resource.` for 5Mb file.

I can see that for 2Kb upload is done with PUT and for 5Mb - with POST. Is CORS

[2019-07-19 14:55] gaul commented on #142
@reimannf could you look at this?

[2019-07-20 21:18] reimannf commented on #142
Okay. The `handleInitiateMultipartUpload` https://github.com/gaul/s3proxy/blob/master/src/main/java/org/gaul/s3proxy/S3ProxyHandler.java#L697-L698 is not the Standard `POST` handler with CORS support https://github.com/gaul/s3proxy/blob/master/src/main/java/org/gaul/s3proxy/S3ProxyHandler.java#L2122-L2128.
I think to support Multipart Uploads for CORS we need to add it to `handleInitiateMultipartU

[2019-08-01 14:28] emanuelbatista commented on #148
I'm also the same issue when I try to run.

[2019-08-01 15:14] gaul commented on #148
Can you try overriding the jclouds dependency to 2.2.0-SNAPSHOT in your project to see if this addresses your symptoms?  [JCLOUDS-1500](https://issues.apache.org/jira/browse/JCLOUDS-1500) may have addressed this.

[2019-08-20 10:04] SkySonR commented on #285
We met closest issue during move from s3proxy on real environment with AWS S3.
We got:
Mapping exception which occured under REST service.
com.amazonaws.AmazonClientException: Unable to verify integrity of data upload. Client calculated content hash (contentMD5: AqY59K7Jd2dyppt9R55i2Q== in base 64) didn't match hash (etag: 5ef4246b81c9086d355d17611869b32a in hex) calculated by Amazon S3. You may n

[2019-08-20 23:25] gaul commented on #285
Can you be more specific about which operation caused this error?  It looks like the client provided the wrong MD5 hash during PUT object since:

[code]

If this is correct, then S3Proxy does not validate the MD5 on one of its code paths.

[2019-08-29 09:25] SkySonR commented on #285
Yes, looks like that client send wrong MD5 sum and s3proxy does not validate.

What kind of information do you need? This error come to as from developers

[2019-08-29 18:45] gaul commented on #285
Please be specific about which operation fails, preferably with a code example.  I have tested both single- and multi-part uploads with incorrect MD5 and S3Proxy detected both as expected.

[2019-09-05 09:09] kerkhofsd commented on #299
Reproduced on Linux

[2019-09-05 12:30] kerkhofsd commented on #299
Created a simple test in which the issue is reproduced.

[2019-09-06 16:52] #299 closed

[2019-09-12 06:09] kahing commented on #303
another one with a different backtrace:

[code]

This one causes the test to be stuck: https://travis-ci.org/kahing/goofys/jobs/583981057#L11071

[2019-09-21 19:03] tivvit opened #312 "v2-or-v4 in example docs"
Hi,

Since `v2-or-v4` is default in the docker image (https://github.com/gaul/s3proxy/commit/456f7c7a0a20f4a35618414ddf1b3037d6bb113b) I think it should be default in the backend examples (https://github.com/gaul/s3proxy/wiki/Storage-backend-examples) because it is a reasonable default and it is not much mentioned in the docs.
If you think that is a good idea I will prepare PR.

[2019-09-24 11:29] ticapix commented on #312
I was stucked for days with this. I updated the wiki page for AWS with hadoop https://github.com/gaul/s3proxy/wiki/Client-compatibility-list#aws-sdk-for-hadoopspark

[2019-09-24 17:21] gaul commented on #312
These `aws-v2` examples date back to before S3Proxy supported v4 when the only alternative was `none`.  Agree that `aws-v2-or-v4` would be more appropriate; could you update them?

[2019-09-24 18:06] ticapix commented on #312
s/aws-v2/aws-v2-or-v4/g on https://github.com/gaul/s3proxy/wiki/Storage-backend-examples

[2019-09-24 18:19] gaul commented on #312
Thank you for your contributions @ticapix!

[2019-09-24 18:19] #312 closed

[2019-10-01 09:30] fhengartner commented on #148
I can confirm overriding to 2.2.0-SNAPSHOT solves the problem.
I've had the exact same problem in a spring boot project.

[code]

[2019-10-03 20:52] ecarneiro commented on #298
I work for Backblaze and I wanted to chime in here and explain, how I understand, the authorize call works with B2.

When using the Master Key, the Key ID and the Account ID are the same. However, when using Application Keys, the Key ID of the application key is not the same as the account ID. The account ID is what is needed to make certain calls such as bucket operations.

The response of the [b

[2019-10-03 21:22] ecarneiro commented on #298
@nilayp - Adding Nilay for Visibility.

[2019-10-03 21:33] gaul commented on #298
Again, does anything need to be done to support applications keys beyond what already exists?  You can trace through the jclouds code `AuthorizationApi` and `RequestAuthorization` to see the call to `b2_authorize_account` and use of the `Authorization` header.

[2019-10-03 22:37] ecarneiro commented on #298
Yes. You need to pull the account ID from the response of the authorize call rather than use the account ID from what is passed in to authenticate the user.

If you look at the bucketsAPI class - https://github.com/apache/jclouds/blob/master/providers/b2/src/main/java/org/jclouds/b2/features/BucketApi.java - you will see that the account ID is pulled from : @PayloadParams(keys = {"accountId"}, val

[2019-10-03 23:03] gaul commented on #298
This makes sense.  It seems that you will need a custom `MapBinder` to insert a dynamic value from `Authorization`.  Could you open a [JIRA ticket](https://issues.apache.org/jira/browse/JCLOUDS) and a pull request against jclouds?  The project plans a release next week so if you hurry it can include your fix.

[2019-10-08 20:01] ecarneiro commented on #298
I am going to move this ticket to JClouds repo as I am not able to develop this. Hopefully someone from the community can contribute and fix this.

[2019-10-21 15:53] #148 closed

[2019-10-21 18:49] gaul opened #314 "Attach 1.7.0 exectable to release"
GitHub rejected the upload saying that it did not recognize the file type, likely because it is an executable jar instead of a traditional zip/jar file.  They allowed uploading previous releases.  I filed a support ticket with them.

[2019-10-21 18:50] gaul opened #315 "Support overriding host for pre-signed URLs"
From Twitter:

https://twitter.com/eu_frey/status/1178988097876500481

[2019-10-28 14:54] simonbowen commented on #73
@ck86 I'm facing this issue at the moment, did you manage to find a work around?

[2019-10-28 15:10] kernworks commented on #298
+1 on this even though it's a JClouds issue
Looks like ecarneiro did open a JIRA against JClouds.
Here it is for reference:
https://issues.apache.org/jira/projects/JCLOUDS/issues/JCLOUDS-1519?filter=allopenissues

[2019-10-28 15:26] ck86 commented on #73
@simonbowen unfortunately not. I switched to another proxy and used the signed URLs to upload a file.

[2019-10-28 15:28] kernworks opened #316 "Backblaze B2 directory creation"
**System:**
CentOS Linux release 7.7.1908 (Core)
s3fs version 1.85 pulled from CentOS epel repo.
java-1.8.0-openjdk-1.8.0.232.b09-0.el7_7

I am using s3fs on top of s3proxy. My s3proxy is connected to Backblaze B2.

When trying to do a mkdir I get an Input/output error.

Upon further research, this is a B2 api thing. Reference https://www.backblaze.com/blog/how-to-code-backblaze-b2-api-interface/

[2019-10-28 15:38] simonbowen commented on #73
@ck86 Can you tell me the name of the other proxy you used? I'm looking at using LocalStack instead at the moment.

[2019-10-28 15:40] ck86 commented on #73
minio

[2019-10-28 16:39] kernworks opened #317 "Backblaze B2 sha1 checksum"
**System:**
CentOS Linux release 7.7.1908 (Core)
s3fs version 1.85 pulled from CentOS epel repo.
java-1.8.0-openjdk-1.8.0.232.b09-0.el7_7

Is there a way to use the sha1 checksum functionality of the B2 api using s3fs on top of s3proxy?

I have done a little research and testing but I haven't seem to come up with a way.

This is one of those S3 to B2 quirks that is probably hard to translate.

[2019-10-28 17:28] gaul commented on #317
It is not possible to translate MD5 to SHA1 other than buffering the entire upload in-memory and computing it before the transfer.  However, B2 does support a mechanism to send the SHA1 after the transfer which ensures data integrity.  This requires modifications to the underlying jclouds library:

https://issues.apache.org/jira/browse/JCLOUDS-1268

[2019-10-28 19:03] kernworks commented on #317
That is an interesting option. Glad to see there's a JClouds ticket out there at least.

Another thought, maybe s3fs could include a hashing algorithm flag with a default of MD5. I know there are other providers that don't use MD5.

It would be better to fix it in JClouds though.

This issue can be closed unless you want to leave it open for reference.

Reference: https://www.backblaze.com/b2/docs

[2019-10-29 00:21] gaul commented on #317
Azure is the other common object store which uses a non-MD5 ETag.  I don't know how s3fs would express a non-MD5 ETag since it only supports the S3 protocol.  Other FUSE filesystems, notably goofys, support other protocols but not B2.  ETag data integrity seems more of a nice-to-have since most applications connect via HTTPS which provides transport integrity.  The ETag is seems only useful for en

[2019-10-29 00:23] gaul commented on #73
As suggested in https://github.com/gaul/s3proxy/issues/73#issuecomment-451549676, if someone can provide a self-contained test I can add missing functionality but I don't want to commit to all possible features of POST uploads right now.

[2019-10-29 07:05] simonbowen commented on #73
@gaul Thanks for the response. Also thanks for this great package. I'm not a Java developer and writing a test for this use case is going to be beyond me. I had dropped this into my development environment via docker and it worked great up until the HTTP POST upload.

[2019-10-30 06:22] gaul commented on #73
@simonbowen If you can provide a self-contained test, either via unit test, curl, or whatever, I can likely add the required functionality easily.  Unfortunately figuring out how to even run something like https://github.com/gaul/s3proxy/issues/73#issuecomment-382280283 is likely more work than the fix.

[2019-10-30 07:16] simonbowen commented on #73
@gaul I'm not sure I can just give you an example curl request, since I have to make a request to get the fields (via a request) and then use those fields in a subsequent request. All I'd be doing is converting above into a bash script. As I said already, I am not capable of writing a unit test in Java (sorry).

[2019-10-31 00:22] gaul commented on #73
Try turning logging up to trace level and see which parameter fails?

[2019-11-06 10:12] simonfrey commented on #315
Anything I can help here with? (e.g. examples)

[2019-11-08 02:12] kahing opened #318 "NullPointerException with filesystem backend"
step to reproduce:
1. change goofys's s3proxy backend to filesystem
2. make s3proxy.jar
3. ./test/run-tests.sh TestBenchCreate$

[code]

[2019-11-08 02:24] kahing commented on #318
[trace.log](https://github.com/gaul/s3proxy/files/3822718/trace.log)

[2019-11-09 02:19] gaul commented on #318
Which version of S3Proxy?

[2019-11-09 03:11] gaul commented on #318
Please test this by compiling S3Proxy using jclouds 2.2.1-SNAPSHOT.  Note that you will have to wait an hour or more for the snapshots to update.

[2019-11-09 03:11] #318 closed

[2019-12-16 17:11] MkJha opened #319 "S3ProxyRule HTTPS Support"
Can S3ProxyRule be launched as HTTPS?

[2019-12-17 06:02] MkJha commented on #319
@ClassRule
	public static S3ProxyRule S3_PROXY_RULE = S3ProxyRule.builder().withPort(7007).withCredentials(AWS_ACCESS_KEY, AWS_SECRET_KEY)
			.build();

In this case, the S3 proxy uri is :: http://127.0.0.1:7007.

However my actual S3 client works something like this ::

s3Client = AmazonS3ClientBuilder.standard()
						.withEndpointConfiguration(new EndpointConfiguration("127.0.0.1", getRegion())

[2019-12-17 11:06] #319 closed

[2019-12-17 11:07] MkJha commented on #319
It seems https support is already there. It can be marked as invalid, hence closing it.

[2020-02-25 14:17] andemi opened #320 "MultiPartUpload response content type"
Hello,
version 1.7.0 has the same error as here (version 1.6.1 doesn't have)
https://github.com/adobe/S3Mock/issues/35
https://github.com/adobe/S3Mock/issues/210

java.lang.NullPointerException: null
        at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:882)
        at com.google.common.io.BaseEncoding$StandardBaseEncoding.trimTrailingPadding(BaseEncoding.java:676)

[2020-02-25 21:12] timuralp commented on #320
@andemi can you add the request that was made? Did the complete multipart upload call include the ETags for each part?

[2020-02-26 09:31] andemi commented on #320
s3proxy in filesystem mode for Windows
Request in scala code
`  val file: Source[ByteString, NotUsed] =
      Source.single(ByteString(
        """
         {
            "timeRange": {
              "from": "2019-12-31",
              "to": "2020-01-01"
            }
          }
          """))

`    val s3Sink: Sink[ByteString, Future[MultipartUploadResult]] = S3
    .multipartUpload(inputBucket

[2020-02-26 19:47] timuralp commented on #320
From the error it looks like jclouds doesn't have the ETag associated with the individual parts. I'll try to reproduce the behavior on Windows -- it might be related to not having extended attributes.

[2020-03-04 20:21] timuralp commented on #320
@andemi I was able to reproduce this issue. It's not windows-specific, but shows up any time s3proxy is used against a filesystem without extended attributes support (e.g. FAT). I submitted a pull request to jclouds to remedy this (https://github.com/jclouds/jclouds/pull/1285). In the meantime, I tested that completing MPUs works correctly on NTFS. If possible, I would consider running s3proxy aga

[2020-04-03 19:42] tkadarla commented on #278
I am using aws cli and getting the same error.. Below is what I ran:
aws s3 cp /tmp/test.txt s3://<bucket_name> --endpoint-url 'http://<loadbalancer-url>:443' --region us-east-2

[2020-04-17 07:49] ashangit opened #321 "s3v4 signature matching with DNS style path leads to SignatureDoesNotMatch"
The canonical_uri used to compute the canonical_request is based uri containing the `bucket + uri` which is fine for s3v2 but not for s3v4.
In s3v4 it should only be the uri.
Due to that the signature computed by `S3ProxyHandler` never match to the ones computed by python library botocore o by the java aws one

Here is the canonical_uri computed by botocore:
[code]

And by s3Poxy
[code]

[2020-04-25 03:57] #321 closed

[2020-05-05 17:52] lrkwz opened #323 "openstack-swift with OVH returns 401 Unauthorized"
I'm using a swift bucket on OVH

The CLI tool `swift -A $OS_AUTH_URL -U $OS_USERNAME -K $OS_PASSWORD list -l foto-condivise` works smoothly.

My config is:

[code]

(I've tried both versions of `JCLOUDS_IDENTITY`) the log states:

[code]

[2020-05-16 02:17] gaul commented on #318
Released 2.2.1 and opened kahing/goofys#518.

[2020-06-24 02:09] gaul opened #324 "Minimum part size for transient and filesystem blobstore is 1 byte"
S3Proxy uses the minimum blob size for each storage backend since some are (were?) greater than S3's 5 MB size.  For the transient and filesystem blobstores this is 1 which is not useful for emulating S3.  Make this 5 MB by default and possibly allow overriding it.  References s3fs-fuse/s3fs-fuse#1313.  @ggtakec

[2020-06-24 14:01] #324 closed

[2020-07-07 04:36] gaul opened #325 "Sharding middleware"
Some S3 implementations have hotspots if key names distribute poorly, e.g., date and timestamp prefixes:

https://aws.amazon.com/blogs/aws/amazon-s3-performance-tips-tricks-seattle-hiring-event/

S3Proxy could support a middleware which adds a prefix of the key name hash to the key name.  This poses challenges for listing objects but this operation could either be disabled or return the prefixed n

[2020-07-11 08:07] gaul commented on #309
jclouds 2.3.0 will require Java 8 and mitigate this issue.

[2020-07-11 08:08] gaul commented on #303
Similar symptom seen in s3fs CI:

[code]

[2020-07-16 09:39] gaul commented on #320
Fixed in S3Proxy 1.7.1.

[2020-07-16 09:39] #320 closed

[2020-07-16 20:57] petr-tichy opened #326 "Azure storage returns empty <Blobs>"
We have hit (a possibly undocumented) behavior of Azure [List Blobs](https://docs.microsoft.com/en-us/rest/api/storageservices/list-blobs) operation returning empty <Blobs> node:

[code]

This causes
[code]

Comparing with debug output of `az storage blob list`, it seems this is OK and azure-cli simply issues a next request.

Thanks

Petr

[2020-07-17 10:09] #326 closed

[2020-07-22 00:22] gaul commented on #140
Minio has a similar caching mode:

https://docs.min.io/docs/minio-disk-cache-guide.html

[2020-07-22 19:38] phuongdh commented on #315
Have you found a solution for this? We have the same problem and modifying the presigned URL's host will invalidate it. For example: `http://127.0.0.1/bucket/key?queries` from inside the container works, but `http://mydomain/bucket/key?queries` from outside returns 403 .

[2020-07-22 20:22] gaul commented on #315
If either of you could give a self-contained example that would make this easier to fix.

[2020-07-31 05:15] pip-765 opened #327 "s3proxy don't accept x-amz-te header"
I'm using awssdk s3client (https://mvnrepository.com/artifact/software.amazon.awssdk/s3) and call getObject() method to get an object on s3proxy, but status code 501 is returned because s3proxy denies x-amz-te header which s3client automatically add.

s3proxy's log (with -DLOG_LEVEL=debug) is following:

S3ProxyHandler seems to restrict request headers starting with x-amz- .

[2020-07-31 09:33] gaul commented on #327
Can you share how you invoke `getObject`?  `ENABLE_CHECKSUM_REQUEST_HEADER` appears to be a new, undocumented header which allows appending the MD5 to the response after the data payload.  It seems odd for this to be the default behavior.

[2020-07-31 12:34] pip-765 commented on #327
Thank you for your response.

I tried to run folloiwng progmram with s3client version 2.10 :

`
public class Main {

	public static void main(String[] args) throws Exception {
		final AwsCredentialsProvider provider = new AwsCredentialsProvider() {
					@Override
					public AwsCredentials resolveCredentials() {
						return new AwsCredentials() {
							@Override
							public String secretAccess

[2020-07-31 12:50] pip-765 commented on #327
When I set checksumValidationEnabled to false, s3client no longer adds x-amz-te header. Thank you for your tips.

`
		S3Client client = S3Client.builder()
				.serviceConfiguration(b -> {
					b.pathStyleAccessEnabled(true);
					b.checksumValidationEnabled(false); // <- add
				})
				.credentialsProvider(provider)
				.region(region)
				.endpointOverride(endpoint)
				.build();

`

[2020-07-31 12:50] #327 closed

[2020-08-01 09:52] gaul commented on #327
Hopefully AWS changes the default.  Otherwise S3Proxy must implement this header for compatibility.

[2020-08-14 20:11] dantman opened #328 "Cannot use s3proxy container with google cloud storage"
I'm trying to deploy s3proxy into a kubernetes cluster in gcloud with a google cloud storage provider. However following the s3proxy documentation does not seem to work.

I tried configuring s3proxy as so:
[code]
*(boilerplate and service left out)*

And tested in the cluster:
[code]

However s3proxy fails with the following error:
[code]

I shelled into the container and confirmed that `/opt/cred

[2020-08-20 13:36] gaul commented on #328
This should work and I tested GCS locally without using Docker/k8s.  Can you try testing without Docker to ensure that your credentials are well-formed?  This should look like:

https://github.com/gaul/s3proxy/wiki/Storage-backend-examples#google-cloud-storage

[2020-08-20 20:02] dantman commented on #328
Tried running s3proxy locally and having similar results.

[code]

Still gives the same error when I try to run `curl http://localhost:8080/cloud-backups`
[code]

If I swap this with:
[code]

Then I get this instead:
[code]

So it does seem like the documentation is wrong. i.e. `jclouds.credential` is not the path to a key file, it's the contents of a key file. And that the Docker container is bro

[2020-08-20 20:10] petr-tichy commented on #326
After some testing it looks like simply sending a response to s3 client without either one of `CommonPrefixes`  or `Contents` elements is not expected, at least by `s3cmd` and our backup tool. I suspect that s3proxy would have to handle this internally, issuing the next request(s) and returning it to the client only when it finally contains either `CommonPrefixes` or `Contents`

`s3cmd` fails with

[2020-08-20 23:06] gaul commented on #328
A prerelease jclouds fixes the ARCHIVE issue:

https://github.com/gaul/s3proxy/tree/jclouds-2.3.0

The credentials should work as a file or as a string.  Sorry to keep suggesting non-Docker workflows, but another acceptable credential format in tested with my properties.conf:

[code]

[2020-08-20 23:18] dantman commented on #328
I'll just wait for a future Docker image release with the next version of jclouds that comes out and `run-docker-container.sh` with quotes around all the args to prevent environment variables injecting extra args instead of data.

[2020-08-21 01:14] #328 closed

[2020-08-21 01:15] gaul commented on #328
I just pushed the jclouds change and added more quoting to `run-docker-container.sh`.  The Docker Hub image should update shortly; please reopen this issue if these changes do not resolve your symptoms.

[2020-08-24 20:53] dantman commented on #328
Thanks. Looks like I can't use s3proxy after all (I was hoping the proxy layer would patch over GCP's multipart upload issues).

But I can confirm that the changes have fixed the s3proxy docker container and the second config example work now for Kubernetes and GCP and Archive containers are working.

The [documentation](https://github.com/gaul/s3proxy/wiki/Storage-backend-examples#google-cloud-st

[2020-08-25 00:14] gaul commented on #328
Both configs work for me, albeit not using Docker.  Agreed that both forms should be documented -- could you edit the wiki?

Also, could you open a separate issue about MPU?  I believe this should work up to 32 parts:

https://github.com/gaul/s3proxy/wiki/Storage-backend-compatibility#google-cloud-storage

It is possible there are other things that can extend this limit.

[2020-08-25 05:26] dantman commented on #328
I don't know what I should edit the documentation to. There aren't any other examples of large multi-line values.

I'll add an issue for the multi-part upload issue, though I'm not sure it's fixable and it's probably Google's fault.

[2020-08-25 09:12] gaul commented on #328
OK I added https://github.com/gaul/s3proxy/wiki/Storage-backend-examples#google-cloud-storage-inline

Please file an issue for multi-part upload.

[2020-08-25 13:54] petr-tichy opened #329 "Azure storage returns empty <Blobs> element"
After some testing it looks like the fix in #326 is not sufficient. Sending a response to s3 client with neither `CommonPrefixes` nor `Contents` elements is not expected, at least by `s3cmd` and our backup tool. I suspect that s3proxy would have to handle this internally, issuing the next request(s) and returning it to the client only when it finally contains either `CommonPrefixes` or `Contents`

[2020-08-25 18:24] dantman opened #330 "Large multipart uploads with aws cli to GCS fail"
I was using a docker image ([mysql-backup](https://hub.docker.com/r/databack/mysql-backup)) that uploads to a "S3" backend using the aws cli. Trying to use it with s3proxy connected to GCP as the upload destination fails with the following error.

`An error occurred (BadDigest) when calling the CompleteMultipartUpload operation`

More details from the log (includes the shell commands executed and

[2020-08-26 02:40] gaul commented on #330
How large is the object you are uploading and what are the part sizes/number of parts?  Also can you share any relevant logs when running S3Proxy with trace-level logging?

[2020-08-26 03:02] dantman commented on #330
Sorry, the uploaded files come from a db dump that takes ~15M to do and then disappears with the container. So I can't easily get you exact numbers.

I can tell you that the managed SQL DB that is the source of the dump has a SSD that is only 31GB large. The `information_schema` data suggests a database size of about 10GB. And my monitoring says that the pod that did the dump had a 6.06GiB disk us

[2020-08-26 03:05] dantman commented on #330
I can however confirm s3proxy connected to GCP (and GCP's own S3 backend) do work with `aws cp` if the file is small enough it does not trigger a multipart upload. So this is definitely something specific to a file large enough to trigger a multipart upload but within the limits of what you can upload to S3/GCP.

[2020-08-26 05:15] gaul commented on #330
AWS CLI defaults to an 8 MB part size so a 6 GB object would be 750 parts.  GCS natively supports only 32 parts.  Can you try changing the value of [multipart-chunksize](https://docs.aws.amazon.com/cli/latest/topic/s3-config.html#multipart-chunksize) to something larger, e.g., 1 GB?  This should work around the symptoms.

I think S3Proxy could be changed to do something more complicated by using G

[2020-08-26 08:43] gaul commented on #329
@petr-tichy Could you provide an example of how to create this condition?  Do you just list an empty Azure subdirectory?

[2020-08-26 22:27] petr-tichy commented on #329
Well, that is a good question. Unfortunately I'm not yet certain why this happens. I'm unable to replicate this behavior manually with a test account. The reason could be anything from Azure slowing down clients, trying to resolve some consistency issues, or simply a bug or undocumented feature. Accessing our account with other native tools shows no problems, while these seem to handle this gracef

[2020-08-27 22:04] dantman commented on #330
Hmmm, that GCP limitation sounds awful. *Why can't everyone just agree on one standardized API for cloud file storage?*

I tried changing the `multipart_chunk_size` option to `1GB` (it was really hard in a Docker container since aws-cli doesn't even offer a cli option for it). And confirmed that the config file is actually loaded. However I still ended up with the error.

I don't know how to debug

[2020-09-06 10:43] Renkas commented on #142
I have stumbled upon this myself now. This really is stopping us from using S3 proxy ...

I see this issue has stalled for over a year already ... so need to find some other tool for the job again.

[2020-09-06 12:44] gaul commented on #142
@Renkas Can you share which operations fail?  Can you open a separate issue for this?

@reimannf This seems correct to me.  Can you submit a pull request?

[2020-09-07 09:31] Renkas commented on #142
@gaul issue is the same as @reimannf described. Multipart upload does not support CORS.

I'm uploading from a web browser put the PUT request is not havening any CORS headers, so the request fails.

[2020-09-08 15:46] Renkas opened #331 "Multipart upload CORS headers"
Currently multipart upload does not fully support CORS headers.

Find more details from older issue: https://github.com/gaul/s3proxy/issues/142#issuecomment-513499929

@reimannf seems to have a solution for this. Could you please implement it?

[2020-09-22 11:40] gaul commented on #330
@dantman Agree that multiple protocols are painful for users.  Many of the non-S3 implementations have added either partial or full support for S3 so this situation is improving.  While I work for Google, I have no relationship with GCS so I recommended giving them feedback directly, by Twitter or otherwise.  GCS does offer S3-compatible access but it does not support MPU at all.  You might be abl

[2020-09-28 13:15] #331 closed

[2020-09-28 13:15] gaul commented on #331
@Renkas Could you test the latest master?

[2020-10-05 12:27] OdedRaiches opened #335 "Exception with s3cmd: Index 1 out of bounds for length 1"
Hi, i'm having an issue with using s3cmd with s3proxy.
I'm trying to do this simple PUT command:
`s3cmd put stam.txt s3://https://blobeastus.blob.core.windows.net/oded-test1/stam.txt `

The output i'm getting is:
[code]

From checking the sources I see this is the 629 line in S3ProxyHandler.java:
![image](https://user-images.githubusercontent.com/53560658/95079376-3638ba00-071f-11eb-9c59-f9700fb4a

[2020-10-05 13:31] gaul commented on #335
Your s3:/// should not contain a full HTTP URL to Azure.  Instead it should just be the bucket name, probably `oded-test1`.  Here is a self-contained example:

[code]

Instead configure the Azure endpoint in the `s3proxy.conf`.

[2020-10-05 14:55] OdedRaiches commented on #335
@gaul thanks for the quick reply! the ls command works, but unfortunately PUT command does not:
input:
`s3cmd put stam.txt --host=127.0.0.1:8080 --access_key=local-identity --secret_key=local-credential --no-ssl s3://oded-test1/
`output:

[code]

[2020-10-06 06:48] OdedRaiches commented on #335
@gaul
I came across this compatibility list and tried to configure by it (using s3cmd version 2.0.1). After that I started getting:
[code]

Even after reverting to the old setting I kept getting this. Is there any cached configuration that i'm missing here?

[2020-10-06 08:28] gaul commented on #335
s3cmd defaults to reading `$HOME/.s3cfg`.  This probably sets `access_token` which S3Proxy does not support.  You can check this by running `s3cmd --dump-config`.

[2020-10-06 10:57] OdedRaiches commented on #335
@gaul
Thanks a lot for the fast responses!
Unfortunately I still have a problem with the PUT request that I mentioned here: https://github.com/gaul/s3proxy/issues/335#issuecomment-703686274

[2020-10-06 14:51] gaul opened #336 "Remove Azure > 256 MB blob workaround"
[JCLOUDS-1554](https://issues.apache.org/jira/browse/JCLOUDS-1554) and Azure API 2019-12-12 will allow up to 5 GB blobs.  This allows removing the > 256 MB workaround which should give better support for listing a multipart upload.

[2020-10-12 12:33] OdedRaiches commented on #335
@gaul do you have any lead on the error I got on PUT command? thanks!
more in this comment:
https://github.com/gaul/s3proxy/issues/335#issuecomment-703686274

[2020-10-29 16:23] bsfarrell opened #338 "Multipart etag issues with filesystem and transient storage providers"
I'm using `S3ProxyRule` in a JUnit test (it's really nice!) and I noticed that if I perform a multipart upload and then read back the resulting object metadata, the etag from the HEAD request doesn't match the etag from the multipart complete request.

Here's an example testcase:
[code]
This fails with
[code]
with both the filesystem and transient providers.

I'm running this on a Mac, and it soun

[2020-11-15 10:18] gaul commented on #338
The underlying Apache jclouds `LocalBlobStore` converts multi-part uploads into single-part uploads in `completeMultipartUpload`.  This allows filesystem access to read large files uploaded via S3Proxy but does not give the expected behavior for tests.  I think the best we can do here is add a configuration flag to jclouds.  Would you like to submit a pull request to do this?

[2020-12-28 07:43] RaniRaven opened #340 "Using s3proxy for azure blob storage"
Hi,
2 Questions for the first time looking at this :
[1] Is there any documentation about the configuration which should be used for azure storage. I couldn't find an explanation about how to set the parameters for that.
[2] Is there any helm chart , or docker for using this in k8s for azure ?

Regards,
Rani

[2020-12-28 07:51] gaul commented on #340
The wiki has some documentation:

https://github.com/gaul/s3proxy/wiki/Storage-backend-examples#azure-blob

You will need to correlate these with the environment variables in the `Dockerfile`.

[2021-01-13 09:17] tatiesmars opened #343 "Missing CORS header in the response"
Hello,

First, thank you for the project, it is the only S3 proxy available that we found that support a progress bar while downloading, which help us!

We setup the s3proxy the following way
[code]

As far as I understand CORS should allow any origins with any headers and any methods.

Unfortunately, all the CORS header are missing from the response

Here is the curl command we use:
`curl  -H "Ac

[2021-01-14 07:10] gaul commented on #343
@reimannf Could you look at this issue?

[2021-01-14 16:17] Rotemy commented on #343
@gaul @reimannf Thanks for this amazing library. It would be great to get an answer quickly as our users encounter problems loading fonts as we don't have a workaround for this issue.

Thanks!

[2021-01-19 13:28] reimannf commented on #343
As per README.md, currently there is only support for:

But I can check whether it is an easy fix to adding this for Blob HEADs.

[2021-01-19 14:08] tatiesmars commented on #343
@reimannf
Thank for you reply,

AFAIK the HEAD request is the request made by browser to verify CORS.

As described by this doc, HEAD is pretty much the same as a GET request.

[2021-01-19 23:27] reimannf commented on #343
Ok, it seems there is a misunderstanding here. The CORS pre-flight request via `OPTION` is supported. What is not support atm, that all methods will include the CORS response headers when doing the actual request after the preflight.
Your example configures `HEAD` as allowed method for CORS, although `s3proxy` does not include the headers in a `HEAD` response.

I will try to file a PR with 2 thing

[2021-01-20 09:00] tatiesmars commented on #343
Thanks for clearing this out, after a bit of testing I think I understand better the problem we are facing.

I am using now the following curl command to debug it:
[code]
and those are the headers received:
[code]
The problem is that I set `S3PROXY_CORS_ALLOW_ORIGINS`to `*`, I would expect the header `Access-Control-Allow-Origin` to be equal to `*` but instead it got set to the value of the origin

[2021-01-20 21:41] reimannf commented on #343
Well, the specification for CORS is not accurate enough at exactly that point. It does not state clearly whether the exact configured CORS rule should be returned in the `Access-Control-Allow-Origin` header or the result of the evaluation. Technical it should not matter as you do the preflight for a `GET` request for Origin `http://localhost` and you get a `200`, which should be enough for the cli

[2021-01-20 22:21] Rotemy commented on #343
@reimannf The issue is that we are pointing a CDN to the proxy server and then the file is cached with the headers of the first request that was made for the file.

So if foo.com called that file for the first time, even if foo2.com will ask that file from the CDN the headers will have foo.com as they are cached.

This is why we need the proxy server to return *.

[2021-01-20 22:59] reimannf commented on #343
ok, in that scenario the issue is more related, that the response is missing the `VARY` header including the CORS headers. I think I will rather include that in the responses.

[2021-01-21 07:29] Rotemy commented on #343
@reimannf In that case, the request will not be cached by the CDN and every time a client will ask for the file it will be fetched from the proxy server.

Maybe you can add `S3PROXY_CORS_ALLOW_ALL_WILDCARD` and allow the developers that use this library to set the wildcard?

[2021-01-21 22:54] reimannf commented on #343
I did a little bit further reading regarding the caching use case and also tried the original behaviour directly against AWS S3.
My preliminary opinion is, that you are right and I might need to change the current responses from s3proxy to match AWS S3. Will update here asap.

[2021-01-26 03:38] #343 closed

[2021-03-07 08:53] #330 closed

[2021-03-08 11:30] ggrussenmeyer commented on #323
For the record, I just ran into the very same issue today (with OVH OpenStack Swift), using s3-proxy-1.8.0.
When indicating `project:$OS_TENANT_NAME` (or `projectId:$OS_TENANT_ID`) for the `JCLOUDS_KEYSTONE_SCOPE` environment variable, it works.

[2021-03-29 10:05] waffel opened #348 "release binary should have the suffix .jar"
I have downloaded latest release (not source code) and got an file without any suffix ("s3proxy").

Because it is an jar file (I can start it via 'java -jar s3proxy').

My suggestion is to name the download file also 's3proxy.jar'.

[2021-03-29 11:02] gaul commented on #348
This is an executable jar that should be `chmod +x` as described in the README.  If you want to interact with S3Proxy as a Java program you should use the jar file on Maven Central.

[2021-03-29 11:02] #348 closed

[2021-03-29 11:47] waffel commented on #348
OK .. I'm running under Windows :-) ... so no 'chmod +x' ... but ok for me ... was just a minor hint

[2021-03-31 02:23] #340 closed

[2021-03-31 02:25] gaul opened #349 "PutObjects support"
Minio will implement an unpack RPC that S3Proxy could also benefit from:

https://twitter.com/abperiasamy/status/1376998079249833986

This is likely inspired by a similar Swift feature.  One of the potential use cases is uploading many small objects over a high-latency link.

[2021-03-31 02:30] gaul opened #350 "Compounding middleware for WAN optimization"
One of the slowest s3fs operations is `readdir` which requires ListObjects followed by a HeadObject for each object.  S3Proxy could improve performance over WANs by locating an S3Proxy instance closer to the object store.  Thus the HeadObject latency would reduce and S3Proxy could return a single response including user metadata to the client.  This would require some client changes to realize the

[2021-03-31 05:05] timuralp opened #351 "Middleware to shard objects across a configurable number of buckets"
Some object store providers impose rate limits or perform poorly as the number of objects in a bucket exceeds certain amounts. It would be great to have a middleware in S3Proxy that shards content across a configurable number of buckets and presents a virtual bucket to the end user.

[2021-03-31 05:05] timuralp commented on #351
A scheme like this would depend on hashing the object name and placing it in the appropriate shard. There are a few notable issues with this middleware:
1. reconfiguring the number of shards would result in existing data being inaccessible
2. creating the shards as part of create container may be expensive, but lazy-creating them could fail otherwise successful requests (or if the bucket creation

[2021-03-31 12:34] gaul commented on #351
Resharding is technically and operationally difficult.  Perhaps you could defer it to an external mechanism, for example requiring users to duplicate objects into twice as many buckets?  This would require a careful use of the hash function so that the mapping works.  I believe the Swift ring only supports a fixed range of growth, e.g., starting with 256 virtual buckets in 8 physical buckets that

[2021-04-02 16:16] klolos opened #352 "Cannot use S3Proxy with Azure Pod Identities"
We are trying to deploy S3Proxy in a Kubernetes cluster on AKS in order to translate AWS S3-compatible requests performed by our own software to Azure Blob Storage requests. Even though passing an Azure storage account token to the `JCLOUDS_CREDENTIAL` variable works, we are having trouble authenticating using Azure Pod Identity credentials.

In a nutshell, Pod Identities allow pods running in an

[2021-04-04 00:58] timuralp commented on #308
I checked that I observe the same behavior.

[2021-04-04 00:58] #308 closed

[2021-04-04 02:12] gaul commented on #352
jclouds will need to add support for Pod Identities and refreshing the credential.  I recommend opening a [JIRA issue](https://issues.apache.org/jira/projects/JCLOUDS/issues) although you will likely need to submit a pull request yourself.

[2021-04-04 02:17] gaul opened #353 "Return full stack trace on unexpected errors"
In #352 a user reported an error with this HTTP error:

[code]

S3Proxy should return the full stack trace to make debugging easier.

[2021-04-08 07:26] timuralp commented on #351
Great points!

Agreed. I will defer the resharding to the consumer. I think the way this could work is by setting up a second "virtual" bucket with the new desired number of shards and doing server side copy from one "virtual bucket" to the other.

What do you think about listing all the shards in parallel and stitching the responses? This would amplify the number of requests by the number of shar

[2021-04-09 07:18] timuralp commented on #271
Closed as a dup.

[2021-04-09 07:18] #271 closed

[2021-04-25 13:44] gaul commented on #316
Could you test s3fs with Backblaze's native S3 API?  This likely works better than S3Proxy.

[2021-04-28 16:29] kortemik opened #356 "multiple client identities"
I would like to create backend for authenticating multiple users which then would be proxied forward as a one user. For this approach I did some research and found out that BlobStoreLocator is quite tightly tied with the identities to provide multibackend support for a single instance of the s3proxy.

Requirements for such a authentication/authorization component are that it needs to access the re

[2021-04-29 08:12] kortemik commented on #353
I think this should be configureable

[2021-04-29 11:53] gaul commented on #356
`BlobStoreLocator` allows mapping a given identity to a (credential, BlobStore) pair.  Multiple `--properties` flags allow adding several different static configurations as you have discovered.  But `BlobStoreLocator` could be any dynamic implementation if you programmatically override it via `setBlobStoreLocator`.  Does this address your use case?  Otherwise I am happy to accept PRs to improve th

[2021-04-29 15:04] kortemik commented on #356
thank you, i'll investigate on the possibility to use a custom locator. it seems on the first hand to offer enough information for our use case.

[2021-04-29 15:04] #356 closed

[2021-05-04 09:39] vguilleaume opened #357 "Cannot create object/file - Openstack Swift Keystone 3.0 / HTTP response code 500 was returned, slowing down"
I'm facing with an issue with S3FS -> S3PROXY connected to an OpenStack Swift - Keystone 3.0

Connection is working as expected.
We see that the system hang when creating file in container swift.

The system create object but do not allow to save it. System can list, read existing contents , but the creating through S3FS - S3proxy do not work. Furthermore , when we tried to try to create one, obje

[2021-05-04 10:14] vguilleaume commented on #357
Here is another set of error message i received when trying to list the container
`[s3proxy] W 05-04 10:13:01.241 S3Proxy-Jetty-27 o.g.s.o.e.j.server.HttpChannel:396 |::] /my_container/my_file2.txt
java.lang.NullPointerException: null
	at org.gaul.s3proxy.S3ProxyHandler.addMetadataToResponse(S3ProxyHandler.java:2841)
	at org.gaul.s3proxy.S3ProxyHandler.handleBlobMetadata(S3ProxyHandler.java:1628)

[2021-05-04 10:30] gaul commented on #357
Could you test with the latest master?

[2021-05-04 10:32] vguilleaume commented on #357
I will do right now

[2021-05-04 10:37] vguilleaume commented on #357
Hi @gaul,

Let me couple of minutes, as i believe i have to rebuild the "project" , if you have somewhere a short description how to rebuild a "image", please let me know. Then i will be faster to test it.

[2021-05-04 10:44] gaul commented on #357
CI should have pushed a new build to Docker Hub.  Otherwise you can build locally with `mvn package` which produces `target/s3proxy`.

[2021-05-04 10:51] vguilleaume commented on #357
Thanks, i preparing a `mvn` to build it. I keep you updated.

[2021-05-04 11:24] vguilleaume commented on #357
Great news ! This is working perfectly now. Thanks for your quick reaction and support. I can close the ticket.

[2021-05-04 11:24] #357 closed

[2021-05-28 03:23] gaul commented on #279
JDK 17 will add xattr support for macOS which should improve compatibility: https://bugs.openjdk.java.net/browse/JDK-8030048

[2021-06-01 01:32] gaul commented on #303
Fixed in S3Proxy 1.8.0.

[2021-06-01 01:33] gaul commented on #121
S3Proxy 1.8.0 requires Java 8 so we can upgrade these dependencies now.

[2021-06-05 06:34] gaul opened #360 "Travis Docker Hub rate limit errors"
This happens often:

[code]

S3Proxy uses a multistage builder to create the image but this shouldn't pull down an excessive number of layers.

[2021-06-05 14:18] #121 closed

[2021-06-05 14:21] gaul commented on #309
Addressed by 86d12a81b0782d22f1938960cfa879943e774801.  S3Proxy now requires Java 11 to compile but runs on Java 8 as per 1506f482c14ff52705a45ee6b8a3cd9d68990aa5.

[2021-06-05 14:21] #309 closed

[2021-06-05 14:23] #325 closed

[2021-06-05 14:23] #351 closed

[2021-06-05 14:29] gaul commented on #281
Closing due to inactivity.  Please reopen if symptoms persist.

[2021-06-05 14:29] #281 closed

[2021-06-05 14:29] gaul commented on #285
Closing due to inactivity.  Please reopen if symptoms persist.

[2021-06-05 14:29] #285 closed

[2021-06-05 14:29] gaul commented on #262
Closing due to inactivity.  Please reopen if symptoms persist.

[2021-06-05 14:33] gaul commented on #307
Closing due to inactivity.  Please reopen if symptoms persist.

[2021-06-05 14:33] #307 closed

[2021-06-05 14:37] gaul commented on #231
Closed due to inactivity.  Please open if symptoms persist.

[2021-06-05 14:37] #231 closed

[2021-06-05 14:38] #180 closed

[2021-06-05 14:39] gaul commented on #157
This is likely due to using the older aufs which is not likely relevant any longer.

[2021-06-05 14:39] #157 closed

[2021-06-06 06:42] gaul commented on #338
I think I misinterpreted this issue.  S3Proxy/jclouds should preserve the MPU-style ETag even when it internally converts the multiparts into a single part.  There is no need for a configuration flag.  @bsfarrell @timuralp do either of you want to work on this?

[2021-06-06 06:43] timuralp commented on #338
I can look into the change in jclouds to store the MPU ETag using extended attributes (where supported). I believe this would resolve this issue and help improve the filesystem blobstore S3 compatibility.

[2021-07-26 13:27] j4dk opened #362 "Encountering AccessDenied when using aws-s3 backend"
Hello!

First off I'd like to say thanks for the incredible work you've been putting on :) Much appreciated.
Secondly, we're examining the use of s3proxy as a way for us to deploy our services in a cloud-agnostic manner. Testing the s3proxy with an Azure backend was successful and looks real nice. When trying to spin up a s3proxy container with the aws-s3 backend, I run into bunch of AccessDenied

[2021-08-04 09:44] j4dk commented on #362
Running it with the following works:
`docker run --publish 8080:8080 --dns 8.8.8.8 --env LOG_LEVEL=trace --env JCLOUDS_PROVIDER="aws-s3" --env JCLOUDS_ENDPOINT=https://s3.amazonaws.com --env S3PROXY_ENDPOINT=http://0.0.0.0:8080 --env S3PROXY_AUTHORIZATION="none" --env JCLOUDS_IDENTITY="XXX" --env JCLOUDS_CREDENTIAL="YYY" andrewgaul/s3proxy`

Closing this :)

[2021-08-04 09:44] #362 closed

[2021-08-05 10:40] gaul commented on #338
References apache/jclouds#118.  Upgrading to jclouds 2.4.0 will resolve this issue.  ETA: September.

[2021-08-11 05:37] berlinsaint opened #363 "Using wget will directly download without specify ak sk"
my dockercompose file:
[code]

then use  command `wget  localhost:8080/bucket/file1` will directly download the file ..

is there an permission check bug here?

[2021-08-11 11:37] gaul commented on #363
This seems unlikely given the negative credentials tests in `AwsSdkTest.testAwsV4SignatureBadCredential`.  I'm not sure what code you are running with the image `hub..com/xxxx/s3proxy:latest`.  Perhaps this third-party image disables authentication?  Also maybe try experimenting with different values for `S3PROXY_AUTHORIZATION` and `S3PROXY_CORS_ALLOW_HEADERS` to see if this influences the behavio

[2021-08-12 00:45] berlinsaint commented on #363
thanks for the reply.

`hub..com/xxxx/s3proxy:latest` is the offical image from the docker hub. it's version is 1.8.1:
![image](https://user-images.githubusercontent.com/10629930/129120780-2e9720d1-3923-4c18-adf3-7e06e2dd1eb6.png)

version:
![image](https://user-images.githubusercontent.com/10629930/129120827-321f175e-7853-40ac-9064-6aa32454eada.png)

using wget：
![image](https://user-images.githu

[2021-08-16 03:31] berlinsaint commented on #363
Closed. The file must be uploaded by the s3 inteface   rather than  exited file (may be  leak of some attrs)

[2021-08-16 12:49] gaul commented on #363
I can reproduce these symptoms.  First with a blob created by the AWS CLI and retrieved via wget:

[code]

Next when created via direct filesystem access and retrieved via wget:

[code]

[2021-08-16 12:53] gaul commented on #363
Can you check the permissions on your file?  I found that when it had world-readable `0664` then S3Proxy allowed reading it but without `660` it did not allow reading.  The reason for this is that S3Proxy converts the S3 public access metadata into the world readable bit.

[2021-08-16 12:53] #363 closed

[2021-08-17 01:42] berlinsaint commented on #363
checked. and my file has `644`, change to `640`will be ok

[2021-08-17 02:29] whybeyoung opened #364 "Support different ak/sk for per Bucket?"
After read the doc, i don't find that how to set different ak/sk for per bucket. if not support, please suggest me how to adapt  to this case.  I'm not prefer start multiple s3proxy process to deal with it, it's very expensive

[2021-08-17 02:34] gaul commented on #364
@timuralp I think you are looking into this?

[2021-08-17 03:16] berlinsaint commented on #364
My case is a mulit teanant case, and i want to provide user with different bucket, every user can control their own bucket.

Now the s3proxy only provide one pair ak/sk, which has data leak in our case...

I thinks it's a useful feature in s3proxy...

[2021-08-17 04:33] timuralp commented on #364
I'm investigating using the bucket to look up the blobstore in the blobstore locator. The s3proxy configuration would look like a collection of properties files, one per tenant, with a set of buckets per blobstore. @berlinsaint is that similar to your ask?

[2021-08-17 04:58] berlinsaint commented on #364
It's similar, but not  the same.  if use multiple properties you said（and i have saw that indeed）, means it will restart or then reload the config properties , which sounds like not very graceful. in additionaly, it will provide a set of buckets not only one ...

I saw that the doc mentioned that not support acl, disappointed a little... maybe this feature is related to “multiple user and give the

[2021-08-19 16:29] cuttingedge1109 commented on #256
Health check endpoint without authentication is desirable for s3proxy itself.

[2021-08-22 06:37] gaul opened #367 "Set up new CI"
Travis-ci.org shut down so we need to move the project to Travis-ci.com or GitHub actions.  Note that the project needs this to push to Docker Hub.

[2021-08-23 09:59] kortemik opened #368 "request and response log"
I am willing to make a PR for request and response log feature.

Would it be preferred that one adds:

1) A separate handler in addition to S3ProxyHandlerJetty like Jetty describes for NCSA at https://www.eclipse.org/jetty/documentation/jetty-9/index.html#configuring-jetty-logging

2) Modifies the S3ProxyHandlerJetty so that it takes a logging class implementatation as argument and modify S3Proxy

[2021-08-23 12:28] gaul commented on #368
One simple implementation would to be to add `logger.trace` calls for the request and response codes and headers.  What value does a logger class provide?

Duplicate of #213?

[2021-08-23 14:26] kortemik commented on #368
Logger class provides the ability to log needed headers and such, of course we could change that the logger.trace outputs them all as json but it may be too much for request log.

[2021-08-27 01:01] timuralp opened #370 "Bucket alias middleware"
For certain use cases, it may be convenient to be able to rename the backend bucket and specify the mapping via a middleware. This would allow keeping bucket names the same on the application side or avoid collisions.

[2021-08-27 01:07] timuralp opened #371 "Use container names to disambiguate backend stores"
s3proxy disambiguates backend stores by different credentials, which means that from the application side typically a new client needs to be created to connect to the different backends. To reduce friction, it would be great to be able to configure s3proxy with multiple backends with the same credentials and specify the buckets associated with them.

The specific use case is Azure, where multiple

[2021-09-07 11:57] gaul commented on #302
Are you using the filesystem backend?  It has a limitation where if a file "foo" exists then you cannot create "foo/bar" since the filesystem already contains a foo file.

[2021-09-07 12:01] gaul commented on #349
Related to #350.

[2021-09-08 13:02] gaul commented on #367
Moved to Travis-ci.com.

[2021-09-08 13:02] #367 closed

[2021-09-10 03:11] interstellarPotato opened #375 "Failure to write into aws s3 bucket"
When attempting to put an object into aws s3 server rejects the request.

**Curl command:**
[code]
**Here is the stacks trace:**
[code]

**These is the list of headers:**
[code]

I am sure I am missing something obvious. Would appreciate communities advice on this one. :) Additionally PUTing object into the same bucket via s3 cli works fine.

[2021-09-10 11:56] #338 closed

[2021-09-24 20:44] pppaulpeter commented on #306
Hi,
may i know how do you test it?
this is my log when i run the proxy container
 docker run --publish 80:80 --env S3PROXY_AUTHORIZATION=none 1bbcc87a6733
[s3proxy] I 09-24 20:42:19.034 main o.g.s.CrossOriginResourceSharing:95 |::] CORS allowed origins: []
[s3proxy] I 09-24 20:42:19.037 main o.g.s.CrossOriginResourceSharing:96 |::] CORS allowed methods: []
[s3proxy] I 09-24 20:42:19.037 main o.g.s

[2021-10-20 07:53] #371 closed

[2021-10-28 15:43] ansman opened #382 "Support arm64"
The latest MacBook uses the M1 CPU which is Apple Silicon running arm64. Currently this image only supports `linux/amd64`. It should be fairly easy to support multiple architectures: https://docs.docker.com/desktop/multi-arch/

[2021-11-05 19:46] gaul opened #385 "Require Content-MD5 header in DeleteObjects requests"
AWS requests this:

https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeleteObjects.html

[2021-11-10 11:35] dginelli opened #387 "Activating a research fault localization bot on your project?"
Hi!

We are software engineering researchers and are currently looking for active open-source projects where we could test a new cool software bot: flacocobot!

When a new pull request is open, if it has test failures/errors, flacocobot analyzes the failure and posts a diagnosis as comments to the pull request, highlighting the most suspicious lines that likely need to be analyzed to fix the bug.

[2021-11-10 13:32] gaul commented on #387
No thanks.

[2021-11-10 13:32] #387 closed

[2021-11-15 18:53] YFLOPS opened #389 "400 errors with endpoint.getHost() on GCP"
Using the latest container from dockerhub.  The identity and credential are pulled from my serviceaccount.json file, I can use gsutil ls and gsutil ls my-test using this information on the same host and get results.  (Note, it is very hard to determine in the logs if your keys work or it is something else)

Runtime:
`docker run --publish 8080:8080 -v /root/key:/tmp/key --env-file s3vars andrewgaul

[2021-11-16 09:32] #382 closed

[2021-11-24 18:56] YFLOPS commented on #389
There seems to be differences in how the container parses variables than the non-container version.  With CentOS7 we can't compile it locally, but replaced the entrypoint with a script that runs 'exec java /opt/s3proxy/s3proxy --properties /tmp/s3proxy/s3proxy.conf' and we volume mount the properties file on startup.

Issues found
In container had to specify the jclouds.endpoint for google, don't

[2021-11-25 11:09] cstamas opened #392 "JClouds 2.4.0 -> s3proxy 1.9.0 causes Sig errors on s3proxy"
Using JClouds 2.4.0 S3 API against S3Proxy 1.9.0 (using transient, but tried with file on Linux FS supporting attributes storage)

For one of the request, we get signature errors (so s3proxy claims jclouds provided AWS signature is wrong). while many other request is just fine.

Note: we get this problem with any combo that uses 1.9.0 s3proxy. This is a test suite, and all (many many similar) othe

[2021-11-25 12:42] gaul commented on #392
Since this happens in your tests could you try git bisecting the changes between 1.8.0 and 1.9.0?  Specifically I wonder if upgrading from Jetty 9.2 to 9.4 caused this issue.  4686ede0bdfd546f6167a872f57bb879c6bc5275 has a suspicious test change that matches the differing `Content-Type` that you describe.

[2021-11-25 12:42] cstamas commented on #392
@gaul I think I found the issue. The Jetty upgrade (from 9.2 to 9.4) brought in some interesting things along the lines :smile:

Jetty 9.4.2x+ by default "normalizes" the request (as in HttpParser as in HttpGenerator). As I see (by analyzing headers what our app sends to s3proxy), they "see" two different things:
* our app (jclouds) sends header `text/plain;charset=utf-8` (lower case), I can confi

[2021-11-25 12:48] cstamas commented on #392
Yes, https://github.com/gaul/s3proxy/commit/4686ede0bdfd546f6167a872f57bb879c6bc5275#diff-154f5886142935454ec888f1b6e3d0f39091f3255506bf495e5d871f8e0099efL637 is exactly what am seeing

[2021-11-25 13:01] gaul commented on #392
b47e8387fd4c6dd727398b4177b063661590c8b6 sets Jetty `STRICT` mode so we should be seeing the original value.  Maybe Jetty 9.4 changes this behavior?

[2021-11-25 13:05] cstamas commented on #392
@gaul hm, I did not spot that, but seems is not working: I was looking for WARNING in log that Jetty should emit when this is set... but is not.

[2021-11-25 13:11] cstamas commented on #392
Here is the log that should be triggered by STRICT mode: https://github.com/eclipse/jetty.project/blob/jetty-9.4.41.v20210516/jetty-http/src/main/java/org/eclipse/jetty/http/HttpParser.java#L245
I also see it in decompiled code:
![screenshot](https://user-images.githubusercontent.com/45165/143447589-353db456-add4-47d7-b831-fa9dbbd03269.png)

[2021-11-25 13:33] cstamas commented on #392
As I see (decompiled) s3proxy code, this property you (and I tried) to set is totally unused, due how Jetty is constructed in S3Proxy class....

[2021-11-25 13:58] gaul commented on #392
S3Proxy was using an older Jetty for many years to maintain compatibility with Java 7.  The 9.4 upgrade may have changed how this property is set.  System-wide properties are a bad mechanism anyway...

[2021-11-26 10:05] cstamas commented on #392
Tried updating Jetty to latest (9.4.44.v20210927)  but same issue still happens (and UT fails as well).

[2021-11-29 22:01] dcarrion87 opened #395 "Issue serving text files"
When uploading text files such as JS or CSS files to s3proxy it seems being uploaded as binary and web browsers unable to interpret them.

Is this expected behaviour?

<img width="505" alt="Screen Shot 2021-11-30 at 9 00 40 am" src="https://user-images.githubusercontent.com/2899172/143949700-5dbea59a-ab27-4275-b91c-f0b0026a26ad.png">

[2021-11-30 00:30] gaul commented on #395
This is unexpected.  How did you create this object, e.g., upload via AWS CLI?  Did you use some kind of gzip or other transformation?

[2021-11-30 08:09] dcarrion87 commented on #395
Aah yep that's what it was. It was uploading GZIP compressed. Sorry about that.

[2021-11-30 09:45] gaul commented on #395
Does the behavior differ from AWS?  Perhaps S3Proxy does not interpret the compressed Content-Type?

[2021-12-01 23:13] dcarrion87 commented on #395
That seems to be the case.

[2021-12-02 12:01] gaul commented on #395
Could you provide a test case that reproduces the symptoms, e.g., using the AWS CLI?  s3-tests should have a test case for this too although I don't know if it does currently.

[2021-12-03 07:07] janbartel commented on #392
@gaul you don't have to use the system property to set the compliance mode.

Here: https://github.com/gaul/s3proxy/blob/master/src/main/java/org/gaul/s3proxy/S3Proxy.java#L91  change your constructor to `new HttpConnectionFactory(new HttpConfiguration(), HttpCompliance.LEGACY);`.

[2021-12-28 02:28] gaul commented on #360
Superseded by #382.

[2021-12-28 02:28] #360 closed

[2022-01-04 23:43] gaul opened #396 "Java 17 compatibility"
S3Proxy relies on an older version of Guice which does not allow some illegal reflective accesses.  jclouds 2.5.0 will address this via [JCLOUDS-1586](https://issues.apache.org/jira/browse/JCLOUDS-1586) although we could override the version in S3Proxy if we run a release sooner.

[2022-01-08 11:08] gaul opened #397 "Upgrade Docker image to Java 11"
Can someone from the community test this?

[2022-01-09 08:48] timuralp commented on #397
There is no `opendjk:11-jre-alpine image`, so I tested `openjdk:11-jre-slim`, which appears to work as expected (only did a small test that the container starts and I can create bucket and PUT an object). This image is a little bigger -- 243MB. There is an alpine image from the eclipse temurin project (`eclipse-temurin/openjdk:11-jre-alpine`). This similarly appears to work and results in a 149MB

[2022-01-17 02:01] gaul commented on #397
I think that getting on a more recent Java version is more important than minimizing binary size.  The true solution to this is [jlink](https://docs.oracle.com/javase/9/tools/jlink.htm) to avoid bundling the entire JDK but I don't understand how to do this.

During earlier s3fs integration tests I found that S3Proxy using Java 11 performed somewhat faster than 8 (maybe better hashing vectorization

[2022-01-17 02:10] gaul commented on #396
The primary motivation for this is to allow macOS to use xattr with the filesystem storage backend.

[2022-01-20 17:28] hcheng2002cn opened #400 "azure ListBlobs with file after not supported"
when using s3 proxy connect to azure, our s3 source connector try to get available file list after certain file, got attached exception. After we change to minio azure gateway, same connector work fine. Would you please help to take a look ? The S3 source connector we are using is https://github.com/lensesio/stream-reactor/tree/master/kafka-connect-aws-s3.
Thanks for help.

[code]

[2022-01-21 14:21] gaul commented on #400
I wonder if the `&marker=restore/0/778.avro` query parameter should be URL-encoded?  This would change `/` to `%2F`.  Can you check the Azure docs?  The fix for this would be changing jclouds `AzureBlobClient.listBlobs` and adding `urlEncode = true`, similar to apache/jclouds@7ebf12bf3867c7cdead772b8c80675c8a41bf7fa.

[2022-01-21 19:15] hcheng2002cn commented on #400
@gaul thanks, make sense. will test once have time.

[2022-01-22 10:43] #392 closed

[2022-01-22 10:44] gaul commented on #392
@janbartel thank you for the hint!  I fixed this in gaul/s3proxy@2e61c3862656419f2a0452d9ceab22be311e84fb.

[2022-01-22 10:47] gaul commented on #392
Jetty 9.4 and newer still have mysterious behavior removing spaces from Content-Type, changing from `"text/html; charset=UTF-8"` to `"text/html;charset=utf-8"`, but I think this issue is addressed.

[2022-01-24 00:09] gaul opened #401 "Investigate jlink to avoid bundling entire JDK"
Using [jlink](https://docs.oracle.com/javase/9/tools/jlink.htm) may allow reducing S3Proxy's JDK dependency and make it easier to deploy, e.g., in Docker #397.

[2022-01-26 12:21] gaul opened #402 "Object server-side encryption"
Lack of support prevents some kinds of testing, e.g., s3fs integration tests with `-o use_sse`.  Full support for this requires jclouds work like apache/jclouds#130.  Is there some shortcut here instead of implementing a few providers and the portable abstraction?  Perhaps just passing through the S3 headers?  I notice that https://github.com/jiffysrc/s3proxy/commit/fc8547fb52c4013712760ee93b648d4

[2022-02-01 07:03] gaul opened #403 "Add middleware to replace ETag"
PutObject responses from AWS include a base64-encoded ETag which other requests like conditional GetObject use.  This ETag is the MD5 hash of the object which some clients will compare against the client-generated MD5.  Azure and B2 return a non-MD5 ETag which makes those clients fail their PutObject requests.  Could S3Proxy add a middleware to calculate the MD5 and return it?

[2022-02-01 11:48] joakime commented on #392
Many values in various common headers come from lookups (called a `Trie` in Jetty code) to reduce object creation and GC load.
Typically the first time a header appears it's nuances with OWS (Optional White Space) and case sensitivity are cached in a Trie.
For `Content-Type`, it has it's own Trie maintained in the MimeTypes object, and is pre-loaded with various common MimeTypes.

If you notice, t

[2022-02-01 12:19] cstamas commented on #392
Thanks for detailed explanation.

[2022-02-07 00:33] AArnott opened #404 "How to run docker against Azure Storage?"
I'm trying to piece together from the wiki and the dockerfile how to run the s3proxy against an Azure Blob Storage account. This is what I have:

[code]

But this fails when accessing http://localhost:80 with this error:

I tried with the endpoint set to just `arnottmedia` as well, to no avail. I don't know what to put for identity because Azure only offers 'keys' (no IDs).

Any suggestions?

[2022-02-07 01:51] timuralp commented on #404
There are two ways to configure Azure Blob access. One possibility is using the Azure tenant ID, client ID, and password. The settings would look like:
[code]

The other method is via Azure storage Keys, which uses the key and storage account name and looks like:
[code]

I don't think you need to specify the endpoint -- S3Proxy should infer it from the storage account name that was passed in.

[2022-02-07 04:32] AArnott commented on #404
Thanks. I tried the latter, and it still gives me that same getHost error message

[code]

[2022-02-07 04:43] #397 closed

[2022-02-07 07:38] timuralp commented on #404
@AArnott Thanks for testing it out. Looks like the `-Djclouds.endpoint=""` is not handled properly by the underlying jclouds library, resulting in an empty string for the endpoint and hence the above error. Two workarounds until the jclouds issue is fixed:
1. define the endpoint explicitly, e.g.: `-Djclouds.endpoint="https://arnottmedia.blob.core.windows.net"`
2. use a property file and change the

[2022-02-09 03:12] liamwhite commented on #73
Here's a simple failure
[code]
because the code tests if the parameter value is empty rather than if the parameter is present
https://github.com/gaul/s3proxy/blob/11868c22ccfb32e157b088ba838f92b3cbb69db9/src/main/java/org/gaul/s3proxy/S3ProxyHandler.java#L719

[2022-02-09 06:22] gaul commented on #73
@liamwhite Which S3 client do you use to access S3Proxy?  The `uploads=1` parameter does not exactly match the AWS documented [CreateMultipartUpload RPC](https://docs.aws.amazon.com/AmazonS3/latest/API/API_CreateMultipartUpload.html).  I prefer to fix the client but will also accept an S3Proxy PR to be more liberal with all the parameter checks, e.g., `getParameter() != null`.

Note that this issu

[2022-02-14 00:44] gaul opened #408 "Docker Hub latest tag is 3 months ago"
The latest tag looks strange:

https://hub.docker.com/r/andrewgaul/s3proxy/tags

@ansman maybe related to your changed in #382?

[2022-02-14 20:50] ansman commented on #408
You can see in my PR (https://github.com/gaul/s3proxy/pull/391/files#r749858733) that the `latest` tag will only be updated if you push a git tag. This maps to the best practices with Docker where `latest` refer to the latest released version as opposed to the latest pushed commit.

[2022-02-15 00:35] gaul commented on #408
This makes sense.  Sorry I missed this earlier.

[2022-03-02 14:36] #288 closed

[2022-03-02 14:39] gaul opened #410 "S3Proxy 2.0.0"
Apache jclouds will release 2.5.0 this month and I would like to also release S3Proxy 2.0.0.  I will try to review the open PRs.

[2022-03-03 11:10] cstamas commented on #392
@gaul can we expect a patch release (like 1.9.1) with this fix? As current 1.9.0 is broken due this issue with Mime types that are handled as explained in @joakime comment above (like text/plain is).

[2022-03-03 13:53] gaul commented on #392
#410.

[2022-03-03 18:59] timuralp commented on #404
jclouds PR: https://github.com/apache/jclouds/pull/135

[2022-03-10 10:10] xgourmandin commented on #396
Checking to know if this one is still wanted.
I've tested successfully the project with Java 17 by updating manually guice to 5.0.1 in S3Proxy.
But it seems that Jcloud 2.5.0 is ready to be delivered as all issues are fixed.
Do you still want this to release this earlier, or are we waiting for the next JCloud release ?

[2022-03-10 11:31] gaul commented on #396
Let me release jclouds 2.5.0 then I will run another S3Proxy release.

[2022-03-15 15:44] kasbuunk commented on #262
I have similar configuration as @eden881, but get 500 error with the following log in the s3proxy container:
[code]

[2022-03-23 19:47] mmezei opened #411 "OPTIONS requests on presigned URL's wrongly check signature, causing failure for client-side requests"
When a browser based application uses a pre-signed URL (typically generated by its API), the browser issues an OPTIONS request first to check CORS. OPTIONS requests apparently do not include the content-md5 and x-amz-acl headers that are required for successful signature validation. This causes the OPTIONS request to fail with a SignatureDoesNotMatch error, resulting in the browser fail the PUT. A

[2022-03-26 10:52] #396 closed

[2022-03-27 12:32] gaul commented on #410
Merged jclouds 2.5.0.  I plan to run a release next weekend.  Please help test this before the release!

[2022-03-29 08:53] vladimirfx commented on #410
New `S3ProxyExtension` requires set credentials even in NONE mode:

[code]

In `S3ProxyExtension` `AuthenticationType.NONE` is default but the service is crashed with NPE when no credentials are set.

[2022-03-29 12:11] gaul commented on #410
Please open a new issue for this symptom.  PRs welcome but I do not consider this a blocker.  @xgourmandin related to #347?

[2022-03-31 14:35] xgourmandin opened #412 "NPE when credentials set to None and credentials not set"
Relative to #410 comment, fix NPE when credentials are set to the default `AuthenticationType.NONE` in `S3ProxyExtention` and `S3ProxyRule`

[2022-04-01 12:16] #412 closed

[2022-04-03 11:05] #410 closed

[2022-04-03 22:48] gaul commented on #408
I pushed a new tag but latest is still not updated.  Any pointers?

[2022-04-07 17:55] ansman commented on #408
@gaul You can see why here: https://github.com/gaul/s3proxy/actions/runs/2085063419

It's because the tag name isn't parsable (it was ` s3proxy-2.0.0`). If you instead tag it with `2.0.0` then it should work as expected.

[2022-04-08 05:18] gaul commented on #408
Changing the tags sounds like a headache.  Why can't the script just ignore the `s3proxy-` prefix?

[2022-04-08 12:25] ansman commented on #408
I used https://github.com/docker/metadata-action to handle the tagging. They seem to expect a [semver](https://semver.org) compatible tag name which doesn't allow for prefixes like that.

You could switch the tagging to be `raw` (which just uses the tag name as is) but then you'd lose some of the benefit.

There currently seems to be no way to ignore the prefix so you're stuck with replacing that

[2022-04-11 15:22] radekcz opened #414 "Error: Unknown header x-amz-te with URI (Camel aws2-s3)"
When I try to use s3proxy for testing aws2-s3 component from Apache Camel, I keep getting Error:

`[S3Proxy-Jetty-46] ERROR org.gaul.s3proxy.S3ProxyHandler - Unknown header x-amz-te with URI`

I know this issue can be solved by the configuration of s3-client but when I use Camel aws2-s3 component, I'm not able to change this setting. So is it possible to implement/ignore this attribute on s3proxy

[2022-04-16 07:18] gaul commented on #414
This seems like an unfortunate default behavior from your client.  I believe that this is related to [additional checksum algorithms](https://aws.amazon.com/blogs/aws/new-additional-checksum-algorithms-for-amazon-s3/).  Ideally S3Proxy would add full support for this, at least enforcing the checksum during upload.  But ignoring the header is probably a sufficient workaround.

[2022-04-18 12:16] st-h opened #415 "[cors] missing Access-Control-Allow-Credentials header"
When trying to access a file using a browser and a cors request that includes cookies, the request fails due to:

```Credentials flag is true, but Access-Control-Allow-Credentials is not "true".```

This is a browser limitation. Example of a fetch request:

[code]

Pull request: https://github.com/gaul/s3proxy/pull/416

[2022-04-26 00:33] Mikhael-Danilov opened #417 "Option for default access level to objects on fliesystem provider"
It seems that when
[code]

configuration was used any file with known full path inside `./s3_base` cloud to be retrieved by anonymous user regardless of `s3proxy.authorization` setting.

It clouds be useful to add an option for default access level to objects on filesystem provider.

[2022-05-06 09:46] cstmgl opened #418 "question: An error occurred storing the new blob with name"
Hi all,
I must start by saying I just discovered this project a couple of days ago and I'm really happy with it because it really provides what I was looking for, a tool that helps me with my unit-testing for APIs using S3.

However I have a weird behavior that I'm not sure how to explain or what might be the reason, so wondering if anyone experienced this and can give me some pointers.
Basically

[2022-05-19 12:50] lostfocus commented on #315
Hi! I've written a small example here: https://github.com/lostfocus/s3proxy-demonstration

I hope that helps to demonstrate the problem.

[2022-06-12 09:59] gaul commented on #408
Pushed manually via:

[code]

However this only pushes linux/amd64 and not linux/arm64.  I don't have time to investigate this but will happily merge improvements that do not require changing the tag scheme.

[2022-06-24 14:29] ryanfaircloth opened #421 "unable to determine header causing rejection"
With trace configured the following error is logged without a specific unsupported header
sendSimpleErrorResponse: 501 NotImplemented A header you provided implies functionality that is not implemented. {}

I also tried setting S3PROXY_IGNORE_UNKNOWN_HEADERS=true with no change in behavior

[2022-06-24 15:06] ryanfaircloth commented on #421
headers sent per logs
[code]

[2022-06-25 01:40] gaul commented on #421
S3Proxy raises 501 NotImplemented for unknown headers, parameters, and some values, e.g., ACLs.  Do you have any more logs, e.g., "Unknown parameters {} with URI {}"?  Another possibility is that some Java code somewhere raised `UnsupportedOperationException`.  You can add `uoe.printStackTrace()` in `S3ProxyHandlerJetty.handle` to diagnose this further.

[2022-06-27 14:26] ryanfaircloth commented on #421
This should be the logs from one complete post at trace level
[code]

[2022-06-27 18:46] ryanfaircloth opened #422 "Jetty 9.4 is EOL as of this month"
Because Jetty 9.4 is EOL the version of jetty used should be upgraded to 10 or preferably 11

[2022-06-27 21:39] gaul commented on #421
S3Proxy only supports [private and public-read ACLs](https://github.com/gaul/s3proxy#limitations=) but you specified bucket-owner-full-control:

[code]

[2022-06-27 21:41] gaul commented on #422
Jetty 10 will increase the [Java version requirement from 8 to 11](https://www.eclipse.org/jetty/).  This is not a blocker but usually annoying for some subset of the community.

[2022-06-28 12:34] ryanfaircloth commented on #422
Fair but with a important component going EOL that will be a blocker for many for compliance /security reasons

[2022-06-28 12:35] ryanfaircloth commented on #421
Thank you The client developer gave me an option to change the value

[2022-06-28 12:35] #421 closed

[2022-06-28 12:38] ryanfaircloth opened #423 "Tag docker images with version numbers"
Having version tagged images improves ease of use for administrators by making it clear when a release version of the container is published.

[2022-06-29 02:57] gaul commented on #418
It seems like there is an unexpected stub file, possibly from an incomplete or concurrent operation?  But I believe that `File.renameTo` does not replace the file on Windows.  It looks like [Files.move](https://docs.oracle.com/javase/7/docs/api/java/nio/file/Files.html#move(java.nio.file.Path,%20java.nio.file.Path,%20java.nio.file.CopyOption...)) with the correct flag might help.  Could you try th

[2022-06-29 03:09] gaul commented on #417
I'm trying to understand the use case -- you configured S3Proxy to allow anonymous access but only want to allow access to x-amz-acl `public-read` and not `private`?  By default jclouds `FilesystemStorageStrategyImpl.getBlobAccess` uses the `PosixFilePermission.OTHERS_READ` bit to determine whether to allow public access.  Does this match your expectations?

[2022-06-29 17:13] ryanfaircloth commented on #423
I can work on this one

[2022-06-30 13:16] ryanfaircloth opened #427 "Feature Request Implement health check probe"
Implement a health check probe "/healthz" that returns 200 on get  using a http endpoint not serving s3 i.e 8080 for a get this should return 200 this will prevent infra mon solutions including k8s from killing containers when misconfigured our back end systems fail

[2022-07-03 23:34] Mikhael-Danilov commented on #417
My full config is follows:

[code]

So I believe client should be only able to access any data after authorization with some_id:some_key, and this is indeed try for files listing or write operations, however clients able to access data on known path anonymously which is a cause of my confusion.

I'll try to revoke PosixFilePermission.OTHERS_READ bit from my filesystem storage.
Thank you,

[2022-07-17 13:37] #408 closed

[2022-07-17 13:37] #423 closed

[2022-07-21 03:28] gaul commented on #427
Does minio or some other private object store have a mechanism that S3Proxy could mimic?

[2022-07-21 13:02] ryanfaircloth commented on #427
Yes, its really as simple as an additional "status" endpoint that returns 200 and a json payload { 'status': "ok" } and optionally an error if not ok with a 500.  An example using jetty
https://gist.github.com/jkutner/7b3d154729de6563f7387c26c656233c

The status endpoint will allow k8s to avoid sending requests until the instance is fully started and prevent it from killing the instance if its slo

[2022-07-24 12:16] gaul commented on #303
I still see this with S3Proxy 2.0.0:

[code]

[2022-07-25 07:06] cstmgl opened #452 "Unable to create parent directories of …. when using local file system and deployment without docker"
Hi all,

I was hoping this to be a basic error but I get this error message when using the application.
Just for reference I'm using this as part of my test framework and I have a tool that connects to Kafka and then generates data into S3 but somehow the writing with this test framework is failing (I don't have the error writing to actual S3).

[code]

Any idea what might be?
I have the most basi

[2022-07-25 12:16] gaul commented on #452
I don't have a Windows instance so it is hard for me to debug this.  But it appears that Java does not believe that:

[code]

exists despite calling `File.mkdirs`.  Windows has some [strange restrictions on file names](https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file) so I might experiment with some simpler file name.  Specifically it appears that Windows [limits `MAX_PATH` to 2

[2022-07-25 13:48] cstmgl commented on #452
I'll give it a try today and see if I can make something out of it.
If yes I'll update it back here.

[2022-07-25 21:52] cstmgl commented on #452
I'm giving it a try but I was looking at the documentation and I think for what I want I did a massive miss understanding of the tool.

I think the S3ProxyRule gives me most of the things I need for my tests.
https://github.com/gaul/s3proxy/wiki/Using-S3Proxy-in-Java-projects#example

[2022-07-30 09:53] gaul commented on #427
I just want to align S3Proxy with a similar implementation instead of creating some proprietary functionality.

[2022-08-04 21:24] pdspx commented on #262
I'm experiencing the exact same issue, running the latest docker image with the following config:

[code]

error:

[code]

[2022-08-08 02:31] gaul commented on #303
Needs jclouds 2.6.0 upgrade.

[2022-08-08 12:17] #422 closed

[2022-08-08 12:18] gaul opened #460 "Check Checkstyle config"
It does not appear that CI is running this any more.

[2022-08-18 12:44] kartikeyporwal commented on #421
Hi @ryanfaircloth,

I'm having the same issue and `S3PROXY_IGNORE_UNKNOWN_HEADERS=true` is not working for me either!

Wondering what value did you change? Did you remove `--acl bucket-owner-full-control` when using `s3proxy`?

I appreciate your response.
Thank you.

[2022-08-30 19:01] nr-ey opened #461 "Configure all copy ops to be multipart?"
Is it possible to force all copy operations to be multipart? We have S3Proxy sitting behind an Azure App Gateway (with a Web App Firewall) and it limits uploads to max 2 MB unless the request has a multipart content type. Unfortunately, we cannot control how the S3 API calls are constructed on the client-side, as S3Proxy itself sits in front of a vendor app that was originally designed for AWS. An

[2022-09-01 13:52] gaul commented on #461
I think we should accept some configuration knob and environment variable in this case.  Could you submit a PR to add this?

[2022-09-06 17:15] nebojsa-simic opened #462 "Azure Storage returns 403 for azureKey authentication method"
# Steps to reproduce

1. Download 2.0.0 `s3proxy` from the downloads page (https://github.com/gaul/s3proxy/releases/download/s3proxy-2.0.0/s3proxy)
2. Create s3proxy.properties file containing the example from the wiki (https://github.com/gaul/s3proxy/wiki/Storage-backend-examples)
[code]
3. Use AWS CLI and retrieve the container list:
```aws s3 ls --endpoint-url http://127.0.0.1:8084```

# Expect

[2022-09-14 15:22] nebojsa-simic commented on #462
Using
```jclouds.azureblob.auth=azureAd```
and setting corresponding parameters, everything works correctly

[2022-09-15 12:18] nebojsa-simic commented on #462
It's caused by this:
https://issues.apache.org/jira/browse/JCLOUDS-1579

My azure storage was indeed set to Premium Page Blobs.
Do you have some place where this can be documented? (wiki, faq)

I've spent quite a bit of time trying to figure it out and want to save time for anyone encountering this problem.

[2022-09-15 12:18] #462 closed

[2022-09-16 11:14] alex-arica opened #463 "Public Read access does not work for bucket"
I am using S3Proxy version 2.0.0 which is deployed in a Kubernetes locally with Kind.

I deployed the S3Proxy Docker container in Kubernetes with the following configuration:
[code]

I have a server-side Java application which creates a bucket "photos" which is publicly accessible, as follows:

[code]

The same Java app uploads a photo to the bucket "photos" to the following path:
[code]

I can se

[2022-09-26 13:11] #395 closed

[2022-09-26 19:23] scrgiorgio opened #465 "Openstack v3"
Hi have this (working) script to manipulate Swift Object Storage:

[code]

but I am having problems translating this for S3Proxy (all the examples I found are using username/password).
Could you point me in the right direction?
Thanks

[2022-10-03 10:59] AnnejanBarelds opened #466 "Illegal characters in Blob metadata not handled gracefully"
Hi. I'm investigating S3Proxy for suitability in a use case where I want a third-party application to use Azure Blob Storage via the S3 API. The third-party application is not open for modification, so I have to make do with whatever it is throwing at the API.

I'm running into an issue where the application is attempting to store metadata with a blob that contain illegal characters (i.e. a dash '

[2022-10-11 10:40] kinoute commented on #63
We have a similar issue where S3proxy works perfectly to serve images but is unable to serve mp4 files and let the browser play them. Downloading the mp4 works fine.

We can see two requests: the original one which seems to download the whole file and another one that asks for a range bytes of 0-1, returning a 206 partial content status code.

Funny enough, the video can be played on Firefox. But

[2022-10-15 10:25] kinoute commented on #63
In our case, adding these lines to our nginx fixed the issue:

[code]

[2022-10-24 07:31] vladimirfx opened #467 "Jakarta based release"
Please consider publishing the first Jakarta-based release.

[2022-10-24 10:15] gaul commented on #467
Do you mean publishing a release containing #422?  I plan to run another jclouds release before releasing S3Proxy 2.1.0.

[2022-10-24 12:05] vladimirfx commented on #467
Super, thank you!

[2022-10-24 21:08] gaul commented on #467
I am traveling for a few weeks but you can use the latest 2.1.0-SNAPSHOT in the mean-time.

[2022-10-25 07:40] vladimirfx commented on #467
Just checked 2.1.0-SNAPSHOT in tests - it is all green. Waiting for release. Than you again!

[2022-10-27 10:06] BasJ93 opened #468 "Multi-Part upload to Azure Blob causes growing files"
We've deployed S3Proxy to an AKS cluster to be the proxy in front of Azure Storage. Half the blobs we upload are below the default 4MB limit for multi-part uploads to Azure, the other blobs start at 25MB.

These 25MB files are causing us some problems, namely when we push these through the proxy they increase in size. It appears the data is appended to the already stored blob instead of the blob b

[2022-10-27 12:59] EraYaN commented on #427
This is essentially how all ASP.NET stuff does it for example, although the content of the actual health check is moot for kubernetes. The only "standard" that is really out there is the Grpc Healthchecks.

Google seems to be the source of the healthz endpoint. So stuff like prometheus also implements it as does ASP.NET Core in most examples. MinIO does something a bit more complex because they wa

[2022-10-27 15:14] EraYaN opened #469 "If using configuration as written on the wiki Azure Blob does not work (empty endpoint url)."
So the problem is if you leave the endpoint empty it is not correctly inferred. Leading to BadRequest error for Puts and empty errors for MultiPart uploads. When you then put the full endpoint URL in there it does work.

Used config is:
[code]

But the `jcould.endpoint=https://xxxxxxxxx.blob.core.windows.net` entry is mandatory apparently.

If on startup the endpoint is empty maybe emitting an err

[2022-10-27 16:11] gaul commented on #468
Can you give more specific steps to reproduce your symptoms ad the expected behavior?  I don't understand what is happening.

[2022-10-31 08:36] BasJ93 commented on #468
Of course.

### Expected behavior
- Upload file
- Download file
- Verify files are the same size
- Upload file again (replacing the original file)
- Download file
- Verify files are the same size

### Observed behavior
- Upload file
- Download file
- Verify files are the same size
- Upload file again (replacing the original file)
- Download file
- File in storage has now increased with the size of

[2022-10-31 14:47] Jayd603 opened #470 "Middleware - sharding to multiple backends"
Is this currently possible?  I see I can shard across virtual buckets which is nice but it's not clear on if it would allow sharding across multiple backends.   That feature would be great.

[2022-11-04 00:00] Jayd603 opened #471 "Multipart?"
I have s3proxy on a ubuntu server writing to a network share on the local file system... with very large uploads, the uploads seem to be completing ok but the aws client says it timed out.  It looks like there are 16mb multipart chunks being created and that is where the IO delay is happening.  I'm assuming an ack to client isn't taking place until after the mpus are combined?   Just a guess, but

[2022-11-15 22:34] thakkarnirav commented on #375
Have you found any solution?

[2022-11-16 17:03] caseyoneill opened #472 "Need S3PROXY_AUTHORIZATION Documentation in Wiki"
I started off testing S3Proxy with Authorization set to none and everything worked great. However, as I roll this out to production I want to secure the server. I see that the default value for the docker S3PROXY_AUTHORIZATION ENV is "aws-v2-or-v4". I'm rather confused as to what this means and I can't find any explanation in the wiki.

I currently have S3Proxy setup to connect to AWS S3 with JCLO

[2022-11-18 01:28] Jayd603 opened #473 "Large files / many files issues when using filesystem"
It appears like directory listings are recursive (that is, s3proxy is reading in all files before presenting the client with anything) and even listing the root directory leads to a traversal before the list is shown, even if only one directory needs to be shown it can take awhile to list directories if there are a lot of files within sub-directories, especially if you are pointing the filesystem

[2022-11-18 06:50] timuralp commented on #472
AWS supports two signing methods for S3 requests: v2 (deprecated - https://docs.aws.amazon.com/general/latest/gr/signature-version-2.html) and v4 (https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html). Setting the value to aws-v2-or-v4 allows both signing methods to work.

You can configure front-end (client-facing) credentials to be different from the backend. This is a useful f

[2022-11-28 21:53] nr-ey commented on #262
@pdspx Did you figure this out?

[2022-11-29 00:16] pdspx commented on #262
I didn't, sorry

-------- Original Message --------
On Nov 28, 2022, 4:53 PM, nr-ey wrote: