[2014-07-27 20:59] andrewgaul opened #1 "larger than 2 GB single-part uploads"
jclouds dependency on Java 6 limits S3Proxy to 2 GB single-part uploads.  When jclouds merges jclouds/jclouds#426 S3Proxy can support larger uploads, although many providers have a 5 GB single-part limit.

[2014-07-27 21:04] andrewgaul opened #2 "native multi-part upload"
AWS-S3 limits single-part uploads to 5 GB and provides multi-part uploads to allow larger blobs.  This API consists of initiate, uploadPart, complete, abort, and listParts.  How to translate these multiple calls into the single jclouds method `BlobStore.putBlob(blob, multipart())`?  Can S3Proxy provide a dynamic `Payload` variant which demuxes these calls?

[2014-07-27 21:06] gaul opened #3 "listen on HTTPS"
S3Proxy only supports listening on the HTTP protocol.  It should also support HTTPS to allow use on untrusted networks.  How to configure Jetty to allow this while minimizing user complexity of certificate management?

[2014-07-27 21:07] gaul opened #4 "support authorization"
S3Proxy ignores the Authorization header in S3 requests.  It should validate this against configurable local credentials.

[2014-07-27 21:13] andrewgaul opened #5 "S3 compatibility test"
S3Proxy should use an existing S3 compatibility tool such as https://github.com/ceph/s3-tests instead of a hodge-podge of unit tests, jclouds integration tests, and s3fs-fuse operations.  Results from the latest jclouds integration test run:

[code]

[2014-07-27 21:15] andrewgaul opened #6 "filesystem provider metadata support"
jclouds filesystem provider does not support metadata due to its dependency on Java 6.  When jclouds merges jclouds/jclouds#443 S3Proxy can support all metadata operations, including user metadata.

[2014-07-28 04:06] gaul opened #7 "publish release"

[2014-07-28 07:06] gaul opened #8 "support bucket-in-hostname"
S3Proxy supports bucket-in-path URLs, e.g., example.com/bucket-name/blob-name.  It should also support bucket-in-hostname URLs, e.g., bucket-name.example.com/blob-name.

[2014-07-30 07:18] #4 closed, assigned to nobody

[2014-08-12 06:43] #7 closed, assigned to nobody

[2014-08-12 09:16] brackxm opened #9 "NumberFormatException on open range"
A half open range, like -500 or 9500- results in a NumberFormatException.
Both parts of the range are always parsed as long.

stacktrace:

[code]

[2014-08-12 09:36] brackxm opened #10 "error on copy"
copying within the same bucket results in error on transient store

[code]

[2014-08-12 19:28] #9 closed, assigned to nobody

[2014-08-13 22:25] #10 closed, assigned to nobody

[2014-08-14 02:39] timuralp opened #11 "Support multiple providers/configurations"
It would be great to be able to support multiple providers/configurations through a single S3Proxy process. For example, by specifying AWS S3 and GCS, one could transfer data from one provider to another (there are a bunch of other use cases).

One way to do this would be to use the location (but that feels like an incorrect patch, as the location itself may be useful to express).

Another way wou

[2014-08-14 08:21] #3 closed, assigned to nobody

[2014-08-18 06:25] gaul opened #12 "allow proxy-server multi-part upload"
Some object stores limit single-part object size to a much smaller size than S3, e.g., Azure's 64 MB limit.  S3Proxy should use multi-part uploads in this situation and provide a configuration knob to enable it.  Note that this issue discusses proxy-server transfers, whereas #2 discusses client-proxy transfers.  Azure specifically needs a fix for [JCLOUDS-671](https://issues.apache.org/jira/browse

[2014-08-18 06:44] #12 closed, assigned to nobody

[2014-08-18 22:18] gaul opened #13 "S3Proxy includes bogus Expires headers"
S3Proxy incorrectly compares the return value of `HttpServletRequest.getDateHeader` against 0 instead of -1:

http://docs.oracle.com/javaee/6/api/javax/servlet/http/HttpServletRequest.html#getDateHeader(java.lang.String)

[2014-08-18 22:24] #13 closed, assigned to nobody

[2014-08-20 21:20] dweinstein opened #14 "hang on HEAD request?"
[code]

[code]

[code]

[code]

I had to Ctrl-c out of it. Is this expected behavior?

[2014-08-20 21:42] #14 closed, assigned to nobody

[2014-08-27 02:51] #8 closed, assigned to nobody

[2014-10-10 10:27] brackxm opened #15 "commandline port configuration"
Allow setting port (or all configuration) via commandline.
Example use case: setting the port for running on heroku.
For example this could be done via environment variables or system properties.

[code]

[code]

[2014-10-10 17:21] #15 closed, assigned to nobody

[2014-10-14 23:24] dweinstein opened #17 "403s all of a sudden?"
I redeployed my docker container and now I'm getting 403 on things that I think used to work:

[code]

[code]

[code]

Any idea?

[2014-10-15 00:25] #17 closed, assigned to nobody

[2014-10-15 01:14] dweinstein opened #18 "Blob metadata ignored with filesystem provider"
[code]

Expected content-type to not be defaulted to `application/unknown`. This was on 67927983476baf4388acf3f9b458b575182035da. I'll take a peek at the code.

[2014-10-15 01:24] dweinstein opened #19 "HTTP 204 code for DELETE requests"
Expected the status code to be `200` or `202` for a `DELETE`:

[code]

[code]

Instead currently it seems to 204. I'll take a peek at the code.

[2014-10-15 01:39] #19 closed, assigned to nobody

[2014-11-18 15:13] #18 closed, assigned to nobody

[2014-11-19 08:32] andrewgaul opened #24 "AWS signature V4"
Amazon allows V2 signatures for old regions and requires [V4 signatures](http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html) for new regions like eu-central-1 (Frankfurt).  jclouds plans to move to V4 by default for aws-s3 [JCLOUDS-480](https://issues.apache.org/jira/browse/JCLOUDS-480) so we must support V4 to allow jclouds applications to use S3Proxy.

[2014-12-30 23:36] andrewgaul opened #25 "Use proper encapsulation library to emit XML"
s3proxy emits unescaped strings in its XML output, e.g., bucket and object names.

[2015-01-06 01:57] kahing opened #30 "create bucket treats authorization errors as bucket already exists"
I created an IAM user with incorrect user policy, and when I tried to create a bucket with s3cmd, it gave me errors about bucket already existed instead of the correct error

[2015-01-12 04:48] #25 closed

[2015-01-13 19:40] andrewgaul commented on #8
s3cmd 1.5.0 supports bucket-in-path, see s3tools/s3cmd#375 and s3tools/s3cmd#416.

[2015-01-22 22:03] #1 closed

[2015-01-22 22:03] #6 closed

[2015-01-24 09:50] greenstevester opened #37 "maven build failing - Failure to find org.apache.jclouds.labs:glacier:jar:2.0.0-SNAPSHOT"
Hi Andrew, it just did a pull and tried to build your code locally with maven and got:

Failure to find org.apache.jclouds.labs:glacier:jar:2.0.0-SNAPSHOT in https://oss.sonatype.org/content/repositories/snapshots

Do you see this as well?

Regards,
Steve

[2015-01-24 10:24] greenstevester opened #38 "maven shade v2.3 plugin is broken"
Hi Andrew,

FYI: maven shade v2.3 plugin is broken see https://jira.codehaus.org/browse/MSHADE-183

I patched it locally, bumped up the plugin version to 2.3.1 and your pom ran fine!

Regards,
Steve

[2015-01-24 12:03] #37 closed

[2015-01-24 12:06] andrewgaul commented on #38
@greenstevester I can reproduce these symptoms with Maven 3.2.5.  I will watch the upstream issue and upgrade to the next version of Shade when released.  In the mean-time downgrading to Maven 3.2.3 works around this issue.

[2015-01-24 12:08] andrewgaul commented on #37
@greenstevester Travis CI seems to include the Apache snapshot repository by default and my local install of jclouds masked these symptoms.  I fixed this in pom.xml; thanks for reporting this issue!

[2015-01-25 10:44] greenstevester commented on #38
Thanks for the quick response and work-around!

On 24 Jan 2015, at 13:06, Andrew Gaul <notifications@github.com> wrote:

Steven Greensill
Technoparkstrasse 8,
8005 Zürich,
Switzerland
t: +41 76 474 6784
e: steve@greensill.net

[2015-02-04 01:07] mafrosis opened #39 "List all command from s3cmd is listing /tmp as my buckets"
It seems calling `s3cmd la` is returning the list of directories in `/tmp` as my bucket list - and subsequently causing an exception because a bucket has an underscore in the name.

Can you take a look at s3tools/s3cmd#474 and see what you think please?

[2015-02-04 01:27] andrewgaul commented on #39
@mafrosis Could you share your s3proxy.conf?  It appears that you are using the filesystem blobstore with `jclouds.filesystem.basedir=/tmp` and illegal container names in /tmp.

[2015-02-04 01:37] mafrosis commented on #39
You guessed it.. I don't actually know the provenance of this config - it's been sitting around there unused for a while:

    s3proxy.authorization=none
    s3proxy.endpoint=http://127.0.0.1:8880
    jclouds.provider=filesystem
    jclouds.identity=identity
    jclouds.credential=credential
    jclouds.filesystem.basedir=/tmp

[2015-02-04 03:22] mafrosis commented on #39
Full stack trace for the `NullPointerException `:

	W 02-04 12:40:21.289 qtp470088803-18 o.e.jetty.server.HttpChannel:398 |::] /host_machine/?delimiter=/
	java.lang.NullPointerException: null
	        at org.jclouds.filesystem.strategy.internal.FilesystemStorageStrategyImpl.populateBlobKeysInContainer(FilesystemStorageStrategyImpl.java:457) ~[s3proxy:1.3.0]
	        at org.jclouds.filesystem.strat

[2015-02-04 05:01] #39 closed

[2015-02-04 05:04] mafrosis commented on #39
@andrewgaul Glad you got that cleared up :)

Can I conclude that the following should be removed from my config? Is there any reason for using such a construct?

    jclouds.filesystem.basedir=/tmp

[2015-02-04 05:30] andrewgaul commented on #39
I am not sure why you saw a `NullPointerException`, whether the directly had some broken symlink or some other issue, but the jclouds code should handle this.  Upstream should release jclouds 1.9.0 including this fix in a few weeks then I will run another S3Proxy release.  In the mean-time you can compile your own binary from the instructions in README.md.

You need to set `jclouds.filesystem.base

[2015-02-04 05:38] mafrosis commented on #39
I see, thanks. I'll make `jclouds.filesystem.basedir` an empty directory especially for `s3proxy`'s use. Using `/tmp` was how we ended up with buckets with underscores in the name.

Good to catch a couple of edge cases in both `jclouds` and `s3cmd` though! Thanks for your help.

[2015-02-14 03:23] andrewgaul commented on #5
Fixed via #36.

[2015-02-14 03:23] #5 closed

[2015-02-22 17:05] andrewgaul commented on #38
This issue is causing Travis CI builds to fail:

https://travis-ci.org/andrewgaul/s3proxy/builds/50581682

[2015-02-22 17:08] andrewgaul opened #44 "bucket and object canned ACLs"
jclouds 1.9.0 will add bucket and object ACL support via [JCLOUDS-660](https://issues.apache.org/jira/browse/JCLOUDS-660) and [JCLOUDS-732](https://issues.apache.org/jira/browse/JCLOUDS-732).  S3Proxy can easily add get and set ACL RPCs but needs some additional work to pass an authentication context through for unauthenticated reads.

[2015-02-22 17:56] andrewgaul commented on #30
Can you add a test to s3-tests which demonstrates this?

[2015-02-26 22:50] #38 closed

[2015-03-05 00:14] andrewgaul opened #46 "native server-side object copy"
S3Proxy emulates server-side copy by performing reads and writes within S3Proxy.  While this is an improvement over client-side copy, instead S3Proxy should implement native support in jclouds via [JCLOUDS-651](https://issues.apache.org/jira/browse/JCLOUDS-651).

[2015-03-10 03:10] andrewgaul opened #48 "Support service paths"
Some object stores like Eucalyptus Walrus use service paths, e.g., `https://host/services/Walrus/container-name/blob-name`.  S3Proxy supports these for the S3 back-end via `jclouds.s3.service-path`; it should support them for the front-end as well.

[2015-03-18 21:26] andrewgaul opened #49 "support anonymous bucket and object access to public-read assets"
Now that S3Proxy support `setBucketACL` and `setObjectACL`, it should support anonymous access to public-read buckets and objects.  This requires extending how we do authentication; presently S3Proxy supports only authenticated or anonymous access globally but this should happen at the object level.

[2015-03-18 23:56] andrewgaul commented on #49
Duplicate of #44.

[2015-03-18 23:56] #49 closed

[2015-03-31 21:25] andrewgaul commented on #46
Outstanding pull request: jclouds/jclouds#511

[2015-04-09 17:28] #46 closed

[2015-05-01 21:00] #2 closed

[2015-05-01 22:14] andrewgaul opened #55 "Release S3Proxy 1.5.0"
Master has three important features: v4 signing #24, native multi-part upload #2, and native copy object #46.  These require pre-release jclouds and we must wait until its next release.

[2015-05-01 22:44] andrewgaul opened #56 "Multipart copy"
Presently S3Proxy cannot copy objects larger than 5 GB.

[2015-05-04 20:46] kahing opened #57 "use Host header instead of hardcoded config value to do signing"
S3Proxy requires `s3proxy.virtual-host` setting to be set to the same value that application is sending. This complicates deployment and doesn't bring much value. S3Proxy should just take the value out from the Host request header.

[2015-05-05 17:46] andrewgaul opened #58 "Improve support for Azure multipart upload"
S3 uses a minimum MPU part size of 5 MB while Azure has a maximum part size of 4 MB.  Thus well-behaved S3 applications cannot use multipart upload with Azure.  S3Proxy should break the larger S3 request into multiple smaller Azure MPU requests.  This will require a more sophisticated mapping from S3 part number to Azure block ID.

[2015-05-05 18:06] andrewgaul commented on #58
Note that a large S3 single-part upload correctly maps to multiple, correctly-sized Azure blocks.

[2015-05-12 00:46] kahing commented on #57
after looking into s3 doc this is actually not possible

[2015-05-12 00:46] #57 closed

[2015-06-13 04:28] andrewgaul opened #62 "jclouds integration test failures"
We have several remaining failures:

[code]

[2015-06-16 13:29] lmivan opened #63 "Exception with partial content (206)"
I try to serve .mp4 files, so I put an nginx in front of s3proxy to set the right `content-type` (video/mp4). Once I do this I can write the following url in the browser: http://localhost/6015_2018_2035.h264.cutted.mp4

If I don't set the `content-type` the video is downloaded instead of being reproduced in the browser (chrome in my case).

The problem is that when chrome tries to reproduce the vi

[2015-06-16 17:39] kahing commented on #63
could you share your nginx config? What's s3proxy talking to in the backend?

[2015-06-16 22:39] andrewgaul commented on #63
Does the client request actually fail or does S3Proxy just log the EOFException?  Could you minimize this test case a little more with curl or similar request?

[2015-06-16 22:42] andrewgaul commented on #63
Could you enable trace-level logging via:

[code]

[2015-06-17 05:57] lmivan commented on #63
My nginx configuration file:

[code]

And the `s3proxy.conf` file:

[code]

On the client side (chrome browser) the only thing that happens is that the video doesn't play. On the server side I saw the previous trace trying to debug the code from intellij.

If I start `s3proxy` in debug mode, this is the log:

[code]

No exception is thrown but the video doesn't start in chrome.

If I execute a cur

[2015-06-17 06:10] lmivan commented on #63
So If you compare the different screenshot it seems that the only missing thing is that s3proxy doesn't add the `Content-Range` header.

I've been doing another test. I hardcoded the `Content-Range` header in my nginx configuration just adding this:

[code]

And now the browser sends a 3rd request to get more pieces of the video. Of course it doesn't start to play it because the bytes in every res

[2015-06-17 15:28] andrewgaul commented on #63
@lmivan I verified your symptoms and added additional tests at ceph/s3-tests#61.  I will add this functionality to S3Proxy later today.  Thank you for your help diagnosing this!

[2015-06-17 15:33] lmivan commented on #63
Great, thank you very much. Looking forward to testing the new code :-)

Thank you very much!

[2015-06-17 19:39] #63 closed

[2015-06-17 19:44] andrewgaul commented on #63
@lmivan Fixed in master although the filesystem blobstore has a dependency on jclouds/jclouds#776 which will wind up in the upstream snapshot repository over the next day.

I am curious about your use case for S3Proxy -- it should preserve metadata like Content-Type (except for the filesystem blobstore on Mac OS X due to [JDK-8030048](https://bugs.openjdk.java.net/browse/JDK-8030048)) without ngin

[2015-06-18 05:53] lmivan commented on #63
@andrewgaul Thank you. I'll wait until the jclouds dependency gets updated in the snapshot repository.

In using Linux but I've checked that s3proxy doesn't return the `Content-Type` of the file (at least for a video). That's why I used nginx to set the header. Should I open another issue related to the Content-Type? It should be great if s3proxy returns it correctly because we plan to server not

[2015-06-19 06:36] lmivan commented on #63
Hi @andrewgaul.

It seems that the snapshot repository for jcloud is not updated so what I've done is just clone the jclouds repository and generate the updated version.

With your last changes it is still not working. I've submitted this PR https://github.com/jclouds/jclouds/pull/779 to fix the Content-Range header.

Besides that change I still need to do the following configuration in my nginx f

[2015-06-19 06:51] lmivan commented on #63
I've been doing more tests and it seems that the header `Accept-Ranges` is not really necessary (although I think it should be added).

The `Content-Type` header is mandatory because without it the video is downloaded instead of being played in the embedded browser.

[2015-06-19 20:46] andrewgaul commented on #63
I need to read up some more on the HTTP spec to understand the `Accept-Ranges` header.  Let's address that within this issue.

Usually clients set the `Content-Type` during blob creation but since you are exposing existing files via the filesystem blobstore they have no headers set.  We could automatically detect the Content-Type in the jclouds filesystem blobstore similar to how OpenStack Swift u

[2015-06-20 10:29] lmivan commented on #63
Issue created: https://issues.apache.org/jira/browse/JCLOUDS-941

Thank you very much!

[2015-06-21 06:35] andrewgaul opened #65 "Add mechanism to model eventual consistency"
S3Proxy offers an opportunity to implement an eventual consistency middleware.  This would allow a more deterministic and reliable way to uncover applications erroneously relying on strong consistency.  This middleware could use two backend blobstores, writing the the first one and reading from the second, periodically syncing updates from the former to the latter.

[2015-06-22 19:46] andrewgaul opened #66 "Consider adding Accept-Ranges header"
RFC specifies that:

[code]

http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.5

Follow-on to #63.

[2015-06-24 22:03] andrewgaul commented on #62
Addressed the slow test runtime in jclouds/jclouds@d57b6e7b8f22caa29eae9b9677fa039d607cabb1.

[2015-06-30 21:12] andrewgaul opened #68 "S3Proxy incorrectly demangles _$folder_ blob names"
jclouds demangles blob names to emulate directories which are not useful to S3Proxy.  @kahing suggests working around this with:

[code]

[2015-07-06 08:06] markgaylard commented on #44
Does this mean that anonymous reads cannot be done at the moment? I'm using jclouds/filesystem and setting the acl on the objects as 'public-read' but when I request them I get '403 AccessDenied Forbidden null null' logged.

[2015-07-06 19:40] andrewgaul commented on #44
@markgaylard Presently public access does not work.  I have a work-in-progress commit at https://github.com/andrewgaul/s3proxy/tree/anonymous-access but have not yet revisited this.

[2015-07-07 18:39] andrewgaul commented on #44
@kahing Multiple blobstore backends conflict with anonymous access.  Presently we look up the correct backend using the identity which does not exist in the anonymous context.  Any suggestions on how to support both?

[2015-07-07 18:42] kahing commented on #44
https://github.com/andrewgaul/s3proxy/pull/59/files

[2015-07-07 18:58] andrewgaul commented on #44
Unfortunately we collide with the two definitions of anonymous access -- S3Proxy has an anonymous mode which disables authentication for all requests but we are trying to support per-request anonymous access based on ACLs in this issue.

[2015-07-10 02:04] sambiomatters opened #70 "Signature dosen't match"
Hello,

I'm getting signature issues, even though I've set the s3proxy.credential and s3proxy.identity to be the same as in my local ~/.aws/credentials file. Am I misreading the documentation, should this work?

[2015-07-10 02:12] #70 closed

[2015-07-13 21:02] #44 closed

[2015-07-13 21:04] andrewgaul commented on #44
@markgaylard Should be fixed now, please share your feedback.

[2015-07-17 23:01] #58 closed

[2015-07-24 18:09] andrewgaul opened #73 "POST uploads"
S3Proxy does not currently support POST uploads, triggering many s3-tests failures:

[code]

[2015-07-24 18:13] andrewgaul opened #74 "Object versioning"
S3Proxy does not currently support object versioning, triggering many s3-tests failures:

[code]

Implementing this requires upstream jclouds work tracked by [JCLOUDS-895](https://issues.apache.org/jira/browse/JCLOUDS-895).

[2015-07-24 18:25] andrewgaul opened #75 "Requests with unreadable characters"
Many s3-tests fail due to unreadable characters in headers:

[code]

Jetty immediately returns a 400 error for these requests which prevents S3Proxy from handling them:

[code]

[2015-07-30 21:22] #56 closed

[2015-07-30 21:40] andrewgaul opened #76 "Native multipart copy"
Presently S3Proxy emulates this with a range `getBlob` request followed by `uploadPart`.  Instead jclouds should offer native support.  Note that this will need the Azure part size workaround as the existing multipart upload code.

[2015-08-07 18:17] andrewgaul opened #77 "Conditional get"
S3Proxy should support conditional gets with:

* If-Modified-Since
* If-Unmodified-Since
* If-Match
* If-None-Match

The underlying jclouds already has support for this but s3-tests lacks test coverage ceph/s3-tests#72.

[2015-09-28 21:09] leonm opened #79 "Bucket in hostname on filestore provider"
According to the S3 api docs the bucket name should be part of the hostname of the URL ( http://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGET.html#RESTBucketGET-responses-examples ) In other words the bucket name is part of the domain and not part of the path.

So I added a couple of /etc/hostfile entries to test this behaviour of s3proxy with a filestore provider:
[code]
I used a pretty s

[2015-09-29 01:34] andrewgaul commented on #79
Could you try setting `s3proxy.virtual-host=s3` in your properties file?

[2015-09-29 10:29] leonm commented on #79
That works perfectly, thank you very much.

Is there somewhere I can write this up so that those after me have an example to work from?

[2015-09-29 10:29] #79 closed

[2015-10-05 20:47] alexmojaki opened #80 "Multipart upload results in "Form too large" exception"
I tried performing a multipart upload via the Java AWS SDK but jetty threw an exception:
[code]
The part is about 10 MB. Am I doing something wrong? The setup for the proxy was copied directly from `S3AwsSdkTest.java` and the client was set up as follows:
[code]
I didn't include the signer override part because I didn't know what algorithm to put in there.

As far as I understand the "Form too lar

[2015-10-05 22:17] andrewgaul commented on #80
Jetty has a default limit of 200,000 bytes:

https://wiki.eclipse.org/Jetty/Howto/Configure_Form_Size

I am having trouble verifying this fix -- could you try setting the `org.eclipse.jetty.server.Request.maxFormContentSize` system property and report your results?

[2015-10-06 06:29] alexmojaki commented on #80
Ah, I didn't see anything about system properties, just XML files. Anyway, I set the property, and I even printed it out to be sure, but the error is still there.

[2015-10-06 06:43] Dexus opened #81 "swift: how to select region? It is always the first entry selected."
[code]
my config:
[code]

[2015-10-06 12:56] alexmojaki commented on #80
I looked into the code and found it doing this:
[code]

[2015-10-06 16:36] dleute opened #82 "not authorized for swift and openstack-swift for softlayer object store backend"
I am attempting to connect s3 proxy to a softlayer object storage which should be equivalent to swift 2.2.

Pasted below is the error with the swift provider (removed auth string, replaced with ****)

I am using current master for this exercise. This first error is after successfully putting a file and then trying to get the same exact file.

Any help would be appreciated. Should I revert to a pre

[2015-10-06 16:39] dleute commented on #82
Conf file (with auth details blanked out)

s3proxy.authorization=none (using none to eliminate hurdles, but creates other problems)
s3proxy.endpoint=http://****:8080
jclouds.provider=swift
jclouds.endpoint=https://dal05.objectstorage.softlayer.net/auth/v1.0/
jclouds.identity=****
jclouds.credential=****

[2015-10-07 13:00] dleute opened #83 "s3cmd error because s3proxy does not return etag"
It looks like s3proxy doesn't return an etag which makes it difficult to use s3cmd with the proxy. Obviously any other client that uses the etag will also have issues.

This is on a s3cmd get s3://container_0/file.txt based on a swift provider.

I am receiving this error:

[code]

[2015-10-09 03:02] andrewgaul commented on #82
@dleute Can you test again setting `jclouds.provider=openstack-swift` and adding `jclouds.keystone.credential-type=tempAuthCredentials`?

[2015-10-09 03:09] andrewgaul commented on #83
@dleute I tested this using a SoftLayer backend and s3cmd 1.5.0 and master (e4639e0862ae04d348f127a96e09c1846bb20208) and cannot reproduce your symptoms.  Can you give me more information on which backend and client you are using?  Also re-run with debug logging to see what the backend provides via:

[code]

[2015-10-09 12:52] dleute commented on #82
This may have just fixed every problem I have. Is this documented somewhere?

I'll test for the next few days and get back to you!

Thanks for the response!

[2015-10-09 12:53] dleute commented on #83
I think this is because of my previous issue using the swift legacy provider. With your feedback for openstack-swift it is now working as expected.

I'll test for a bit and comment!

Thanks!

[2015-10-09 15:07] andrewgaul commented on #82
Could you add an example to the wiki once you verify a working configuration:

https://github.com/andrewgaul/s3proxy/wiki/Provider-examples

Thanks!

[2015-10-09 15:14] dleute commented on #82
Done! Closing this issue for now.

[2015-10-09 15:14] #82 closed

[2015-10-09 15:16] dleute commented on #83
This issue was related to #82 and has been resolved along with that issue.

Thanks for the help!

[2015-10-09 15:16] #83 closed

[2015-10-09 15:40] andrewgaul commented on #83
Thanks for the feedback on the legacy `swift` provider.  jclouds replaced this with the modern `openstack-swift` provider which has many improvements but retained the legacy provider since HP still uses it.

[2015-10-09 15:42] dleute commented on #83
Yep. I was aware. I just wasn't aware of the temp credentials to make it work with v1.0 auth. Does jclouds itself have documentation on the config parameters like that? I haven't found any yet.

[2015-10-14 20:10] #81 closed

[2015-10-14 20:14] andrewgaul commented on #81
@Dexus S3Proxy previously lacked support for specifying regions for Swift-based object stores.  I added support and an example for Rackspace Cloud Files here:

https://github.com/andrewgaul/s3proxy/wiki/Provider-examples#rackspace-cloud-files

In the current implementation, you specify a single `jclouds.region` (note not plural).  Note that Swift has multiple ways of specifying regions so you may

[2015-10-15 15:36] andrewgaul commented on #24
Pull request for tests: ceph/s3-tests#84

[2015-10-20 20:13] alexmojaki commented on #80
Hey, was there any progress on this? I don't want to nag but I got really hopeful when you responded so quickly the first time.

[2015-10-20 21:45] andrewgaul commented on #80
@alexmojaki I added some sanity checking and a test for 10,000 parts.  Could you retest with master and include a test case if you still encounter issues?

[2015-10-21 01:05] alexmojaki commented on #80
Hey, thanks for getting back to me. Unfortunately nothing seems to have changed but I've added the tests.

[2015-10-21 04:58] andrewgaul commented on #80
@alexmojaki Thank you for providing a test case!  I have investigated this more and found that Jetty incorrectly parses the put multipart object because the AWS SDK provides the incorrect Content-Type: application/x-www-form-urlencoded; charset=utf-8.  I am still investigating this but please see https://github.com/andrewgaul/s3proxy/commit/82f67359bfffe44bb2548171dc498198f9bc1635 for a workaround

[2015-10-22 09:26] auguster opened #88 "Multipart cleanup"
I noticed that when I send a file that triggers a multipart upload, after the upload some stuff remains.

For example, I have an empty file called `EXAMPLEJZ6e0YupT2h66iePQCc9IEbYbDUy4RTpMeoSMLPRp8Z5o1u8feSRonpvnWsKKG35t
I2LB9VDPiCgTy.Gq2VxQLYjrue4Nq.NBdqI-7e9ddb3d-b582-4e9f-b099-a824cedc87b4` that lies in the bucket next to the actual uploaded file.

This "junk file" is listed by `ls` and can be

[2015-10-22 14:06] alexmojaki commented on #80
Awesome! The workaround solved my problem. Now my library can be tested properly. Thanks so much for sorting this out. The library is here in case you're interested: https://github.com/alexmojaki/s3-stream-upload

[2015-10-22 16:44] andrewgaul commented on #88
https://github.com/andrewgaul/s3proxy/commit/5f1c4979eff4b9723edab7ba813a0a4f4f5223a7 fixed this although I am waiting for jclouds 2.0.0 before releasing S3Proxy 1.5.0.

[2015-10-22 18:01] auguster commented on #88
Ok, thanks ;-)

[2015-10-22 18:18] andrewgaul commented on #80
@alexmojaki Thanks for the reference!  Many jclouds users have asked for a similar feature over the years although we have not yet implemented it.  I recently made some changes to jclouds multi-part upload support which should allow this in the future, though.

[2015-10-23 12:26] auguster opened #89 "ACL and http form upload"
I read in the s3proxy documentation that it is possible to

Where can I find documentation about those ACL ?

I'm using the filesystem providers for testing purposes. I read on jclouds documentation that:

The page about [filesystem provider](http://jclouds.apache.org/guides/filesystem/) doesn't mention ACL.

Basically, I'm trying to upload files from an HTML form and download, all directly to s3p

[2015-10-23 12:33] auguster commented on #89
I didn't see that s3proxy doesn't support POST upload.
The question still remains for http get and public-read acl.

[2015-10-23 16:33] andrewgaul commented on #89
@auguster Did you test with S3Proxy 1.4.0 release or master?  The latter has several anonymous access mode fixes, specifically 618c35054c050ae2d92e9632e7987485de132096 and be3f38b937b62a13a2021a8510d7031a4bbd6ba1.  Generally S3Proxy only supports setting the private and public-read canned ACLs, either during object creation or during put object ACL.  Can you provide a minimized test case via some

[2015-10-23 17:35] auguster commented on #89
I'm still using the 1.4.0 release, I haven't tried the one you gave me in #88 .
I finally understood what the canned ACLs were. For future reference [here is the documentation](http://docs.aws.amazon.com/cli/latest/reference/s3api/put-object.html).

I'll try to see if my understanding of the ACL and upgrading to future s3proxy solve my issues. If not, I'll try to give a minimum working example usi

[2015-10-23 19:45] auguster commented on #89
I just deployed the 1.5.0 version you gave me, with the correct ACL, I can retrieve content from s3proxy without any trouble from the url of any webbrowser.

Making a HTML form with the correct AWS signature is a bit more complex. I'll need to figure this out. Does s3proxy support POST with `multipart/form-data` enctype ?

[2015-10-24 17:49] andrewgaul commented on #89
#73 tracks the missing POST upload feature.  Once S3Proxy supports this, you would generate a signed URL which the HTML form submits via POST.  Closing this since master resolved the ACL issue and #73 tracks POST.

[2015-10-24 17:49] #89 closed

[2015-11-04 22:24] #88 closed

[2015-11-11 01:13] andrewgaul opened #90 "Allow configuration via command-line"
This would simplify many of the examples, especially for the common use case of the filesystem provider with no authentication.

[2015-11-13 17:14] dleute opened #91 "multipart upload error with openstack-swift backend"
Current master is providing this error for a multipart upload using s3cmd:

ERROR: S3 error: 500 (Multiple entries with same key: 1=MultipartPart{partNumber=1, partSize=5242880, partETag=d2c07cca277ffb5924c4a77d12688bab} and 1=MultipartPart{partNumber=1, partSize=5242880, partETag=d2c07cca277ffb5924c4a77d12688bab}):

I assume this is because of the partNumber mismatch. Reproducing this:

[code]

T

[2015-11-13 20:16] #91 closed

[2015-11-13 20:21] andrewgaul commented on #91
@dleute I reproduced your symptoms and it was caused by an underlying jclouds issue as you suspected.  Swift MPU has user-exposed parts and an explicit manifest, unlike S3.  When deleting the MPU manifest, S3Proxy currently does not remove the parts.  Subsequent uploads found these parts and erroneously included them in the current MPU.  I fixed this issue although S3Proxy should also clean up the

[2015-11-13 20:29] dleute commented on #91
Wow, that was fast! :) I will follow up monday after things update!

Will your fix deal with past issues? meaning I have a specific object id that I've been pushing multi-part uploads to for a while, attempting to delete, then trying again. So there are a lot of fragments out there. I  had just realized that the delete was probably only deleting the manifest, not the fragments.  Any recommendation

[2015-11-13 20:34] andrewgaul opened #92 "S3Proxy does not delete Swift MPU parts"
S3Proxy needs to add [?multipart-manifest=delete](http://docs.openstack.org/developer/swift/overview_large_objects.html#deleting-a-large-object) to its Swift remove object call to delete all parts of an MPU.  Need to think about this a bit since we would send this unconditionally for all `removeBlob` calls.

[code]

Found by @dleute in #91.

[2015-11-13 20:41] andrewgaul commented on #91
New uploads will work correctly although you will still have the part litter that #92 tracks.  You can delete each part individually as a workaround for now.  If an application explicitly aborts a multipart upload S3Proxy should clean up all the litter.

Sorry I do not follow about the source code?  S3Proxy deploys the sources via maven-source-plugin; does this not work correctly?  Or do you have

[2015-11-13 20:50] dleute commented on #91
maven says source jars are not available for 2.0.0-SNAPSHOT (see below)

FYI: I am not an experienced maven user. So I could just be failing to do something I should.

I will resort to git clone if I have to. But I believe that means I need to make my changes in the underlying library, bump the version (not sure how that works with SNOPSHOT) do a maven install and then maven compile on s3proxy? Th

[2015-11-13 20:52] khoah64 commented on #91
Thanks for fixing it (in both s3proxy and jclouds) so fast!

[2015-11-15 07:23] andrewgaul commented on #73
@auguster I implemented basic support for POST uploads -- can you test it to see if it resolves your issue?  Note that S3Proxy still lacks support for policies.

[2015-11-15 22:55] auguster commented on #73
Thanks you for the news !
Unfortunatly I'll be away for the whole coming week, so I might not be able to test that before the week after...

[2015-11-16 13:46] dleute commented on #91
I can confirm that it is working at this time! Thanks for the quick fix!

[2015-11-16 14:55] dleute opened #93 "Re-factoring question for s3proxy portability"
Our requirements are a bit different. We have to effectively re-write the incoming url to a different outgoing url for use with s3proxy (and swift on our backend).

I accomplished this by writing a HandlerWrapper that makes necessary changes and forwards those requests using setRequestURI (which seems to have disappeared in newer versions of jetty. that's another issue) onto S3ProxyHandler. This "

[2015-11-16 18:57] andrewgaul commented on #93
Could you use jclouds [ForwardingBlobStore](https://github.com/apache/jclouds/blob/master/blobstore/src/main/java/org/jclouds/blobstore/util/ForwardingBlobStore.java) to rewrite the request after S3Proxy has handled it?  You would subclass `ForwardingBlobStore`, rewrite the request in each method, then call the superclass `BlobStore` which forwards along to Swift or similar provider.  I use this t

[2015-11-16 21:39] andrewgaul opened #94 "Anonymous access mode cannot list a private access bucket"
Anonymous access configuration should skip `doHandleAnonymous` handling which only allows access to public-read buckets and keys.  Discovered by @ritazh and @sedouard.

[2015-11-17 00:20] ritazh commented on #94
@andrewgaul Working on a fix now.

[2015-11-17 00:36] ritazh commented on #94
@andrewgaul Just to confirm, should the expected behavior be that when anonymous access is configured, handler should return all buckets and keys?

[2015-11-17 00:49] andrewgaul commented on #94
@ritazh Great! Yes anonymous access configuration should allow reading all buckets and keys.

[2015-11-17 01:05] ritazh commented on #94
@andrewgaul in the code block below:
[code]
The handler is getting anonymous access configuration from the http request header, instead of the `s3proxy.authorization` setting in the config file. Can you please confirm where this value should come from?

[2015-11-17 01:13] andrewgaul commented on #94
Yes, S3Proxy should skip over this logic when configured for anonymous access mode.

[2015-11-17 05:21] #94 closed

[2015-11-17 14:51] dleute commented on #93
I need to dig into the code on that. It's an interesting idea. I'm not sure how to get my custom forwarding blob store to be used. Is it parameter of the s3proxy config somehow? Or do I still modify the core s3proxy classes to use it? One down side is it looks like a lot of changes compared to re-writing the incoming url.

I would still argue that a re-factor might be beneficial for other reasons.

[2015-11-17 22:02] andrewgaul commented on #93
I agree that configuration of rewrite rules is hard and configuration is the reason I have not merged the eventually consistent blobstore simulator in #65.  Perhaps a more general mechanism to configure multiple object stores would make this more obvious.  Happy to review any refactoring pull requests, especially those that improve the readability of the code or ease-of-use for users.

Can you exp

[2015-11-17 23:59] #30 closed

[2015-11-18 17:29] dleute commented on #93
Right now, our use case is to accept the s3 api and shard to multiple swift containers. At this time, there isn't more complexity than that. But performance is a huge concern. Right now a double auth is done by our wrapper, and then forwarded to s3proxy which checks our re-written auth (because of the path change). I'm trying to save every cycle I can.

More concrete requirements have not yet appe

[2015-11-18 19:43] andrewgaul commented on #93
Double-authentication should not be much overhead since HMAC is cheap...

Sharding sounds like a good use case for S3Proxy.  I am not clear on how invasive this would be and whether making S3Proxy more reusable in external projects might be a better path forward.  What do you think?

I like your idea of making S3Proxy more embeddable and allowing a pluggable HTTP server.  Most of the code uses gen

[2015-11-18 20:19] dleute commented on #93
Double authentication has not had a measurable impact at this time. But I like clean elegant DRY code. And my own work doesn't qualify for that at the moment.

I think having a general library that can understand s3 requests could be quite useful. But I don't have a use case specifically for it. I could see an application or testing framework wanting to embed something that can understand the s3ap

[2015-11-18 22:19] ritazh opened #96 "AWS SDK upload fails with Azure backend"
Using this sample code here:
https://github.com/aws/aws-sdk-java/blob/master/src/samples/AmazonS3/S3Sample.java#L119

Error:
at com.amazonaws.services.s3.AmazonS3Client.putObject(AmazonS3Client.java:1398): Input is expected to be encoded in multiple of 2 bytes but found: 17

File was uploaded successfully, but ends in exception.

Same test runs successfully against AWS S3.

I see this PR added eta

[2015-11-18 22:44] ritazh commented on #96
Adding more info, in `com.amazonaws.util`, `Base16Codec` is expecting an even length.

[code]

[2015-11-18 22:48] kahing commented on #93
I am wary of massive rewrites unless there's a specific use-case in mind, in my experience that rarely leads to an API that future users can use.

That said, you can also implement sharding using the existing `BlobStoreLocator` interface. It's slightly more wasteful than implementing your own `ForwardingBlobStore`, but as long as you are not copying the streams the cost is likely trivial.

[2015-11-18 23:07] kahing commented on #96
s3 expects a regular PUT to return etags as the md5sum of the blob encoded in base16, and the `AmazonS3Client` is probably verifying the md5sum from the response. Maybe S3Proxy can return Content-MD5 as etags instead?

[2015-11-18 23:20] ritazh commented on #96
Yes I think that would work.

[2015-11-19 00:04] kahing commented on #96
@andrewgaul pointed out to me that munging with etags will cause problems with conditional GETs. And the option in the sdk to disable the check is not implemented correctly: https://github.com/aws/aws-sdk-java/blob/bb9e0be441afb5658f0edbbd19bcf27e2fac4105/aws-java-sdk-s3/src/main/java/com/amazonaws/services/s3/internal/ServiceUtils.java#L452

[2015-11-19 00:16] ritazh commented on #96
I'm trying to figure out why jcloud returns an ETag of 17 bytes for Azure blob. Any suggestions?

[2015-11-19 01:07] dleute commented on #93
@kahing: I'm still not sure how to implement that.

One of my goals in suggesting this re-factoring, is to make the base functionality more flexible without having to re-compile tho core code.

If I do BlobStoreLocator or ForwardingBlobStore, I still need to branch and maintain my own version of s3proxy to override various aspects of S3ProxyHandler don't I?

This re-factoring should first and fore

[2015-11-19 01:19] kahing commented on #96
According to https://github.com/jclouds/jclouds/pull/716/files#diff-e724f00ae88c3a1a9ec1ddbe252a3bccL10 Azure etags looks like 0x8CACB9BD7C1EEEC which is 17 bytes.

[2015-11-19 01:22] kahing commented on #93
S3ProxyHandler has a setBlobStoreLocator() function that you can call without modifying S3Proxy. Obviously you can't rely on `org.gaul.s3proxy.Main` anymore and will need your own init code, but that's the case if you refactor s3proxy anyway.

[2015-11-19 01:33] kahing commented on #93
Ignore my comment about `BlobStoreLocator`, it's easier to just do it within `ForwardingBlobStore`.

[2015-11-19 03:32] andrewgaul commented on #96
Azure returns a non-MD5 ETag.  We should not change the meaning of this since ETag are used for conditional GETs.  We could elide non-MD5 ETag but I do not believe that we should recalculate the MD5 in-flight to fake the ETag.  I opened a pull request against aws-sdk-java to control their behavior.

[2015-11-19 13:42] dleute commented on #93
@kahing: So I would create my own blobstore and set it from my custom wrapper. If the blobstore persists, which it seems like it would, then I might be able to get rid of my custom wrapper. I will take a look and see if it makes sense to migrate my code.

It would still be nice to have a separation of functionality. Even in this example I have to modify the core code and then maintain it. If the c

[2015-11-19 21:42] nacx commented on #91
@dleute The missing jar sources issue was due to a misconfiguration in the jclouds builds that publish the snapshots to the Maven repo. It is now fixed and a new build is running, so the snapshots will be available in an hour or so, when the build completes.

[2015-11-20 00:19] dleute commented on #91
Great! I'll give it a whirl as soon as I can. (That may be after thanksgiving)

Thanks!

[2015-11-20 02:39] #77 closed

[2015-11-20 19:04] pjz opened #98 "Support Backblaze B2"
Docs are [here](https://www.backblaze.com/b2/docs/).

[2015-11-20 19:37] andrewgaul commented on #98
Needs upstream jclouds support tracked by [JCLOUDS-1005](https://issues.apache.org/jira/browse/JCLOUDS-1005).

[2015-11-21 07:20] andrewgaul commented on #96
After offline discussion with @kahing, we believe that S3Proxy could mimic S3 more closely when using the Azure backend.  All of the relevant Azure operations, e.g., put blob, get blob, list blob, return both Content-MD5 and ETag.  Note that some of these require specifying a recent Azure API version which jclouds already does.  Thus we could map the former to the latter for all operations except

[2015-11-21 09:52] ritazh commented on #96
Sure thing. Let me take a closer look this weekend and get back to you.

[2015-11-21 17:29] andrewgaul commented on #24
Work in progress commit: https://github.com/timuralp/s3proxy/commit/a80b1c94245d07550a55bcd50a7fe93100989fa2

[2015-11-22 20:27] tarikd commented on #98
:+1:

[2015-11-24 03:11] ritazh commented on #96
@andrewgaul @kahing let me know when you guys have sometime to talk today or tomorrow.

[2015-11-24 04:58] kahing commented on #96
Ideally we would stay within the BlobStore  interface, is there something that you need that's not in the generic interface?

[2015-11-24 05:14] ritazh commented on #96
Just trying to clarify what Andrew meant by "Note that some of these require specifying a recent Azure API version which jclouds already does." I see that jclouds is using the Azure blob storage REST API to communicate with Azure backend. In terms of what I can implement here, are you guys thinking of using Azure Java SDK in S3Proxy specifically in `S3ProxyHandler` to handle put, get, head, list o

[2015-11-24 05:25] kahing commented on #96
Please don't use the azure sdk. According to https://msdn.microsoft.com/en-us/library/dd179451.aspx Azure only generates the content md5 header if the version requested is new enough, and that was what @andrewgaul was referring to.

[2015-11-24 06:25] ritazh commented on #96
Okay. Thanks for clarifying.

[2015-11-24 18:24] kahing commented on #96
To elaborate more, in each of the put/get/etc functions we should change as little code as possible. For instance, in handleGetBlob(), we can check if the provider is azure, and also conditional if-match/if-not-match is used, and only then handle the get in another path.

[2015-11-29 10:21] ritazh commented on #96
Hey guys, need some guidance here. I noticed that after I call `handleGetBlob`, jclouds returns a response that contains `Content-MD`, then from the log, I see that jclouds `invoking GetContainerACL` and creates a HEAD request, which returns a response that does not contain `Content-MD`. Since I need `Content-MD` from a GET request, is there a way to control this behavior from jclouds? Thank you!

[2015-11-29 11:06] andrewgaul commented on #96
You will likely need to modify jclouds to populate this field.  You can follow the chain of logic from `AzureBlobStore.blobMetadata` to `AzureBlobToBlob.apply` and finally `BlobPropertiesToBlobMetadata.apply`.

[2015-12-01 07:59] ritazh opened #99 "Multipart upload fails with part-number-marker not implemented"
I'm testing POST upload when file size is ~17MB. This triggers `handleInitiateMultipartUpload`, which returns `InitiateMultipartUploadResult` with `UploadId`. Then a new GET request is called with `part-number-marker=0`, which returns this error: "Unknown parameters part-number-marker". I noticed that jclouds `uploadMultipartPart` does not take in `part-number-marker`. Should this be added to S3Pr

[2015-12-01 10:05] ritazh commented on #99
In a different test, I'm using `UploadPartRequest` similar to the `testBigMultipartUpload` [test](https://github.com/andrewgaul/s3proxy/blob/50a302436271ec46ce81a415b4208b9e14fcaca4/src/test/java/org/gaul/s3proxy/S3AwsSdkTest.java#L214), but with multiple `UploadPartRequest`, then only the first `UploadPartRequest` actually works. All subsequent UploadPartRequests are processed but blob is not act

[2015-12-01 14:18] andrewgaul commented on #99
The first symptom seems straightforward; S3Proxy does not support for pagination while [listing uploaded parts](https://docs.aws.amazon.com/AmazonS3/latest/API/mpUploadListParts.html).  The AWS SDK seems to unconditionally pass `part-number-marker` even though the initial call need not specify this.  Could you implement support for this case?

I cannot replicate the second symptom either due to me

[2015-12-02 01:19] ritazh opened #100 "Multipart upload fails when multiple UploadPartRequests are needed"
With multiple UploadPartRequest, only the first UploadPartRequest actually works. All subsequent UploadPartRequests are processed but blob is not actually uploaded. It's possible that I may have missed something.

My test is with a file of size 17MB, part size of 10MB. The expected behavior should be after CompleteMultipartUploadRequest, the entire 17MB file should be uploaded. The actual is a blo

[2015-12-02 14:26] #80 closed

[2015-12-02 23:07] andrewgaul commented on #100
Now that you corrected the test and Travis passes, is this still a valid issue?

[2015-12-03 00:38] ritazh commented on #100
Yes. Thanks for your help. I'm able to upload the entire file now. Hope the test case will help others in the future.

[2015-12-03 00:38] #100 closed

[2015-12-03 16:06] dleute commented on #92
@andrewgaul The change to fix this now prevents regular files from being deleted.

11:04:28.854 [S3Proxy-22 - /testbucket/s3proxy] DEBUG jclouds.wire - << "{"Number Not Found": 0, "Response Status": "400 Bad Request", "Errors": [["/testbucket/s3proxy", "Not an SLO manifest"]], "Number Deleted": 0, "Response Body": ""}"

Should we re-open this issue or  create a new one?

[2015-12-04 04:37] andrewgaul commented on #92
@dleute Which Swift server are you using?  I did not see these symptoms when using Rackspace Cloud Files.

[2015-12-04 13:46] dleute commented on #92
@andrewgaul I'm on softlayer in dal05 for this test.

[2015-12-07 16:38] dleute commented on #92
FYI: no error is reported by the CLI. You have to watch the logs of s3proxy to see the error. And the file is never actually deleted.

That's been another issue. Errors have sometimes been hidden by s3proxy/jclouds. Shouldn't this have become a failed delete?

[2015-12-08 02:11] andrewgaul commented on #92
@dleute Thanks for the additional information!  I reproduced your symptoms and reverted the change in upstream jclouds.  You are correct that jclouds should report some kind of error for this and I believe it does not because remove tends to ignore errors like 404 file not found.  For something like 400 bad request it should raise this.  I am traveling right now and not available for further inves

[2015-12-08 03:15] dleute commented on #92
@andrewgaul Thanks!

[2015-12-08 10:18] ritazh opened #103 "Provide a docker image for S3Proxy so users can run it anywhere"
I have implemented something [here](https://github.com/ritazh/s3proxydocker). I'm open to suggestions and feedback to make it better. Would be great if we could add a reference of it to the README of S3Proxy as another option to run S3Proxy.

[2015-12-09 15:21] dleute commented on #92
Thanks!

[2015-12-09 16:57] dleute commented on #92
FYI: I'm still getting not an SLO manifest. Is it possible the change hasn't propagated yet?

[2015-12-09 17:01] dleute opened #104 "encoding-type not supported"
Newer versions of the aws cli are including an encoding-type url parameter. I solved this temporarily by backing off to awscli version 1.9.9 using pip. Anything later than that creates issues with s3proxy.

s3proxy throws this:

```A server error (NotImplemented) occurred when calling the ListObjects operation: A header you provided implies functionality that is not implemented.```

Obviously I co

[2015-12-09 17:14] dleute commented on #92
At the very least, jclouds is still sending multipart-manifest=delete

[2015-12-09 22:49] andrew311 opened #105 "Forbidden InvalidAccessKeyId errors with 1.4.0"
I have a simple s3proxy setup I'm using for testing. On upgrading from 1.3.0 to 1.4.0, now I'm getting Forbidden InvalidAccessKeyId when I try to create a bucket via boto using s3 connection.

I can't find anything that solves this in the wiki, source, or documentation of s3proxy or jcloud. Can someone tell me what I'm doing wrong?

Here is my s3proxy config:

[code]

Here is the code I'm using to

[2015-12-10 23:11] andrewgaul commented on #105
You have configured S3Proxy for anonymous access but Boto is providing an identity and credential.  S3Proxy incorrectly checks the credentials in this case and I fixed this in master via 618c35054c050ae2d92e9632e7987485de132096.  You can work around this in the mean-time by configuring S3Proxy with:

[code]

or configuring Boto:

[code]

[2015-12-10 23:31] #103 closed

[2015-12-10 23:32] andrewgaul commented on #103
s3proxydocker is a great idea and insulates people from the vagaries of Java.  I look forward to seeing how people use it!

[2015-12-10 23:37] andrewgaul commented on #104
Interesting, the `url` parameter allows some additional characters in the range 0x00 to 0x1F which were previously not allowed.  Could you add some tests and implement functionality to URL encode blob names when this parameter is present?  I found this reference helpful:

https://github.com/aws/aws-sdk-java/issues/333

[2015-12-11 04:17] andrewgaul commented on #96
@ritazh AWS SDK for Java 1.10.37 can disable the MD5 check on PUT via setting the `com.amazonaws.services.s3.disablePutObjectMD5Validation` system property.  Does this satisfy your application?

[2015-12-11 04:52] andrewgaul commented on #92
I checked https://repository.apache.org/content/groups/snapshots/org/apache/jclouds/api/openstack-swift/2.0.0-SNAPSHOT/openstack-swift-2.0.0-20151208.052256-460-sources.jar and see that `removeBlob` no longer calls `getStaticLargeObjectApi`.  Can you rebuild S3Proxy via `mvn package --update-snapshots` to see if this helps?

[2015-12-11 13:35] dleute commented on #92
Thanks! I think my IDE didn't catch the changes and needed to be refreshed as well.

[2015-12-11 13:53] dleute commented on #104
Just to sum up: Any time s3proxy is writing to an xml file, the blobNames written should be urlencoded if the content-type url parameter is 1. Present and 2. set to url.

Blobnames are written to XML in one of the multipart upload functions and in the listParts function.

I think I can fix the code. Not sure I can get tests written. Let me fix it first.

[2015-12-11 13:58] dleute commented on #104
I wonder if this applies to container names to.

[2015-12-11 20:09] andrew311 commented on #105
@andrewgaul Thanks for the workaround! I will give it a shot and report back.

[2015-12-12 03:23] andrewgaul opened #107 "Cannot run a specific test class or method"
Using both JUnit and testng prevents running a single test, e.g., `mvn test
-Dtest=S3ProxyTest#testHttpClient`.

[2015-12-15 00:08] andrewgaul commented on #107
Some discussion:

https://solidsoft.wordpress.com/2013/03/12/mixing-testng-and-junit-tests-in-one-maven-module-2013-edition/

In my testing this separates the JUnit and testng test output but does not allow running a single test suite.  Perhaps we should move `JcloudsIntegrationTest` to the integration-test phase or just remove these completely?

[2015-12-15 01:12] #104 closed

[2015-12-16 09:00] andrewgaul commented on #99
I cannot reproduce your symptoms.  Can you provide a test similar to the above which does exhibit them?

[2015-12-16 19:29] ritazh commented on #99
Sorry for the delay on this. In a hackathon this week, will come back to this in a few days.

[2015-12-18 22:23] kahing opened #108 "Multipart upload not atomic"
MPU starts by writing a stub object with the same name as the mpu key name, which overwrites the original object (if it existed) even if complete multipart upload is never submitted.

[2015-12-19 19:55] andrewgaul commented on #107
Current behavior running a specific class:

[code]

And current behavior running a specific method:

[code]

[2015-12-22 11:33] m081072 opened #109 "AWS CLI example on wiki not working for me"
I follow the steps shown at https://github.com/andrewgaul/s3proxy/wiki/Client-compatibility-list and I get this:

[code]

Am I doing something wrong, or is this a bug?

[2015-12-22 11:43] m081072 commented on #109
The above happened with 1.4.0

When I try with latest code, it works

[2015-12-22 19:44] andrewgaul commented on #109
Duplicate of #104 and fixed in master via d8c73bc86d30e885e743eb7afcd41cf0b9e9497b.

[2015-12-22 19:44] #109 closed

[2015-12-31 03:46] andrewgaul commented on #98
`b2_upload_file` requires a `X-Bz-Content-Sha1` header instead of the optional `Content-MD5` header S3 uses.  Thus S3Proxy would have to buffer all uploads to calculate the SHA-1 then send the payload the B2.

[2016-01-04 20:21] ritazh opened #110 "Unknown header x-amz-content-sha256"
When using both AWS S3 and Azure storage as the storage backend with anonymous access, downloading a file caused an error: `Unknown header x-amz-content-sha256`. I believe this is related to #24 By default, the AWS S3 SDK seems to always use v4 signatures. Since S3Proxy does not yet support v4 signatures, is there a way around this?

[2016-01-04 20:27] ritazh commented on #110
Seems adding the following in client code will tell AWS SDK to use v2 signature instead:
`ClientConfiguration clientConfig = new ClientConfiguration().withSignerOverride("S3SignerType");`

[2016-01-04 20:27] #110 closed

[2016-01-04 22:53] ritazh commented on #96
@andrewgaul Thanks for looking into this. Looks like using the `disablePutObjectMD5Validation` flag disabled the MD5 check. If I need to enable MD5 check for Azure, how would I do that?

[2016-01-04 23:03] ritazh commented on #99
Confirming based on the client-side implementation in d5822bf, this issue is resolved. Here is the updated code for reference:

[code]

[2016-01-04 23:03] #99 closed

[2016-01-04 23:24] andrewgaul commented on #96
`S3AwsSdkTest` disables the check but S3Proxy itself cannot influence the client-side behavior.  If you want to experiment with the test you can remove "azureblob" from `BLOBSTORE_OPAQUE_ETAG`.

[2016-01-05 02:13] ritazh opened #111 "Multipart upload fails for Azure storage"
This seems to be a recently introduced issue. Multipart upload against Azure used to work with `UploadPartRequest` and `TransferManager`. Now the individual parts seem to be uploaded successfully, but ends with:
`Error Code: 501 Not Implemented` from the SDK and `exceptions from GetContainerACL are parsed by NullOnContainerNotFound` from S3Proxy log.

S3 backend works as expected.

Will go through

[2016-01-05 06:37] andrewgaul commented on #111
Calling `getBlobAccess` in e93529bfebc90acfab422e43ce14755088c7b6d5 introduced this regression.  `AzureBlobStore.getBlobAccess` throws `UnsupportedOperationException` and instead it could return `BlobAccess.PRIVATE` since Azure blobs are always private access.  What do you think and if you agree can you send jclouds a pull request?  Note that we should make the same change `RegionScopedSwiftBlobSt

[2016-01-05 17:36] ritazh commented on #111
Thanks for the pointer. That's exactly where this needs to be updated. According to this [reference](https://msdn.microsoft.com/en-us/library/azure/dd179391.aspx), ACL set on the container level determines access of the blobs within the container. Default access for blobs is `private`. When container ACL is set to `blob`, this allows public access of all blobs within the container. I can use [getC

[2016-01-05 19:29] andrewgaul commented on #111
S3 also has container ACLs but setting them does not influence the blob ACLs.  Therefore I do not think jclouds should map Azure container ACLs to blob ACLs.

[2016-01-05 19:45] ritazh commented on #111
The issue is that I don't think blob access is always `private` for Azure. When container ACL is set to `Blob`, blob access should be `Public_Read`.

The ACL mechanism is much granular in S3 where you can set custom ACL on each object in a bucket. In Azure storage, it is set at a blob container level. For Azure, by default, the new container is private and you must specify your storage access key

[2016-01-05 20:17] andrewgaul commented on #111
You describe the *effective* ACL of an object, with the container access cascading to the object access, and not the *actual* ACL the object has.  If a user wants the effective ACL they can query both the container and blob ACLs or use an anonymous HEAD request to see if they can read a private blob in a public container.  Providers like GCS and S3 support both container and object ACLs and we do

[2016-01-05 20:44] ritazh commented on #111
With the proposed solution to have `AzureBlobStore.getBlobAccess` always return `BlobAccess.PRIVATE` and `putBlob` always accepting `BlobAccess.PRIVATE`, if the blob has access that is not `private`, then it will throw `UnsupportedOperationException`. For consistency, we also need to implement `setBlobAccess` to always set access to `BlobAccess.PRIVATE`. That makes this whole thing pretty much a p

[2016-01-05 21:52] andrewgaul commented on #111
Agree that we could make `setBlobAccess(BlobAccess.PRIVATE)` succeed as we do with `putBlob(container, blob, new PutOptions().setBlobAccess(BlobAccess.PRIVATE))`.  Either way works for me.

[2016-01-05 22:40] ritazh commented on #111
Actually, `setBlobAccess` should be left alone since there's no `setPublicAccessForBlob` for `AzureBlobClient` and there's no `Set Blob ACL` operation in the [Azure Blob service API](https://msdn.microsoft.com/en-us/library/azure/dd179377.aspx).

[2016-01-06 02:47] andrewgaul commented on #111
Fixed by jclouds/jclouds@a12ce5a8b7c61dc9b30476fdb82b7ff1f3f3c5bc.

[2016-01-06 02:47] #111 closed

[2016-01-06 05:03] andrewgaul commented on #107
Upstream issue: [SUREFIRE-1211](https://issues.apache.org/jira/browse/SUREFIRE-1211).

[2016-01-06 05:05] #107 closed

[2016-01-08 23:32] #24 closed

[2016-01-12 23:34] andrewgaul opened #113 "Conditional copy object"
S3Proxy should support conditional copy objects via `x-amz-copy-source-if-match`, `x-amz-copy-source-if-modified-since`, `x-amz-copy-source-if-none-match`, and `x-amz-copy-source-if-unmodified-since`.  Presently jclouds does not support this as only the Azure and S3 providers have conditional Date and ETag support:

https://issues.apache.org/jira/browse/JCLOUDS-651#comment-15081768

[2016-01-13 00:39] andrewgaul commented on #62
The S3Proxy test suite now includes most of the jclouds integration tests including `SkipException` for the 15 failing tests.

[2016-01-13 00:39] #62 closed

[2016-01-15 18:16] andrewgaul opened #115 "Cache-Control header"
Needs upstream jclouds support, tracked by [JCLOUDS-948](https://issues.apache.org/jira/browse/JCLOUDS-948).

[2016-01-15 23:01] andrewgaul opened #116 "XML ACLs"
Presently S3Proxy supports public-read and private canned ACLs.  S3Proxy could also support the subset of XML ACLs which map onto these canned policies to ensure greater compatibility.

[2016-01-15 23:06] andrewgaul commented on #11
We could support multiple `--properties` flags, although this is not much different from users invoking multiple S3Proxy process.

[2016-01-15 23:08] #108 closed

[2016-01-16 06:44] #66 closed

[2016-01-17 20:10] #115 closed

[2016-01-22 01:55] #116 closed

[2016-01-25 04:59] andrewgaul opened #117 "Add mechanism to mirror write operations to two storage backends"
S3Proxy can use jclouds `ForwardingBlobStore` to mirror write operations to two storage backends.  Failure to write to either store should fail the client request.  Note that this will leave the store in an inconsistent state that some external service needs to reconcile.  Servicing read operations should try the first backend first and fail over to the second on errors.

@dleute Related to your r

[2016-01-25 14:25] dleute commented on #117
Thanks! Unfortunately my project priorities have shifted to new projects. I would love to see how this could be implemented though. What I was trying to do was create minimal long term maintenance. Using a ForwardingBlobStore still isn't clear to me if it does that. It would seem like I would have to embed additional config and new code.

[2016-01-25 23:06] andrewgaul commented on #93
Closing this as there is no actionable request.

[2016-01-25 23:06] #93 closed

[2016-01-25 23:06] andrewgaul commented on #92
Another attempt at a fix: jclouds/jclouds#909.

[2016-01-27 06:34] #92 closed

[2016-02-01 20:31] andrewgaul opened #118 "Listing multipart uploads"
S3Proxy should allow listing in-progress multipart uploads.  Clients use this operation to resume and abort MPU.

[2016-02-04 02:42] RobbKistler opened #119 "ListBucketResult differs from AWS S3"
s3proxy 1.4.0 (06ec55e4df9ca7677ea6c8cc45bf90df97004969)

config file:
[code]
Create a bucket:
```curl -X PUT "http://s3host/somebucket"```

Create an object named "dir/"
```curl -X PUT "http://s3host/somebucket/dir/" -H "Content-Length: 0"```

List the bucket with these query parameters:
```curl "http://s3host/somebucket?delimiter=/&max-keys=1000&prefix=dir/"```

The result from AWS contains one

[2016-02-04 05:16] andrewgaul commented on #119
Could you retest with master?  jclouds 2.0.0 has improvements to both prefixes and delimiters.  I see the following:

[code]

[2016-02-05 01:39] stephzylstra commented on #55
Is there an ETA for this release?

[2016-02-05 02:51] andrewgaul commented on #55
This release is blocked on jclouds 2.0.0 which should release mid-February:

https://www.mail-archive.com/dev@jclouds.apache.org/msg06293.html

[2016-02-05 02:53] stephzylstra commented on #55
Fantastic, thank you!
On 5 Feb 2016 12:51 PM, "Andrew Gaul" <notifications@github.com> wrote:

[2016-02-05 06:43] RobbKistler commented on #119
I retested with master.  The results do match AWS S3.

Thanks!    (I didn't realize how easy it would be to build)

[2016-02-05 06:43] #119 closed

[2016-02-05 08:44] andrewgaul opened #120 "Docker packaging"
I recently discovered five projects packaging S3Proxy for Docker:

* https://github.com/bn0ir/docker-s3proxy
* https://github.com/dweinstein/dockerfile-s3proxy
* https://github.com/joshdvir/dockers/tree/master/s3proxy
* https://github.com/ritazh/s3proxydocker
* https://github.com/stevemayne/s3proxydocker

I am happy that so many people find S3Proxy useful enough to package although wonder if we ca

[2016-02-05 09:42] bn0ir commented on #120
@andrewgaul

Better to have Dockerfile in the main project and configure automated build on docker hub.

The image need to be as small as possible, but has enough parameters to satisfy user requirements.

That's why we want something like https://github.com/joshdvir/dockers/tree/master/s3proxy + https://github.com/ritazh/s3proxydocker + https://github.com/stevemayne/s3proxydocker

[2016-02-05 14:08] stevemayne commented on #120
Hi Andrew, I'm happy for you to use my DockerFile as the basis for anything
you incorporate into your project.

I have looked at the other projects and they all offer differing levels of
configuration.  Ideally you want a 'complete solution' with environment
variables for all configuration options and a docker volume for any
local-data storage (so that data can be persisted).  My docker project on

[2016-02-05 17:22] dweinstein commented on #120
+1 for official Dockerfile that is supported by the project. I'm not currently using s3proxy actively right now but having worked on the docker packaging for other projects like mitmproxy, it's much easier to setup an automated docker hub build to build releases if it's part of the project.

[2016-02-05 18:10] ritazh commented on #120
@andrewgaul

The intention for https://github.com/ritazh/s3proxydocker is to provide deployment options, guidance and samples for folks who want to test, deploy, and run S3Proxy instances next to their own applications.

The repo provides guidance for running S3Proxy instance in a docker container and pushing S3Proxy as a containerized app in open source platforms like Dokku or Cloud Foundry so us

[2016-02-06 07:32] gaul opened #121 "Java 8 dependency"
S3Proxy requires Java 7 presently.  Requiring Java 8 would allow upgrading some dependencies:

- Checkstyle 7.0 http://checkstyle.sourceforge.net/releasenotes.html#Release_7.0
- error-prone 2.0.6 https://groups.google.com/forum/#!topic/error-prone-announce/ycJBeaNK3Uc
- Jetty 9.3 https://webtide.com/jetty-9-3-features/

These do not seem compelling and older distributions like Ubuntu 14.04 LTS do

[2016-02-08 01:33] stephzylstra opened #122 "BucketAlreadyOwnedByYou error on new install"
Hi, I'm having issues getting beyond the readme in order to get it running.

s3proxy 1.4.0, commit `bb68ff5`

The only change to the default config in the readme is that I'm using port 9090 instead of 8080; i.e. my s3proxy.conf file is:

[code]

When running:

[code]

Still looking into it but any help would be appreciated.

Thanks!

[2016-02-08 02:20] kahing commented on #122
Is there already a test directory?

[2016-02-08 02:21] stephzylstra commented on #122
No. The file path in the configuration is empty.
On 8 Feb 2016 12:20 PM, "Ka-Hing Cheung" <notifications@github.com> wrote:

[2016-02-08 04:04] stephzylstra commented on #122
The issue appears to be a permissions issue, presumably due to using a subdirectory of /tmp.

When I run s3proxy using `./target/s3proxy --properties s3proxy.conf`, the error appears. When I run it with the same configuration file using `sudo ./target/s3proxy --properties s3proxy.conf`, the bucket is created normally.

Is it worth rewriting the error message here so that it's more helpful?

[2016-02-17 00:56] #113 closed

[2016-02-24 22:32] andrewgaul opened #126 "Add mechanism to encrypt object data before sending to storage backend"
This would enable data privacy on backends without encryption, e.g., Rackspace Cloud Files, as well as improve privacy on backends with it, e.g., Amazon S3, due to handling the private key in S3Proxy.

[2016-03-01 20:48] chicagobuss opened #127 "Support for node.js aws sdk?"
I finally got s3proxy working with both boto and spark and it's really quite cool.

I then tried the [node.js aws SDK](https://aws.amazon.com/sdk-for-node-js/) and it didn't work, regardless of whether I enabled authentication or not.

With auth turned off entirely:

    $ node test_download.js
     { [CredentialsError: Missing credentials in config]
    message: [Getter/Setter],
    code: 'Creden

[2016-03-01 23:10] andrewgaul commented on #127
I successfully tested S3Proxy master with the latest AWS SDK and added an example here:

https://github.com/andrewgaul/s3proxy/wiki/Client-compatibility-list#aws-sdk-for-javascript-in-nodejs

Can you share your `test_download.js` and run S3Proxy again with trace logging:

[code]

Note that I had to set `jclouds.regions` to work around aws/aws-sdk-js#919.

[2016-03-01 23:17] andrewgaul commented on #127
Perhaps your issue is related to using S3Proxy 1.4.0 which does not support AWSv4 signatures?  You can either upgrade to master or specify `signatureVersion: 'v2'` in `AWS.S3` constructor.

[2016-03-01 23:21] chicagobuss commented on #127
I built from master.  Here's my test_download.js:

[code]

I'll try the jclouds.regions thing and let you know if that works.

[2016-03-01 23:33] chicagobuss commented on #127
No luck with that.  I'm using the following proxy config (which works great with boto, btw.. able to upload and download huge files without issue)

[code]

The TRACE level logging from s3proxy all looks like this:
`Caused by: org.jclouds.aws.AWSResponseException: request POST https://storage.googleapis.com/cigtest/out.csv?uploads HTTP/1.1 failed with code 403, error: AWSError{requestId='null', req

[2016-03-02 00:32] andrewgaul commented on #127
GCS raises this error since it does not support multi-part uploads:

http://stackoverflow.com/a/27830881/2800111

Can you configure your application to use single-part uploads?  Unfortunately this is not something that S3Proxy can work around.

You can also try using GCS via its native `google-cloud-storage` API although this has another issue:

https://issues.apache.org/jira/browse/JCLOUDS-912

[2016-03-02 01:16] #65 closed

[2016-03-02 15:53] chicagobuss commented on #127
Thanks, we had good luck with setting the partSize to a very large value.. that's good enough for us for now.  I'd like to try your GCS native implementation idea soon, too - but are you saying s3proxy won't do multiple-part uploads to GCS at all?

[2016-03-02 16:03] #127 closed

[2016-03-09 18:19] chicagobuss opened #128 "Unable to use google-cloud-storage backend with boto client"
Hello, I hope I'm just missing something simple, but I cannot get s3proxy to work with google cloud storage on the backend and boto as a client.

Here is my s3proxy config file:

[code]

And here is my boto test script:
[code]

This all works fine when I use the s3 provider like so:
[code]

...but I'd like to try the native google-cloud-storage backend to see if it's faster / works better.  Also,

[2016-03-09 21:31] andrewgaul commented on #128
You can enable trace logging via:

[code]

I ran your test script and uncovered boto/boto3#544 which fails uploads due to a spuriously incorrect ETag:

[code]

You can work around this by commenting out this check in your local `boto/s3/key.py`.

I also ran `S3ProxyTest` against GCS and it has good compatibility, with only one unexpected failure in conditional copy object.

[2016-03-09 21:59] chicagobuss commented on #128
Thanks for the quick reply - I'll patch, rebuild, and give it a try.

Just to be super-clear about the boto work around - I should comment out just these two lines in boto?
https://github.com/boto/boto/blob/2.39.0/boto/s3/key.py#L926:L927

[2016-03-09 22:20] andrewgaul commented on #128
No comment out these lines:

https://github.com/boto/boto/blob/2.39.0/boto/s3/key.py#L982:L983

[2016-03-09 23:01] chicagobuss commented on #128
OK, I got it working as well with both fixes in place, thanks!

For completeness' sake, I actually changed the relevant part in the key.py file in boto from this:
[code]
To this:
[code]

[2016-03-09 23:12] #128 closed

[2016-03-09 23:16] chicagobuss opened #129 "using google-cloud-storage for provider is significantly slower than s3"
For whatever reason, uploads using the native `google-cloud-storage` provider (and boto as the client) seem to be taking WAY longer than the `s3` provider (s3 provider but still actually using GCS). Not sure why this is but thought I should note it. Downloads are pretty much just as fast.

Using GCS with the `s3` provider:

[code]

After switching s3proxy to use the `google-cloud-storage` provider

[2016-03-09 23:24] chicagobuss commented on #117
This is a really cool idea.

Just a thought - if you wanted, you could read from both (all?) configured storage services when reads are processed and ensure the checksums match before responding with a success to the client.  This sort of 'read-time checking' is similar to what other eventually consistent databases do.

[2016-03-11 21:48] rchs986 opened #130 "Provide mechanism to ignore unknown headers instead of issuing unsupported error"
I'd like to use s3proxy as a test environment for a client that will eventually work against S3. This client includes the "x-amz-server-side-encryption" header which currently results in an exception (with s3proxy):

`com.amazonaws.services.s3.model.AmazonS3Exception: A header you provided implies functionality that is not implemented.`

I could of course configure my client to not send the header

[2016-03-13 06:18] #130 closed

[2016-03-13 06:20] andrewgaul commented on #130
You can now configure this via setting `s3proxy.ignore-unknown-headers` to true.  Longer-term I would like to add support for object encryption to S3Proxy but the underlying jclouds library does not support this feature.  Unfortunately it looks difficult to support cross-provider so it will likely take some time.

[2016-03-13 15:48] rchs986 commented on #130
Thanks Andrew. That's awesome.

[2016-03-14 01:03] andrewgaul opened #131 "Add middleware to test extremely large files"
Some clients want to test extremely large objects, e.g., 10,000 part multi-part uploads.  Using the file system provider with the default S3 minimum 5 MB part size makes this prohibitive.  Instead S3Proxy could support a /dev/null mode which discards client PUTs and returns some deterministic result for GETs.

[2016-03-14 06:48] kahing commented on #131
:+1:

[2016-03-24 15:37] chkelly opened #133 "Build Broken"
Looks like some updates to the jclouds 2.0 snapshot may have broken this projects ability to build.

[code]

[2016-03-24 16:11] andrewgaul commented on #133
@chkelly I cannot reproduce your symptoms.  Can you update your S3Proxy checkout via `git fetch` and `git rebase` and test again?

[2016-03-24 17:35] chkelly commented on #133
My guess is that its getting it from your local build cache.

Can you try it in a situation where you are pulling down all your artifacts fresh?

[2016-03-24 17:36] andrewgaul commented on #133
I removed all jclouds artifacts via:

[code]

Can you confirm that you are using the latest commit, 8b2a869341f3b5bb5e7fb23e89ab6cedb8802b69, via `git show`?

[2016-03-24 17:48] chkelly commented on #133
ugh. Terribly sorry, I was using https://github.com/ritazh/s3proxydocker as a base for trying to get a container built. I just noticed he forked your repo and references that in the dockerfile (but didn't make any changes).

Great project by the way :)

[2016-03-24 17:48] #133 closed

[2016-03-24 19:58] andrewgaul commented on #133
@chkelly I am looking at providing a standard Dockerfile with S3Proxy.  See #123.

@ritazh You should rebase your S3Proxy fork to track some jclouds 2.0.0-SNAPSHOT changes.

[2016-03-24 19:58] ritazh commented on #133
Thanks for spotting this issue! Sorry if my dockerfile is causing confusion. I have updated it to point to the master of this repo. [new commit](https://github.com/ritazh/s3proxydocker/commit/30abfd6d731d461c12a296c313e41c95353f93d2)

[2016-05-06 00:28] timuralp opened #134 "Return a more coherent error if Transfer-Encoding: chunked is set"
AWS S3 v2 signature method does not allow for chunked uploads (setting Transfer-Encoding: chunked). I discovered (through the virtue of a buggy library), that submitting a chunked request to S3Proxy results in:
[code]

S3Proxy should return a 501 error with the XML stating that the method is not implemented in such cases. I'll try to submit a PR for that.

[2016-05-06 00:30] timuralp commented on #134
Reference: https://forums.aws.amazon.com/message.jspa?messageID=561616

[2016-05-10 12:00] rbjorklin commented on #121
A Java 8 PPA can be found here though: http://www.webupd8.org/2012/09/install-oracle-java-8-in-ubuntu-via-ppa.html

[2016-05-17 07:14] pstrzelczak commented on #1
I tried to upload > 2GB object into s3proxy 1.4.0 launched within a docker container obtained from https://hub.docker.com/r/stevemayne/s3proxy/ but the upload failed with: "Reason: content length must be non-negative, was: -2093729376"

I checked s3proxy code and it seems that https://issues.apache.org/jira/browse/JCLOUDS-264 is not the only problem.

Another problem is that in S3ProxyHandler.hand

[2016-05-17 18:46] andrewgaul commented on #1
@pstrzelczak Unfortunately S3Proxy 1.4.0 still uses jclouds 1.9.x which does not include a fix for this issue.  I am still waiting on jclouds 2.0.0 release before release S3Proxy 1.5.0.  Can you try the Dockerfile from #123 instead which uses the master branch?  cea4a42922da3ed45ab56a31e844ff9358b725f2 is not relevant to your issue which only applies to v4 signatures which 1.4.0 does not support.

[2016-05-29 21:22] michaelruge commented on #98
Any update on this?

[2016-05-31 15:59] auguster opened #135 "Broken multipart upload on systems without extended attributes"
I build s3proxy from sources and whenever I try to upload a large file I get the following failure:
`A client error (Unknown) occurred when calling the CompleteMultipartUpload operation: Unknown`
The destination remains empty after that (even from hidden files).

[2016-05-31 16:25] andrewgaul commented on #135
@auguster I need more information to diagnose your symptoms.  Can you re-run S3Proxy with: `java -DLOG_LEVEL=trace s3proxy` to get extended logging and share your properties file with me?  Also tell me how you issued a multipart upload, e.g., aws cli, s3cmd.

[2016-05-31 16:57] auguster commented on #135
Sure, I was using aws cli to upload a file named `BWmK8%252Fj55FACyvu4wiUkfgFcy6WTyUmwHfOuEiOHxCA%253D`. I thought that the special character such as '%' could cause issues so I tried with 'normal' characters and I get the same error.

[code]

[2016-05-31 17:17] andrewgaul commented on #135
Are you running S3Proxy on Mac OS X?  S3Proxy uses extended attributes to store the ETag which java on Mac OS X does not support.  See https://github.com/andrewgaul/s3proxy/issues/6#issuecomment-53521257 and [JDK-8030048](https://bugs.openjdk.java.net/browse/JDK-8030048).

[2016-05-31 19:25] auguster commented on #135
Not at all, I'm running s3proxy in a docker container on a Linux CoreOS. Release 1.4.0 works ok. It's generating a lot of temp and Example files. I remember that one of the 1.5.0 release (on OSS) worked as well but I don't recall which one. It was around November 2015.

At that time, I was supposed to try s3proxy HTTP upload with acl but I stopped working on this project. I'm returning to s3proxy

[2016-05-31 23:19] andrewgaul commented on #135
Are you using Docker with aufs?  If so can you use a bind mount as a workaround as suggested in docker/docker#1070?  Otherwise I will need to find another workaround for this.  Some have suggested storing these xattr in separate files which I could address in a few ways.  I could also weaken the checking in `LocalBlobStore.listMultipartUpload`.

[2016-06-01 08:45] auguster commented on #135
It's docker with aufs but the persistent data of s3proxy is on a mounted folder from the host. But the folder itself is a NFS folder... The strange thing is that older version of s3proxy (for example 1.4.0) works.

Shouldn't the docker issue be present on those older version ?

[2016-06-01 19:46] andrewgaul commented on #135
I rewrote multipart upload in 1.5.0 to better map onto the storage backend APIs, vastly improving performance for remote backends.  This work included new sanity checks to check ETags which you have encountered.  S3Proxy uses extended attributes to store ETags and unfortunately NFS does not appear to support them.  I will weaken the sanity checks when the filesystem does not support xattr.

[2016-06-01 20:11] #135 closed

[2016-06-01 23:45] andrewgaul opened #136 "S3Proxy User-Agent"
Presently S3Proxy sends `jclouds/2.0.0-SNAPSHOT java/1.8.0_91` for its User-Agent header.  S3Proxy should prepend its name as well.  Needs jclouds support tracked by [JCLOUDS-819](https://issues.apache.org/jira/browse/JCLOUDS-819).

[2016-06-02 12:55] auguster commented on #135
I confirm that I can now upload with multipart. However whenever I do that, an empty file is created next to the uploaded file. For example `23192e74-e585-4420-97ce-eb7ce4b5de29`. This file is not deleted when the uploaded file gets deleted.

Those empty file are not found when multipart upload is not used.

[2016-06-02 14:45] andrewgaul commented on #135
@auguster Thanks for the feedback!  The latest commit removes this stub blob.

[2016-06-07 16:06] chicagobuss opened #137 "boto3 client.list_objects fails with botocore.exceptions.ClientError when using against s3proxy"
Not sure if I'm missing something obvious, but the same code works fine against 'the real s3'... Steps to reproduce:

[code]

Stacktrace:
[code]

[2016-06-07 17:34] timuralp commented on #137
@chicagobuss can you add this line and re-run the request: `boto3.set_stream_logger('')`? This will enable boto3 debug output to see what headers are actually submitted.

[2016-06-07 18:01] chicagobuss commented on #137
Sure, here's the output:

[code]

[2016-06-07 18:40] timuralp commented on #137
@chicagobuss I thought this may be an issue where transfer-encoding gets set to `chunked` and the request signature is v2 (where S3 would return the above error), but that doesn't seem to be the case in the query. I can't seem to reproduce this issue by running the same script against master s3proxy and using the filesystem backend. I used boto3 1.3.1 and botocore 1.4.25.

Which backend are you us

[2016-06-07 18:50] chicagobuss commented on #137
The backend is s3 itself.

I'm also on boto3 1.3.1 and botocore 1.4.25.

I just re-tried with an up-to-date build from master and it worked though - sorry for the noise!

[2016-06-07 18:50] #137 closed

[2016-06-08 10:49] historus opened #138 "Provide ability to also ignore unknown parameters"
There is already an option to ignore unknown headers.
It would be helpful to also ignore unknown parameters.

[2016-06-08 18:49] andrewgaul commented on #138
Which parameter does S3Proxy not support?

[2016-06-09 23:21] andrewgaul opened #140 "Read caching middleware"
S3Proxy could provide a read cache by saving every object during get and issuing conditional gets for validation which most backends support.  We would need to provide knobs for cache size in gigabytes and number of objects.  Write caching raises complex issues so I intentionally scope this to just reads.  Related to kahing/goofys#82.

[2016-06-10 18:25] andrewgaul commented on #118
Upstream issue: [JCLOUDS-1125](https://issues.apache.org/jira/browse/JCLOUDS-1125).

[2016-06-14 22:19] #118 closed

[2016-06-18 20:48] andrewgaul commented on #118
Not yet supported using the filesystem or transient providers.

[2016-06-22 16:39] auguster opened #142 "CORS support"
I'm accessing videos stored by s3proxy from a page on another domain. I have security issues in my JS script because, when serving a video, the header doesn't specify any "Access-Control-Allow-Origin". I'd like s3proxy to set "Access-Control-Allow-Origin" to a value (e.g. "*" for testing), is there a way to do that as of now ?

Maybe through jclouds' configuration ?

[2016-06-23 01:12] andrewgaul commented on #142
S3Proxy does not support CORS today.  We can address this two ways: full CORS support or just add a mechanism to inject the header into responses, possibly arbitrary headers.  For a lot of test use cases I can see the latter sufficing.  Does this address your use case?

Eventually S3Proxy needs full CORS support.  API reference:

https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUTcors.ht

[2016-06-23 13:47] auguster commented on #142
Header injection would be perfect for me. I'm just using s3proxy for testing purposes.

[2016-06-24 05:08] andrewgaul commented on #118
Committed filesystem and transient support in jclouds/jclouds@6df0472ab5f70b96ea55ee6f75abd45d218f64ee.

[2016-06-25 00:50] #98 closed

[2016-06-25 00:50] andrewgaul commented on #98
Please share general feedback in this issue and any specific problems in new issues.  B2 has some restrictions documented here:

https://github.com/andrewgaul/s3proxy/wiki/Storage-backend-compatibility#b2

[2016-06-28 08:21] eikevons opened #143 "Creating file with Hadoop yields NullPointerException"
I'm trying to write to s3proxy from Spark (which uses Hadoop) and get the following error:

[code]

I'm running s3proxy 1.5.0-prerelease in a Docker container. I use the `s3a://` Hadoop-scheme.

The config file contains:
[code]

The used Dockerfile is
[code]

[2016-06-28 16:53] andrewgaul commented on #143
How do you configure your docker filesystem?  Does it use aufs?  If so this does not support xattr where S3Proxy stores ETags.  I can work around this in jclouds itself.

[2016-06-28 17:17] andrewgaul commented on #143
Please test latest master.  You may need to wait an hour or so for jclouds to update its snapshot.

[2016-06-29 07:56] eikevons commented on #143
With current master, it is working.

Thanks for the prompt fix!

[2016-06-29 07:56] #143 closed

[2016-07-02 06:50] #120 closed

[2016-07-14 18:04] marctollin opened #145 "S3 Multipart Content-Length mismatch error"
Up until today I've been able to do multipart uploads using 1.4.0 version of s3proxy, suddenly I am getting the following errors uploading s3 streams within my tests. I've tried upgrading to 1.5.0 prerelease and downgrading to 1.3.0 but I'm getting the same error. Any debugging tips?

[code]

[2016-07-14 19:08] andrewgaul opened #146 "Provide Docker build environment"
This would run the unit tests but more importantly run the s3-tests conformance suite.  This would allow developers to easily run the same tests as Travis.

[2016-07-14 19:11] andrewgaul commented on #145
Can you try some different versions of the AWS SDK and perhaps using V2 authentication or disabling chunked encoding?  If you submit a full test can I can investigate further.

[2016-07-14 20:36] marctollin commented on #145
Thanks! So looks like
[code]
did the trick for the tests. Really bizarre why this started happening. Appreciate the suggestion.

[2016-07-14 20:36] #145 closed

[2016-07-14 20:47] andrewgaul commented on #145
Ideally chunked encoding should work -- we even have a test for this.  Can you give some more detail about the original symptoms, preferably a test case?

[2016-07-14 21:06] andrewgaul commented on #145
I expect chunk encoded requests to fail previous to 1.5.0 prerelease -- previously S3Proxy did not decode these leading to overlong payloads.  However it should work from 1.5.0 onward.

[2016-07-14 21:19] andrewgaul opened #147 "Move tests from S3ProxyTest to S3AwsSdkTest"
S3Proxy should use the official AWS SDK for its internal tests which gives better user coverage.  S3Proxy already runs all the jclouds integration tests so we get coverage of its client that way.

[2016-08-05 15:01] robbypond commented on #138
encoding-type

http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/s3/model/ListObjectsRequest.html#withEncodingType-java.lang.String-

[2016-08-06 06:21] andrewgaul commented on #138
@robbypond Can you test with 1.5.0 pre-release?  d8c73bc86d30e885e743eb7afcd41cf0b9e9497b added support for `encoding-type`.

[2016-08-06 11:13] robbypond commented on #138
Yes that works, I commented before I looked at that tagged build. When are you planning to release 1.5.0?

[2016-08-06 12:18] andrewgaul commented on #138
S3Proxy 1.5.0 release is blocked on Apache jclouds 2.0.0.  Not sure when they will release it though.

[2016-08-06 14:51] historus commented on #138
Sorry for use late response, busy times. I've seen x-amz-... parameters which led to the unknown parameter failure.

[2016-08-26 15:22] ptimsonbbc opened #148 "Cannot create embedded S3 Java"
Hello,

Sorry this isn't really as much of an issue as an lack of competence from me to set it up.

I'm trying to use the S3Proxy library to setup a local S3 mock to run some Integration Tests on. I don't want to use a config file. I want to do it all programmatically.

I have come up with the following code from your examples but am getting the following error:
`
java.lang.NoSuchMethodError: com.

[2016-08-26 16:37] andrewgaul commented on #148
I suspect that you have a conflict between your project and the S3Proxy jclouds dependency.  Could you share your `mvn dependency:tree` output?

[2016-08-26 16:54] ptimsonbbc commented on #148
Ahh you beat me to it! Just worked out the problem was with JClouds and Google Gson...

[code]

[2016-08-26 17:01] ptimsonbbc commented on #148
Nothing Obvious in terms of GSON conflicts that I can see

[2016-08-26 17:46] ptimsonbbc commented on #148
After abit of trial and error their seems to be a problem when using with Spring Boot

[2016-08-26 17:53] ptimsonbbc commented on #148
Removing Spring Boot Dependency makes it work

[code]

[2016-08-26 18:50] ptimsonbbc commented on #148
Works with Spring Boot 1.3.7

[2016-08-27 18:20] andrewgaul commented on #148
I opened [JCLOUDS-1160](https://issues.apache.org/jira/browse/JCLOUDS-1160] to track this issue.

[2016-08-31 10:26] ptimsonbbc opened #149 "Java List Buckets Client Error"
Hello,

I seem to be getting a client error with 1.5.0 when trying to list buckets

**Code**

[code]

**Exception**
[code]

[2016-08-31 10:35] ptimsonbbc commented on #149
Sorry this happens with all request so obviously I'm doing something wrong!

[2016-08-31 11:06] ptimsonbbc commented on #149
Semed to be missing the S3SignerType, is this expected?

`AmazonS3Client client = new AmazonS3Client(awsCredentials, new ClientConfiguration().withSignerOverride("S3SignerType"));
`

[2016-08-31 15:48] andrewgaul commented on #149
@ptimsonbbc Overriding `S3SignerType` opts into V2 signatures.  If your calls work with this but not without it, that means that V4 signatures are broken.  Perhaps your region is different than the emulated us-east-1 region that S3Proxy uses?

[2016-08-31 18:54] ptimsonbbc commented on #130
@andrewgaul Did this make it to 1.4.0 it is it part of 1.5.0?

[2016-08-31 20:00] ptimsonbbc commented on #149
@andrewgaul I can confirm that client is set as us-east-1 but I still get 400 error.

[2016-08-31 20:22] andrewgaul commented on #130
@ptimsonbbc This is fixed only in 1.5.0.

[2016-08-31 20:24] ptimsonbbc commented on #130
@andrewgaul Thanks, when will this be made available via Maven?

[2016-08-31 20:57] andrewgaul commented on #130
Unfortunately the Apache jclouds 2.0.0 release blocks S3Proxy 1.5.0.  In the mean-time you can use 1.5.0-SNAPSHOT via the Sonatype snapshot repository:

http://stackoverflow.com/a/7717234

[2016-09-01 06:22] andrewgaul commented on #149
@ptimsonbbc Sorry I cannot reproduce your symptoms.  Could you modify `S3AwsSdkTest` to match your application's behavior and submit a pull request with the failing additions?  Note that the tests in this class use V4 by default.

[2016-09-01 08:31] ptimsonbbc commented on #149
@andrewgaul So after upgrading to 1.5.0-SNAPSHOT everything is working :) 👍 Thanks for all your help. Will just have to wait for JClouds 2.0.0 now!

[2016-09-01 08:31] #149 closed

[2016-09-01 15:10] andrewgaul commented on #149
Sorry I forgot that 1.5.0 added V4 support.  The lack of a more current release frustrates users and I am working with the jclouds team to get a new version out this month.  Unfortunately it is a big project and moves slowly.

[2016-09-01 15:11] ptimsonbbc commented on #149
No worries, sounds frustrating for you as it's blocking this project now!

[2016-09-05 20:01] andrewgaul opened #150 "Add s3verify to CI"
Minio team has another test suite to complement s3-tests:

https://github.com/minio/s3verify

[2016-09-12 09:26] kishore25kumar opened #151 "Why ETAG is sent as base16 encoded string of contentMD5"
Why the md5 of cloud provider is not sent directly to the client? Why etag is set using base16 encode of contentMD5 ?

Here is the link to the code

https://github.com/andrewgaul/s3proxy/blob/master/src/main/java/org/gaul/s3proxy/S3ProxyHandler.java#L2387

When initiating partial download using range query, Azure doesn't provide any contentMD5 but it provides ETAG. Because s3proxy sends etag as ba

[2016-09-12 14:12] andrewgaul commented on #151
S3Proxy has this behavior due to a jclouds limitation.  jclouds has a higher-level concept of MD5 and decodes a variety of headers to populate this field.  Instead it should provide the opaque ETag as sent by the provider, which is not MD5 for Azure and B2.  This is simple to fix but requires touching a bunch of call sites in jclouds.

[2016-09-12 19:43] jpoon commented on #151
Hey @andrewgaul,

I'd like to help to see how we can fix this. Can you elaborate on the various `call sites in jcloud` that would need to be modified in order to return the appropriate etag?

(Sidenote: great choice of name for this class -- https://github.com/andrewgaul/s3proxy/blob/master/src/main/java/org/gaul/s3proxy/Quirks.java#L90)

[2016-09-12 23:25] ritazh commented on #151
Hi @andrewgaul, I think this is a good opportunity to get this fixed in jclouds once for all. @jpoon has offered to help us 😃 Can  you please help identify the files to update in jclouds and we can work with you to get this done.

[2016-09-13 04:16] kishore25kumar commented on #151
@andrewgaul why can't we send etag provided by azure directly to the client. What is the issue with the code below

if (metadata.getETag() != null) {
            byte[] etagBytes = metadata.getETag().getBytes();
 response.addHeader(HttpHeaders.ETAG,BaseEncoding.base16().lowerCase().encode(etagBytes));
        }

I understand that the etag sent by the azure is not MD5 of the content.

[2016-09-13 05:53] #151 closed

[2016-09-13 05:55] andrewgaul commented on #151
Sorry my explanation was bogus; jclouds *does* populate ETag which is how operations like copy blob work.  I fixed this in a slightly different way; @kishore25kumar could you please test the latest commit?

[2016-09-13 08:20] kishore25kumar commented on #151
@andrewgaul no its not working. I am getting the below error

java.lang.IllegalArgumentException: Input is expected to be encoded in multiple of 2 bytes but found: 17
	at com.amazonaws.util.Base16Codec.decode(Base16Codec.java:76)
	at com.amazonaws.util.Base16Lower.decode(Base16Lower.java:53)
	at com.amazonaws.util.BinaryUtils.fromHex(BinaryUtils.java:48)
	at com.amazonaws.services.s3.AmazonS3Clien

[2016-09-13 14:55] kishore25kumar commented on #151
@andrewgaul Sorry with your suggested change it worked. I forgot to add System.setProperty("com.amazonaws.services.s3.disableGetObjectMD5Validation", "true"); in my java code.

[2016-09-13 17:34] andrewgaul commented on #151
To complete the discussion, Azure returns both a Content-MD5 and ETag header, with the latter having some opaque meaning.  AWS S3 returns the Content-MD5 *as* the ETag for single-part uploads.  S3Proxy returns the Azure ETag as the S3 ETag instead of the MD5 because other operations like conditional copies and gets require this.  Thus some clients need configuration as you discovered to operate wi

[2016-09-14 05:05] kahing opened #152 "ListMultipartUploads not supported"
s3proxy returns 501

[2016-09-14 05:06] andrewgaul commented on #152
Fixed in master #118.

[2016-09-14 05:06] #152 closed

[2016-09-20 08:47] kishore25kumar opened #153 "How do I override LOG_LEVEL when running main file"
I want to override log level to INFO. By default all the DEBUG and above message are printed in my log. How do I override log level?

[2016-09-20 16:53] andrewgaul commented on #153
I am not sure I understand how you are invoking S3Proxy.  If you are running the jar, you can set the log level via system properties:

[code]

[2016-09-21 02:56] kishore25kumar commented on #153
I am running main.java in intellij IDE. I have set -DLOG_LEVEL but still all the debug messages are printing.

[2016-09-21 17:41] andrewgaul commented on #153
Sorry I cannot help with your IDE.  logback consumes the system property LOG_LEVEL so I would look into that.

[2016-09-22 14:37] Riprock commented on #135
I'm seeing a problem with extended attributes when _reading_ from a share with Docker for Mac—which explicitly does not support extended attributes. Is this related, should this work?

[2016-09-22 15:31] andrewgaul commented on #135
@Riprock Can you share your symptoms and open a new issue?

[2016-09-22 15:42] Riprock opened #155 "Docker for Mac—Unable to get extended attributes"
When using the `andrewgaul/s3proxy` image and mounting a user directory as as `/data`, I get this error when trying to read an object:

[code]

Writing the object works fine.

Docker for Mac is explicit about not supporting extended attributes in its shares. https://docs.docker.com/docker-for-mac/osxfs/#extended-attributes

[2016-09-22 15:42] Riprock commented on #135
Here you go #155.

[2016-09-26 18:25] andrewgaul opened #156 "Authorization configuration"
Presently S3Proxy supports `none` and `aws-v2` credentials, with the latter actually using v2 or v4 signatures.  S3Proxy should support four modes: `none`, `aws-v2`, `aws-v4`, and `aws`, with the latter opting into both v2 and v4.

[2016-09-26 18:41] gaul opened #157 "Unicode tests fail in Docker container on Mac OS X"
`mvn test` fails on Mac OS X 10.11.6 using Docker 1.12.1 using an Ubuntu 16.04.1 image:

[code]

[2016-09-26 18:42] andrewgaul commented on #155
@Riprock Could you give a more complete test case?  I usually develop on Linux and cannot reproduce your symptoms on Mac OS X.  I did find some curious Unicode issues reported in #157.

[2016-09-26 18:56] Riprock commented on #155
Hm might be tricky as Docker for Mac has its own special new volume format. Could try it with a volume driver that doesn't support extended attributes on Linux if there even is one. Or maybe make a docker-machine with a file system that doesn't support them so can't be shared.

Will look into it.

Does s3proxy/JClouds obviously use extended attributes or is this coming from somewhere unexpected?

[2016-09-26 19:18] andrewgaul commented on #155
@Riprock Unfortunately I lack background in Mac OS X.  I know that Docker for Linux on aufs does not support xattr although volume mounts should work.  jclouds uses xattr to store object metadata although should work around situations where the underlying file system does not support xattr.  For example people use S3Proxy on Mac OS X without Docker which silently discards object metadata, not retu

[2016-09-26 19:40] Riprock commented on #155
Yeah that is strange. Maybe it makes it look like xattrs are OK to begin with or something. Oh well, less guessing more reproducible cases. Will try aufs first.

[2016-09-26 21:42] Riprock commented on #155
Linux and aufs worked fine 😕

[2016-09-26 22:11] Riprock commented on #155
Actually I don't think that's fair.

From https://docs.docker.com/engine/userguide/storagedriver/imagesandcontainers/.

Need to find a parallel where the host machine, or some sort of share on the host machine, doesn't support xattrs to test this on Linux I think.

[2016-09-27 07:32] Riprock commented on #155
No luck. Mounting a directory on a FAT32 partition and S3Proxy works fine.

What's weird is I get this on Docker for Mac:
[code]

but on Linux Docker and a FAT32 partition for data:
[code]
No message about it not being supported, but no xattrs stored so not using them.

[2016-10-05 07:54] eikevons opened #158 "recursively removing objects with awscli is not working"
Recursively removing objects in s3proxy with the awscli tool is not working:

[code]

I'm using the current s3proxy docker image and awscli version
[code]

Deleting single objects is working (using the state of the bucket above):
[code]

[2016-10-05 11:21] andrewgaul commented on #158
It looks like list spuriously encodes `/` as `%2F`.

[2016-10-05 11:45] #158 closed

[2016-10-05 12:05] andrewgaul commented on #138
@historus Can you be more specific?

[2016-10-05 15:12] eikevons commented on #158
Works with the latest docker image.

Thanks for the prompt fix!

[2016-10-05 20:15] ShayFB commented on #142
Hi, I tried the latest version with the header injection.
I added "s3proxy.cors-allow-all=true" to the configuration,

I tried to use the S3 AWS JS SDK.
The first attempt I try, the browser sends an OPTIONS request which always fails with 403.

Here is an example of a query (I exported it to curl)

curl 'http://192.168.33.109:8080/testbucket?acl' -X OPTIONS -H 'Access-Control-Request-Method: GET'

[2016-10-12 13:23] smigfu commented on #155
I am facing the same issue, when trying to invoke copy-blob. Here is a stacktrace:

``3proxy_1          | W 10-12 12:58:56.416 S3Proxy-71 o.e.jetty.server.HttpChannel:396 |::] /com.XYZ.anywhere.permanent.local/d8a2db89-cc3d-fc18-b4c3-a4bc6235e93c/git/pack/28e0fed7-a5a3-d255-baf6-221bc6e2d09a.pack
s3proxy_1          | java.lang.RuntimeException: java.nio.file.FileSystemException: /var/data/com.XYZ.

[2016-10-17 13:55] Andrey198 opened #159 "S3proxy via SSL"
Good day to all.

Trying to run s3proxy with SSL on Windows,
_java -jar s3proxy --properties s3proxy.conf_

have a conf:

_s3proxy.authorization=none
s3proxy.secure-endpoint=https://127.0.0.1:8443
s3proxy.keystore-path=requestprivkey.pfx
s3proxy.keystore-password=Password8
s3proxy.endpoint=http://127.0.0.1:8080
jclouds.provider=filesystem
jclouds.identity=identity
jclouds.credential=credential
jcl

[2016-10-18 05:09] andrewgaul commented on #159
Can you create a keystore.jks via the wiki instructions:

https://github.com/andrewgaul/s3proxy/wiki/SSL-support

[2016-10-18 05:27] andrewgaul commented on #138
Closed after months of lack of response.

[2016-10-18 05:27] #138 closed

[2016-10-18 05:28] andrewgaul commented on #153
Marking as resolved.

[2016-10-18 05:28] #153 closed

[2016-10-18 13:16] historus commented on #138
E 10-18 13:06:32.338 S3Proxy-24 o.gaul.s3proxy.S3ProxyHandler:480 |::] Unknown parameters X-Amz-Expires with URI /temporary-bucket/68ae4a90-f079-02d1-6b06-fa3cd4e3aa26/c697097d-aad2-4d8c-293c-a4159f0a9286

[2016-10-18 19:01] andrewgaul opened #160 "Support V4 Signed URLs"
Current error:

[code]

Originally reported by @historus in #138.

[2016-10-19 17:42] andrewgaul commented on #160
Currently ignoring `S3AwsSdkTest.testAwsV4UrlSigning` test.

[2016-10-24 22:30] andrewgaul commented on #96
Closing since we have a workaround.

[2016-10-24 22:30] #96 closed

[2016-11-03 05:29] kishore25kumar opened #162 "Unknown parameters part-number-marker"
I am trying to use s3proxy to save objects to Azure blobstore. Here is the code

[code]

I am getting the following error at s3proxy:

[code]

Right now I added part-number-maker to `SUPPORTED_PARAMETERS` and its working. What is the actual fix for it?

[2016-11-03 08:24] kishore25kumar opened #164 "Signed URL not working"
I am trying to upload a content to azure using aws signed urls. I was able to generate the signed url but when I am posting data to it I am getting 403 forbidden error.

Here is the link to code where it is throwing the error
https://github.com/andrewgaul/s3proxy/blob/master/src/main/java/org/gaul/s3proxy/S3ProxyHandler.java#L364

How can I resolve this?

[2016-11-03 08:45] kishore25kumar commented on #164
Its working when I set the S3SignerType in ClientConfiguration

[2016-11-03 08:45] #164 closed

[2016-11-03 08:46] kishore25kumar commented on #164
We require support for Support V4 Signed URLs

[2016-11-03 18:19] andrewgaul commented on #164
Duplicate of #160.

[2016-11-04 05:46] andrewgaul commented on #162
How big is your file and which version of aws-java-sdk do you use?

[2016-11-04 06:42] kishore25kumar commented on #162
File size is 43 MB. I am using aws-java-sdk version is 1.11.33

[2016-11-04 13:16] andrewgaul commented on #162
S3Proxy does not support ListParts pagination but it can support this initial no-op value.  I will merge a fix this weekend.

[2016-11-08 06:15] #162 closed

[2016-11-08 13:24] wnieminen opened #166 "s3 multipart upload to openstack swift changes file checksum"
I tried to use the multi-part upload via s3proxy to openstack swift. But the file gets corrupted / changed on the way and the checksum of uploaded file in openstack differs from the original file. The size of files are the same. Is this known issue? Regular uploads worked fine.

I tested it with 1.5.0 prelease.

[2016-11-08 15:37] shenghu commented on #162
@andrewgaul can S3Proxy support 10GB+ file?

[2016-11-08 15:44] andrewgaul commented on #162
@shenghu S3Proxy supports 5 GB files via single-part upload and 5 TB files via multi-part upload.  These limits match AWS service and we could increase or decrease them to match the backend object store.

[2016-11-08 16:44] andrewgaul commented on #166
Can you provide a complete test case?  I just ran the S3Proxy tests against Rackspace Cloud Files (backed by OpenStack Swift) and all multi-part tests succeed.

[2016-11-08 18:45] andrewgaul opened #167 "Remove Main class from jar"
We should only include `Main` in the executable.

[2016-11-08 23:03] andrewgaul commented on #159
@Andrey198 did you resolve this issue?

[2016-11-09 06:41] wnieminen commented on #166
Upload a large file using S3 browser http://s3browser.com/ via S3 proxy to Swift. Download the file directly from Swift using Cyberduck. Cyberduck fails with error message: "Mismatch between MD5 hash <correct md5 sum> of downloaded data and ETag <incorrect md5 sum> returned by the server."

[2016-11-12 01:19] gaul opened #168 "Implement list objects v2"
Breaks `marker` into `continuation-token` and `start-after` and adds `fetch-owner` option.  Reference:

https://docs.aws.amazon.com/AmazonS3/latest/API/v2-RESTBucketGET.html

[2016-11-12 01:32] #159 closed

[2016-11-14 05:49] andrewgaul opened #169 "Break S3ProxyHandler into component parts"
Breaking the almost 3,000 line `S3ProxyHandler` into component authentication, bucket, object, and multipart classes will make it easier to understand.

[2016-11-16 18:52] andrewgaul commented on #105
1.5.0 released with fix.

[2016-11-16 18:52] #105 closed

[2016-11-16 18:53] #55 closed

[2016-11-17 04:11] kishore25kumar opened #170 "Hystrix support"
@andrewgaul I want to encapsulate calls to backend (to azure, aws) using hystrix. Can we discuss on it further. Here is the link to hystrix https://github.com/Netflix/Hystrix. Hystrix helps in fast failover and it provides circuit breaker pattern and many more. The github link has more information about it

[2016-11-17 12:27] shenghu opened #171 "Be able to get presigned url of object storage"
@andrewgaul suppose the deployment is app<->s3proxy<->aws. app need get pre-signed url issued by aws. Can S3Proxy provide it?

[2016-11-17 16:24] shenghu commented on #48
@andrewgaul yes, I need this as well. I mean s3proxy is possible to be deployed as http://host:port/contextroot/bucket/key. Right now, I use a wrapped request which remove service path in request.getUri(). But I think it is better that S3ProxyHandler can accept a property and remove it from request.getUri().

[2016-11-17 17:47] andrewgaul commented on #171
AWS does not issue pre-signed URLs; applications generate these using their AWS credentials and vend the URLs to a client.  AWS/S3Proxy interprets these URLs and compares the account and calculated signature against the local credentials.  S3Proxy supports v2 signed URLs but has not implemented v4 yet #160.

[2016-11-18 05:12] andrewgaul commented on #48
Apache jclouds support this on the client side for Eucalyptus and its `/services/Walrus` service path.  Thus we can use it to write a test for your use case via `PROPERTY_S3_SERVICE_PATH` override.  Could you investigate adding this functionality?

[2016-11-18 05:13] andrewgaul commented on #170
Could you explain this further?  I am not familiar with Hystrix or how S3Proxy would integrate it.

[2016-11-18 05:32] shenghu commented on #171
@andrewgaul so when app generates pre-signed urls, it uses credentials of s3proxy, right? If app need generate pre-signed urls for aws, it needs know aws' credentials. If so, can s3proxy return aws' pre-signed url? We want the download (using pre-signed url) to bypass s3proxy for performance consideration.

[2016-11-18 05:36] shenghu commented on #48
OK. I can do this. BTW, is jclouds active now? I'm thinking to use jclouds as client vs using s3 sdk directly in our app to connect to s3proxy. Benefits of using jclouds are 1) unit testing w/ filesystem; 2) common API to support both s3 and openstack.

[2016-11-18 05:37] andrewgaul commented on #171
How would the application ask S3Proxy for this URL?  When the application requests an S3Proxy signed URL, S3Proxy responds with an HTTP 307 with the backend AWS signed URL?

[2016-11-18 05:38] andrewgaul commented on #48
jclouds is active and just released 2.0.0.  S3Proxy uses it for all backend interactions.

[2016-11-18 10:21] kishore25kumar commented on #170
S3proxy makes calls to multiple backends like azure aws etc.., Instead of making a direct call to the backed we wrap the calls to the backed using hystrix. Here is s3proxy case we wrap calls to jclouds library using hystrix.
When we host s3proxy we can have fallback mechanism when the backend starts behaving un healthy (No as expected). We can have fast failovers instead of hitting the server with

[2016-11-18 13:31] tibbes commented on #166
@wnieminen, that may be a Cyberduck bug - for large files the S3 ETag *is not* the MD5 of the content. Have you actually manually compared the original and downloaded file?

[2016-11-18 13:44] tibbes opened #172 "Multipart failure"
I think I've observed an instance of the recently added multipart upload support not working.

To reproduce:
- Use s3proxy 1.5.1 with the following s3proxy.conf
[code]
- Use the latest Java Amazon SDK (aws-java-sdk-1.11.56.jar)
- Run this Java program (imports omitted for brevity):
[code]

s3proxy throws an exception with the message `Content-Length mismatch, actual: 187 expected: 15`. Changing th

[2016-11-18 14:09] #166 closed

[2016-11-18 14:10] wnieminen commented on #166
It propably is a cyberduck bug.

[2016-11-18 19:09] andrewgaul commented on #166
There is not enough for me to investigate here, but Swift does not quote ETags while S3 does so you might want to investigate further and ask the Cyberduckies to ignore quotes within ETags.

[2016-11-18 23:42] andrewgaul commented on #172
@tibbes I tried to reproduce your symptoms but could not.  We have a test `S3AwsSdkTest.testBigMultipartUpload` which tests similar functionality.  Could you modify this to exhibit your symptoms or encapsulate your code as a new test so that I can run it?  Either send a pull request or just point me at your branch.

[2016-11-19 23:03] emanfu commented on #155
I encounter the same problem. There won't be errors if it is running directly in Mac's terminal, but when it run in a docker container in Mac, it will throw exactly the same exception ("Unable to get list of extended attributes: Operation not supported").

Is it possible to get this fixed?

[2016-11-20 00:01] andrewgaul commented on #155
Unfortunately I no longer have access to a Mac so I need someone from the community to investigate this.

[2016-11-20 00:02] andrewgaul commented on #155
Unfortunately I no longer have access to a Mac so I need someone from the community to investigate this.  You can likely work around this by using the `transient` backend instead of `filesystem`.

[2016-11-20 02:29] andrewgaul commented on #170
S3Proxy does few multiple RPC operations -- only multi-part upload on Azure comes to mind.  And in situations when S3Proxy does not respond, the client should retry and it would for network errors timeouts.  I do believe that any serious S3Proxy deployment would have some kind of HAProxy pointing to multiple S3Proxy instances which works since these are stateless.  And if the backend store stops r

[2016-11-21 00:07] buremba opened #173 "AWS S3 Client DeleteObjectsRequest Quiet parameter"
AWS delete objects endpoint supports Quiet parameter but s3proxy doesn't support this parameter. When we use s3proxy for mocking AWS S3 and use Quiet parameter, it fails.

[2016-11-21 00:40] #173 closed

[2016-11-21 09:44] buremba commented on #173
Wow, that was fast. Thanks @andrewgaul!

[2016-11-21 10:45] tibbes commented on #172
Turns out the problem was the mismatch between `s3proxy.authorization=none` (in `s3proxy.conf`) and `new BasicAWSCredentials(..., ...)`.

[2016-11-21 10:46] #172 closed

[2016-11-21 21:34] andrewgaul commented on #172
@tibbes I don't follow -- when I set my `s3proxy.authorization=none` and `s3proxy.identity=fail` all my tests succeed with any authentication.

[2016-11-26 03:06] kishore25kumar commented on #170
Here is an example scenario.
Suppose the backed starts behaving abnormal and each request is taking more time than it should be. Then the requests starts queuing up at the s3proxy side. As you said if we have a timeout the queued up requests will timeout after the specified time. After some time the queue has large number of messages to process. It takes lot of system resources and it might hang u

[2016-11-29 01:25] shenghu commented on #171
So I think of a way not to change s3proxy. But making change in the outer wrapper. i.e. to use a header to tell the proxy to generate presigned url for object storage.

[2016-11-29 01:25] #171 closed

[2016-11-29 01:40] shenghu opened #174 "S3Proxy doesn't properly validate signature when its endpoint has context"
I found this when using s3proxy in my application. I want to configure s3proxy to require authentication using aws-v2. But when I tried to test w/ s3curl, it fails w/ error SignatureDoesNotMatch.

It turns out that the string signed by s3curl contains hostname. But s3proxy doesn't take hostname as part of string to be signed.

According to http://docs.aws.amazon.com/general/latest/gr/signature-ver

[2016-11-29 15:30] #174 closed

[2016-12-12 13:47] kishore25kumar commented on #170
@andrewgaul any thoughts on it?

[2016-12-15 06:19] mikewang2016 opened #177 "error for openstack-keystone"
I am trying to use "jclouds.provider=openstack-keystone" to access swift, but get the following exception. I see someone mentioned "swift-keystone", but that's not recognized by s3proxy.

Exception in thread "main" java.lang.IllegalArgumentException: api {id=openstack-keystone, name=OpenStack Keystone Essex+ API, views=[], endpointName=Keystone base url ending in /v${jclouds.api-version}/, identit

[2016-12-21 07:40] kahing opened #179 "objects should return binary/octet-stream when no content type is specified during put"
currently s3proxy returns application/unknown vs aws s3 returns binary/octet-stream

[2017-01-02 02:17] andrewgaul commented on #170
Sorry I do not understand the need for Hystrix and this seems like a niche use case.  I do understand the need for back pressure if there clients submit too many requests since Jetty uses a thread per request.  S3Proxy could emit HTTP 503 Service Unavailable if a request cannot proceed within some user-specified timeout.  Would you like to submit a pull request for this feature?

[2017-01-02 10:36] kishore25kumar commented on #170
@andrewgaul you are talking about pull request for hystrix or user-specified timeout? If I understood, you are asking to add a parameter called timeout and request should send 503 if they are taking more than the specified value.

[2017-01-03 11:04] geertvanheusden commented on #155
Hi @andrewgaul, I created a repository with a reproducible testcase. It also contains the stacktrace:
https://github.com/geertvanheusden/jcloud-xattr-bug

Jclouds jira ticket was created for this bug:
https://issues.apache.org/jira/browse/JCLOUDS-1218

[2017-01-04 02:12] gaul opened #180 "S3Proxy thread management"
Presently S3Proxy uses the default Jetty thread pool.  S3Proxy should cap the maximum threads at some value to avoid exhausting resources.  S3Proxy should also gracefully handle backpressure in this situation, returning 503 when clients exhaust the thread pool.  Note that this issue requires more investigation of how Jetty works since it likely provides this functionality but S3Proxy needs to conf

[2017-01-04 02:15] andrewgaul commented on #170
@kishore25kumar Let's track backpressure in #180 and I will gladly accept pull requests to address it.  For Hystrix I have skepticism that this has a broad use case.  You can submit a pull request and I will evaluate it but niche use cases might be best addressed by a fork.  I will accept PRs to make S3Proxy more embeddable for these kinds of non-mainline features.

[2017-01-08 14:20] Pluto1010 commented on #168
I would also be happy to this feature. I'm trying to enable my QNAP NAS to backup my data to B2 instead of Microsoft's Azure through s3proxy. I've tried accessing the storage through s3proxy using Cyberduck and learned that listing is not supported yet.

Can I help to do this?

[2017-01-08 23:37] andrewgaul commented on #168
@Pluto1010 Strange that Cyberduck does not fallback to list objects v1 when v2 emit `NotImplemented`; you should also follow up with its authors.  I believe adding support for v2 is straightforward; S3Proxy has a limited notion of owner so simply fake that but you need to investigate the difference between `marker` and `star-after`.  My intuition is that you just replace one with the other but thi

[2017-01-14 01:43] andrewgaul opened #181 "JavaScript middlewares"
S3Proxy middlewares presently require writing Java code and integrating them into the main S3Proxy binary during compile time.  Instead S3Proxy should dynamically load scripts at run time to allow casual users to programmatically react to client requests.  S3Proxy must provide some external interface to the jclouds `BlobStore` interface.  Nashorn bundled with JDK 8 should make loading JavaScript e

[2017-01-18 09:01] kahing opened #182 "500 instead of 404 when getting a blob that doesn't exist with public-read bucket"
[code]

[2017-01-18 19:22] andrewgaul commented on #182
Fixed in jclouds 2.0.1-SNAPSHOT although not bumping the dependency in S3Proxy yet.  You can use the transient blobstore as a workaround for now.

[2017-01-25 01:49] andrewgaul opened #183 "HTTP BASIC authentication"
This would allow traditional web clients to talk to S3Proxy.

[2017-02-15 03:38] adam8157 opened #184 "Doesn't support "UNSIGNED-PAYLOAD""
AWS allows not to include payload checksum in signature calculation, but s3proxy doesn't.

[code]

ref:
http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-auth-using-authorization-header.html
http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-header-based-auth.html

[2017-02-16 01:07] andrewgaul commented on #179
@kahing The various Java SDKs and HTTP clients interfere with me testing this.  Can you change `S3ProxyHandler.addContentMetdataFromHttpRequest` to add the default Content-Type and test your change locally?

[2017-02-16 02:18] #184 closed

[2017-02-16 07:12] #147 closed

[2017-02-20 15:13] smigfu commented on #138
Can we reopen this? For instance generating presigned URLs do allow for additional parameters (http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/s3/model/GeneratePresignedUrlRequest.html#addRequestParameter-java.lang.String-java.lang.String-).

If I add my custom parameters s3proxy will report an error:

[code]

[2017-02-20 15:17] smigfu commented on #138
I could provide a fix for this as well, if we agree on this being an issue =)

[2017-02-20 16:49] smigfu commented on #138
Here is a scenario in which s3proxy needs to support unknown parameters:

- create a presigned URL and add custom request-parameters to it (http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/s3/model/GeneratePresignedUrlRequest.html#addRequestParameter-java.lang.String-java.lang.String-)
- the client will use the generated presigned url to upload/download content
- this wo

[2017-02-22 18:38] andrewgaul opened #189 "Remove SUPPORTED_PARAMETERS"
Amazon ignores spurious parameters but S3Proxy emits `NotImplemented`.  This whitelist only exists to ignore not yet implemented features like v4 signing via query parameters.  Instead S3Proxy should have a blacklist of known unsupported parameters which will allow removing unneeded configuration like #186.

[2017-02-27 17:49] #136 closed

[2017-02-28 08:05] kishore25kumar commented on #170
Hystrix wiki https://github.com/Netflix/Hystrix/wiki

[2017-02-28 08:09] kishore25kumar commented on #170
@andrewgaul Do you have any suggestions on how to make it configurable. Like as you said everyone might not need it, but if someone requires it they must be able to turn it on by using a simple flag.

[2017-02-28 18:50] andrewgaul commented on #170
Sorry I do not have any insight into Hystrix and do not plan to investigate it.

[2017-03-01 19:48] gaul opened #191 "Allow larger Azure multipart upload parts"
[JCLOUDS-1223](https://issues.apache.org/jira/browse/JCLOUDS-1223) allows 100 MB instead of 4 MB Azure multipart upload parts.  When jclouds 2.1.0 releases S3Proxy should update to take advantage of this.

[2017-03-02 19:17] andrewgaul commented on #155
Some problem with the jclouds snapshot repository: https://issues.apache.org/jira/browse/JCLOUDS-1252

[2017-03-03 11:02] kishore25kumar opened #192 "md5 validation at aws client sdk"
In the current usage of s3 proxy, we have to disable md5 validation in put object and get object. And we are using azure backend using s3 proxy. And for us, md5 validation is important at the client side. Is there any way we can get the md5 of the object while connecting to azure backed using s3proxy. What does it take to support it in s3 proxy. I have also raised the issue in jclouds regarding th

[2017-03-03 18:14] andrewgaul commented on #192
Azure put object response does not return the ETag as an MD5 so there is no way to support this, as previously discussed in #96.  You can provide a MD5 in the client request and the server will reject corrupt blobs.

[2017-03-03 18:14] #192 closed

[2017-03-03 18:36] #155 closed

[2017-03-03 18:36] andrewgaul commented on #155
Successfully pushed: https://travis-ci.org/andrewgaul/s3proxy/builds/207455891

[2017-03-06 05:59] kishore25kumar commented on #192
@andrewgaul you have mentioned we can map content-md5 to etag for all operations except conditional get

Here is one of your comment from the issue 99
After offline discussion with @kahing, we believe that S3Proxy could mimic S3 more closely when using the Azure backend. All of the relevant Azure operations, e.g., put blob, get blob, head blob, list blob, return both Content-MD5 and ETag. Thus we

[2017-03-06 08:21] shenghu commented on #126
@andrewgaul does s3proxy support encryption on object storage?

[2017-03-06 21:51] andrewgaul commented on #126
@shenghu S3Proxy does not support object server-side encryption due to a lack of support in the underlying jclouds, tracked by [JCLOUDS-1253](https://issues.apache.org/jira/browse/JCLOUDS-1253).  This issue tracks something different, object client-side encryption.  This difference lies in who does key management; in the former, the object store manages keys, in the latter, S3Proxy manages keys.

[2017-03-07 02:17] andrewgaul commented on #192
Azure will not provide `Content-MD5` in every situation, for example you must provide it with put object and put block list calls for subsequent get blob to return it:

https://blogs.msdn.microsoft.com/windowsazurestorage/2011/02/17/windows-azure-blob-md5-overview/

What should S3Proxy set ETag to in this situation?  We would have to do the suggested mapping for conditional get and copy although t

[2017-03-07 13:23] kishore25kumar commented on #192
Thanx for the inputs. I wanted to deep dive into this md5 thing and see if we could get a solution for integrity check when using azure blob as the backend. For us integrity check is kind of mandatory.

Here are the scenarios I am going to go deep in

1. Simple Put blob
2. Simple Get blob
3. Multi-part upload
4. Conditional get
5. S3 proxy making MPU for large single part upload

Please let me kno

[2017-03-08 08:04] prakash6061 opened #195 "testMultipartSynchronously failing with 'mvn test'"
Hello,

I am trying to run `mvn test` but it is failing for following test case :
``JcloudsS3ClientLiveTest>S3ClientLiveTest.testMultipartSynchronously``

Here is the stack trace :
[code]
This is happening in both mac and windows. I have not changed any src code.
Any suggestions on how to resolve this?
Thanks

[2017-03-08 15:10] smigfu commented on #145
@andrewgaul: I have the same problem when I upgrade the aws-sdk-java from 1.11.15 to 1.11.16. And I think I have tracked the cause down to the change in AWSS3V4Signer (see https://github.com/aws/aws-sdk-java/commit/15ca1bb2f92d5a84a11c2bb2b48002a88ea9caae). Previously in 1.11.15 the requests were being uploaded with chunked encoding which changed. Naturally we want the chunked encoding available,

[2017-03-08 19:52] andrewgaul commented on #145
@smigfu V4 signature should work for both chunked and unchunked encoding -- see `AwsSdkTest` for `testAwsV4Signature` and `testAwsV4SignatureNonChunked`.  Can you share more details on your issue?

[2017-03-08 22:14] #195 closed

[2017-03-08 22:14] andrewgaul commented on #195
@prakash6061 I am working on adding some missing metadata to the list parts RPC which caused this regression.  Unfortunately S3Proxy uses a snapshot of jclouds which changed overnight and thus Travis CI could not catch this.

[2017-03-09 00:56] RaviH opened #196 "NullPointerException"
I get a NPE when executing the code below for 1.5.1 and 1.5.2:

[code]

java.lang.NullPointerException
	at org.gaul.s3proxy.S3Proxy.<init>(S3Proxy.java:77)
	at org.gaul.s3proxy.S3Proxy$Builder.build(S3Proxy.java:131)
	at org.gaul.s3proxy.S3Proxy$Builder$build$3.call(Unknown Source)
	at org.codehaus.groovy.runtime.callsite.CallSiteArray.defaultCall(CallSiteArray.java:48)
	at org.codehaus.groovy.run

[2017-03-09 04:45] andrewgaul commented on #196
@RaviH Odd, this correlates with setting the thread pool name:

[code]

Does your application override the Jetty version?

[2017-03-09 06:56] #131 closed

[2017-03-09 07:01] RaviH commented on #196
Thank you so much for helping me with this.

Yes, it's very possible that I am overriding it. Btw, which Jetty version should I be using.

Also, the problem seems to be the server.setThreadPool() is never called.

[2017-03-09 08:53] andrewgaul commented on #196
S3Proxy includes Jetty 9.2.21.v20170120 and I am not sure what overriding it with another version will do.  Jetty should provide a thread pool by default -- does your application do some other configuration of Jetty?

[2017-03-09 15:57] smigfu commented on #145
Sorry, I think I had a false assumption above. The chunked encoding doesn't work if s3proxy is set to no authentication. We don't set any credentials to the AWS client (in the real world our buckets are protected by IAM roles). We are using s3proxy to execute our tests locally and not against a live backend. S3 is fine with our configuration (no credentials and chunked-encoding but s3proxy throws

[2017-03-09 17:01] RaviH opened #198 "How to stub a response"
I am using this library in a Java project and want to stub a response. Something like `do this when this happens`. Can you please point me to a documentation as to how to do it?

[2017-03-09 17:23] j-kidd commented on #145
I was also having this issue, and your suggestion does appear to have solved my problem. Running S3proxy with AWS_V4 'authorization' works fine with SDK version 1.11.86, 'none' authorization gives me the error listed above. Just wanted to say thanks, saved me from wasting even more time investigating this

[2017-03-09 18:59] andrewgaul commented on #198
@RaviH S3Proxy includes a few middlewares such as [eventual consistency emulation](https://github.com/andrewgaul/s3proxy/wiki/Middleware---eventual-consistency) and [large object mocking](https://github.com/andrewgaul/s3proxy/wiki/Middleware-large-object-mocking) which modify behavior.  You can do the same by providing a forwarding `BlobStore` to `S3ProxyBuilder.blobStore`.

[2017-03-09 19:06] andrewgaul commented on #145
@smigfu Can you provide a complete test case?  I set `s3proxy.authorization=none` in `src/test/resources/s3proxy.conf` but `mvn test -Dtest=AwsSdkTest` succeeds for me, including the non-chunked test.

[2017-03-10 10:19] smigfu commented on #145
I have added a PR https://github.com/andrewgaul/s3proxy/pull/199 (mainly to add comments).  What I have found are three preconditions which must be present:

1. Don't set any credentials on the AwsS3Client
2. Use HTTP (it will work with HTTPS)
3. Use "none" as authorization

@j-kidd : does all of the above matches your scenario as well?

[2017-03-10 10:22] smigfu commented on #145
(just to add, since from a security point of view it sounds like a nightmare not using HTTPS and no Credentials: All our buckets do use IAM roles and are only accessed from our EC2 instances, thus we can omit the HTTPS overhead and rely on the IAM security model :-) )

[2017-03-10 13:40] j-kidd commented on #145
@smigfu

So I don't think I'm seeing your first point, I'm hitting this error when using 'none' authorization _with or without credentials_ set on the client.

I can only get it working with the newer AWS SDK when setting keys in S3proxy (and setting auth to an actual protocol) and having credentials set in the client.

[2017-03-10 14:28] clijockey commented on #177
@mikewang2016 did you make any progress with this and get s3proxy to work with Openstack Swift with Keystone?

[2017-03-11 03:47] andrewgaul commented on #145
@smigfu @j-kidd Please test with latest master which supports chunked encoding with anonymous requests and checks anonymous configuration correctly, which now does the right then setting "none" authorization with credentials set.

[2017-03-11 03:51] gaul opened #200 "Anonymous access tests"
Currently `AwsSdkTest` creates `S3Proxy` with v2 or v4 access.  We should add another test class to exercise anonymous access.  References #145 and #199.

[2017-03-11 06:49] andrewgaul commented on #182
Fixed in 62b7c53eae9cf7783760afc10c171233aa2804b4.

[2017-03-11 06:49] #182 closed

[2017-03-12 23:55] #48 closed

[2017-03-13 10:22] j-kidd commented on #145
@andrewgaul

Looks good to me, testing against an S3proxy running locally I can make requests with or without credentials with 'none' authorisation and with AWS_V2_OR_V4 creds are checked as expected.

[2017-03-14 07:14] kahing opened #201 "discrepancy with AWS S3 for non-utf8 key names"
S3Proxy returns 404 when I try to HEAD a key that's not valid utf8, whereas aws returns 400. For ListObject, both return 403.

AWS S3:
[code]

[2017-03-14 09:47] kishore25kumar opened #202 "InvalidLocationConstraint when creating bucket"
We are using s3proxy to connect to azure storage. When we are creating a bucket using nodejs sdk I am getting InvalidLocationConstraint error. Here is the stack trace

[code]
If I use java sdk it works fine. After a little debugging I found that if I pass region as azureblob while creating the bucket then it is working fine.

[2017-03-14 18:10] andrewgaul commented on #202
Enable S3Proxy trace logging and see what nodejs is providing, probably us-east-1.  I investigated a similar issue earlier in aws/aws-sdk-js#919 but dropped it due to lack of understanding how to debug nodejs code.  Perhaps S3Proxy should default to allowing us-east-1 as a constraint?

[2017-03-14 23:29] #198 closed

[2017-03-15 00:06] andrewgaul commented on #201
Upstream issues: [CODEC-228](https://issues.apache.org/jira/browse/CODEC-228) and ceph/s3-tests#156.

[2017-03-15 05:10] kishore25kumar commented on #202
@andrewgaul After debugging I found that nodejs is sending us-east-1 as the default region. This is causing the issue.
I have found from the #127  issue you asked to use jclouds.region=us-east-1 while using nodejs sdk. I have added this to my properties file and it worked. Is this the solution you are mentioning?

[2017-03-15 06:34] andrewgaul commented on #202
@kishore25kumar I am glad that you found a workaround but I think S3Proxy should work out of box for nodejs users.  Perhaps we should add a default `jclouds.region` value to S3Proxy?

[2017-03-15 20:45] marcusvcs opened #204 "Too much data after closed with authorization enabled"
Hi,

I am trying to integrate S3Proxy with [Signal-Server](https://github.com/WhisperSystems/Signal-Server).

I am using the following configuration:

[code]

And I am getting the following warning when I try to upload a file:

`W 03-15 20:34:06.094 S3Proxy-18 o.e.jetty.http.HttpParser:1329 |::] badMessage: java.lang.IllegalStateException: too much data after closed for HttpChannelOverHttp@5e8e8a0

[2017-03-16 02:22] andrewgaul opened #205 "V4 signature payload signing"
Presently S3Proxy ignores chunk signatures in `ChunkedInputStream`.  Reference:

https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-streaming.html#sigv4-chunked-body-definition

[2017-03-16 13:20] marcusvcs commented on #204
Now I see that I am getting a 403 error because of the credentials.
I am new to S3 and I am clearly misunderstanding the concepts.

The Signal Server asks for an accessKey and an accessSecret, and I thought that is the same thing of s3proxy.identity and s3proxy.credential, so I put the values like that:

[code]

This is the url that the Signal is calling:

https://s3proxy/bucket?X-Amz-Algorithm=AW

[2017-03-16 19:10] andrewgaul commented on #204
Can you test again with `s3proxy.ignore-unknown-parameters=false`?  Testing will confirm that this is a duplicate of #160.  You can work around this by configuring the Signal signer for V2 authentication.

[2017-03-16 19:10] andrewgaul commented on #189
This configuration option just caused user confusion in #204.

[2017-03-17 02:39] #160 closed

[2017-03-17 02:39] #204 closed

[2017-03-17 03:06] andrewgaul commented on #169
After adding V4 authentication the complexity of its code scares me.

[2017-03-17 04:01] kishore25kumar opened #206 "InitiateMultipart is making two requests to azure"
While using S3 proxy to connect to Azure backend store, the initiate multipart request is making two put blob requests to azure. Ideally, it should make one call on put blob.
Here is the curl command I am trying the following curl command
[code]
Here is the charles proxy where it is showing two requests. Both requests are exactly similar

Request1

[code]

Request2

[code]

The same issue I am fac

[2017-03-17 04:17] andrewgaul commented on #206
Have you looked at the jclouds source code?

[2017-03-17 10:28] marcusvcs commented on #204
Thanks,

I will test by Monday.

[2017-03-31 18:37] ben-manes opened #209 "Shade jclouds (due to Guava)"
JClouds is stuck on an old version of Guava (16) which is incompatible with the latest version. That project hasn't settled on a compatibility strategy and [recommends](https://issues.apache.org/jira/browse/JCLOUDS-1225?focusedCommentId=15950333&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-15950333) that consumers shade it instead.

I'd like to use s3proxy in unit

[2017-03-31 19:10] andrewgaul commented on #209
This sounds reasonable; can you submit a pull request?

[2017-04-07 17:52] andrewgaul commented on #126
S3Proxy could include `EncryptedBlobStore` from Bounce:

https://github.com/bouncestorage/bouncestorage/blob/master/bounce/src/main/java/com/bouncestorage/bounce/EncryptedBlobStore.java

[2017-04-07 18:37] #170 closed

[2017-04-07 19:23] andrewgaul commented on #177
Sorry I missed this earlier -- S3Proxy works with Swift and Keystone although the latter can require configuration.  First you must set the `jclouds.provider=openstack-swift`.  Next you can configure Keystone via additional jclouds properties:

https://github.com/jclouds/jclouds/blob/4bbca9edf943852ce1ea5aa579fa0554f770a3ea/apis/openstack-keystone/src/main/java/org/jclouds/openstack/keystone/v2_0/

[2017-04-12 02:26] andrewgaul commented on #206
The first request temporarily stores metadata and the second request initiates MPU.  Complete multipart upload consumes the metadata from the first request.

[2017-04-12 02:26] #206 closed

[2017-04-24 19:24] andrewgaul commented on #76
Azure does not support range copies:

https://docs.microsoft.com/en-us/rest/api/storageservices/fileservices/copy-blob

OpenStack does not document range copies:

https://developer.openstack.org/api-ref/object-storage/?expanded=copy-object-detail

Atmos and B2 do not support copies at all.  Perhaps S3Proxy should just special case S3 to do native MPU copy?

[2017-04-25 19:35] danielrife opened #211 "Ds3proxy.virtual-host change causing Signature errors"
The recent commit https://github.com/andrewgaul/s3proxy/commit/16af493cad28ab23c3c1abb128b4db3b405f25e9
caused all my builds to fail with
`<autogenerated>:14: err: SignatureDoesNotMatch: Forbidden`

Can this change be made to default to a previous setup, or does a new env input need to be provided?

[2017-04-25 20:06] andrewgaul commented on #211
6b30e6612779e54c1741e522a09d6bd6b2dd31b4 should fix this and Travis updated the Docker image.  Sorry about the breakage and thanks for your feedback!

[2017-04-25 20:06] #211 closed

[2017-04-25 21:15] #189 closed

[2017-04-26 06:48] andrewgaul commented on #150
Overall the additional coverage from s3verify is limited, but it did turn up some missing functionality in v4 POST uploads and nits in conditional HEAD, GET, and COPY.  Once minio/s3verify#255 merges we can run this in CI via:

[code]

Might need to figure out how to build s3verify in our Travis environment if upstream does not provide prebuilt binaries.

[2017-04-26 06:49] andrewgaul opened #212 "V4 POST uploads"
Presently this fails due to not parsing out and verifying the V4 signature.

[2017-04-26 07:08] andrewgaul commented on #129
I suspect that different regions are being tested between AWS and GCS.  Would be good to verify the created container.

[2017-04-26 15:04] benoj commented on #209
We have hit this problem too.

[2017-04-28 12:43] michaelwittig commented on #212
I just ran into this today. Is this something you are working on already @andrewgaul ? Otherwise I could give it a try...

[2017-04-28 17:35] andrewgaul commented on #212
Could you try to add support to `S3ProxyHandler.handlePostBlob`?  The authentication code is a little messy but otherwise straightforward.  Here is a reference to follow:

https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-authentication-HTTPPOST.html

[2017-05-02 05:02] andrewgaul opened #213 "trace-level logs should include response status and headers"

[2017-05-04 22:23] andrewgaul opened #216 "Immutable blob middleware"
Protect against accidental overwrites or delete with an immutable blob middleware.  This implementation would do a HEAD before every PUT request, denying the former if an object already exists.

[2017-05-05 08:08] gaul opened #217 "Read-only middleware"

[2017-05-05 18:52] andrewgaul commented on #121
Moving to JDK 8 would enable using Nashorn for JavaScript middlewares discussed in #181.

@shenghu @SpandanThakur You both spoke about the JDK 8 dependency in #190.  Any opposition to moving now?

[2017-05-05 19:11] #212 closed

[2017-05-05 21:11] andrewgaul opened #219 "Asynchronously stream data"
S3Proxy could reduce its thread usage by asynchronously streaming data instead of synchronously copying it.  `BlobStore.getBlob` provides an `InputStream` which allows this but `BlobStore.putBlob` does not expose an `OutputStream` to write to, tracked by [JCLOUDS-769](https://issues.apache.org/jira/browse/JCLOUDS-769).  With both of these, we could use the standard async Servlet interface followin

[2017-05-06 01:55] andrewgaul commented on #180
Relates to #219.

[2017-05-06 01:55] andrewgaul commented on #167
I don't think this is possible and if so not worth the effort.

[2017-05-06 01:55] #167 closed

[2017-05-06 01:56] andrewgaul commented on #90
This is possible via system properties as the Dockerfile demonstrates.  However we could better document this.

[2017-05-08 05:17] SpandanThakur commented on #121
@andrewgaul No opposition. I think moving to JDK 8 would be a good move.

[2017-05-10 23:54] andrewgaul commented on #150
minio retired s3verify to their attic in minio/minio#4296.  [minio/mint](https://github.com/minio/mint) partially replaces it but this does not seem worth following up with.

[2017-05-10 23:54] #150 closed

[2017-05-12 11:43] kmrdhruv opened #223 "Failure to use Azure blob storage using S3Proxy: Invalid header x-ms-version reported by Azure"
I am trying to use S3proxy to connect with Azure.  However requests are failing with error code 400, reason being invalid header x-ms-version.
This is the header added by jclouds itself.  Any idea what's going on here ?
Is there some config setting that I am missing or is it jclouds issue ?

Below are some snippet from debug traces -
Thanks For your help.

[code]

[2017-05-12 19:32] andrewgaul commented on #223
This is very strange; `x-ms-version` is a supported header (required for some operations) and Microsoft documents that 2013-08-15 is valid:

https://docs.microsoft.com/en-us/rest/api/storageservices/azure-storage-services-versions-2015-07-08-and-earlier

I successfully ran a test listing buckets similar to yours and saw the following:

[code]

Note that this includes the `x-ms-version` field.  Do

[2017-05-14 11:31] kmrdhruv commented on #223
No, I am running against the Azure, not emulator. Not sure what is wrong with environment. Below is my S3Proxy properties file,  do you see something incorrect with it ?  I will give it try with 2.1.0-snapshot and report back the result.

s3proxy.endpoint=http://localhost:8080
s3proxy.authorization=aws-v2
s3proxy.identity=local
s3proxy.credential=local
s3proxy.virtual-host=localhost
jclouds.provid

[2017-05-14 15:41] andrewgaul commented on #223
@kmrdhruv I successfully ran a similar test earlier.  Can you minimize a test case so I can try the exact same steps?

[2017-05-15 09:43] kmrdhruv commented on #223
Thanks andrewgaul.
I am able to execute it with jcloud version 2.1.0-SNAPSHOT.
I was using s3cmd to execute the commands and that requires  s3proxy authorization to be "aws-v2-or-v4"

With above 2 changes things are fine.

In my scenario data is uploaded via Azure SDK and might be download via S3Proxy.  Upload path enables client side encryption (CSE).  Is there anyway CSE can be configured throug

[2017-05-15 15:58] andrewgaul commented on #223
Closing this issue since you resolved the original symptoms.  If you have an unrelated issue with encryption please open another issue with more detail.

[2017-05-15 15:58] #223 closed

[2017-05-25 01:24] cypa opened #226 "uppercase letters bucket name support (to mock ceph radosgw s3 API)"
I need to migrate ceph radosgw storage with bucket names like 'Photos' so I'll be gratefull if s3proxy support uppercase letters bucket names.

[2017-05-25 05:02] #226 closed

[2017-05-25 23:06] andrewgaul opened #227 "Signed URL Redirect middleware"
S3Proxy could redirect clients to the storage backend via HTTP 307 with a signed URL via a middleware.  This would allow S3Proxy to sit out of path of the data, potentially improving performance.  This would be primarily useful when clients do not care about various metadata which have different formats.

[2017-05-25 23:09] andrewgaul commented on #177
Closing due to lack of activity.  Please reopen if you continue to have issues.

[2017-05-25 23:09] #177 closed

[2017-05-29 07:43] kishore25kumar commented on #170
@andrewgaul Any suggestions on implementing niche use case like Hystrix into s3proxy. How can we make changes to s3proxy to make these non-mainline features embeddable into s3proxy. You mentioned in previous messages you are happy to accept PRs in this regard? I am looking for some suggestions on what is the best way for this kind of things.

[2017-05-29 13:17] andrewgaul commented on #170
Sorry I do not understand this issue.  You might try submitting a proof of concept pull request which illustrates what you want to do.

[2017-06-03 07:58] philipp-spiess opened #229 "endpoint.getHost() is null for /b2api/v1/b2_list_buckets"
I'm experiencing issues setting s3proxy with an underlying Backblaze B2 storage for an Arq backup.

Whenever I use an URL like `http://server/bucket_name`, the server logs the following exception:

[code]

I've started s3proxy using the Docker build with the following arguments:

[code]

Could this be a bug in JCloud?

[2017-06-07 02:07] taroyutao opened #231 "Does this support China Azure storage？"
china azure storage has different endpoint, such as EndpointSuffix=core.chinacloudapi.cn. in common, we need to set EndpointSuffix, so that the request can point to china azure storage.

[2017-06-07 06:11] andrewgaul commented on #231
@taroyutao S3Proxy needs support from the underlying Apache jclouds library.  Can you [file an issue](https://issues.apache.org/jira/browse/JCLOUDS) there?

[2017-06-21 04:34] fwenzel commented on #229
I get the same error with B2.

[2017-06-21 04:47] fwenzel commented on #229
Try passing this in: `JCLOUDS_ENDPOINT=https://api.backblaze.com`

[2017-06-29 05:56] kahing opened #234 "support object storage class"
currently s3proxy allows `x-amz-storage-class` but ignores it and subsequent HEAD does not return the storage class. Instead the value should be propagated.

[2017-07-05 02:38] andrewgaul commented on #234
Other providers like Azure, GCS, and Swift support storage policies at the container level instead of the object level like S3.  S3Proxy could special-case storage class for the filesystem and transient providers by storing this in user metadata.

[2017-07-06 23:47] andrewgaul commented on #181
Instead of using JavaScript, perhaps S3Proxy can load Java class files dynamically?

[2017-07-09 02:46] #229 closed

[2017-07-09 02:47] andrewgaul commented on #229
Sorry for my delayed response; I was traveling all of June.  Thanks @fwenzel for providing a workaround!  The error arose from the Docker image defaulting the endpoint to empty string when S3Proxy expected it to be unset.  I fixed the latter assumption.

[2017-07-12 21:14] fwenzel commented on #229
My pleasure!

[2017-07-16 00:32] gaul opened #235 "Image manipulation middleware"
Alibaba OSS offers was to manipulate images returned to clients, including resizing:

https://news.ycombinator.com/item?id=14767484

[2017-07-21 08:55] prakash-ag opened #236 "Unauthorized GET request is able to list all buckets"
Hi,
I am running the s3proxy locally with `s3proxy.authorization=aws-v2-or-v4`. When I do a GET call from my browser (ie with no authorization header), it returns me the list of buckets in my account. Is this expected behavior?
According to me an unauthorized call should result in AccessDenied.

I did a bit of digging and found that this [line of code](https://github.com/andrewgaul/s3proxy/blob/ma

[2017-07-22 23:11] #236 closed

[2017-07-25 01:44] andrewgaul opened #237 "Content-Type charset"
S3Proxy responses include a charset in their Content-Type unlike Amazon S3:

[code]

Further some responses inconsistently return:

[code]

[2017-08-16 23:55] kahing commented on #234
Another frustration is S3Proxy returns it in LIST but not HEAD:

[code]

[2017-08-17 00:29] andrewgaul commented on #234
AWS head object only returns `x-amz-storage-class` when it is not `STANDARD`.

[2017-08-17 00:34] kahing commented on #234
so weird but you are right!

[2017-08-30 19:10] kahing opened #240 "filesystem backend reports file as both file and directory"
if I create a file:

[code]

and try to head the object with directory blob suffix:

[code]

I expect to get 404. This is really a jclouds bug. https://github.com/jclouds/jclouds/blob/master/apis/filesystem/src/main/java/org/jclouds/filesystem/strategy/internal/FilesystemStorageStrategyImpl.java#L331 should check that when we head file1/, the resulting file object is actually a directory before re

[2017-09-01 21:42] andrewgaul commented on #234
Amazon and Google both support object-level storage classes and Azure has a public preview of this feature.  S3Proxy can add support after jclouds resolves [JCLOUDS-1337](https://issues.apache.org/jira/browse/JCLOUDS-1337).

[2017-09-06 19:31] andrewgaul commented on #209
jclouds 2.1.0 will upgrade to Guava 18 which will allow use of version 18-23:

https://issues.apache.org/jira/browse/JCLOUDS-1225

[2017-09-10 19:40] anatoly71 opened #241 "What is the purpose of including logback.xml in maven artifact?"
Hi Andrew!

First of all thank you for your library!

I have a question which I hope you can answer. What is the purpose of including logback.xml in maven artifact (s3proxy-1.5.3-jar-with-dependencies.jar)?

I am using s3proxy in a spring boot project and logback.xml included in the jar makes it hard for me to either specify log configuration via application.properties, or to add my own logback.xm

[2017-09-11 06:29] andrewgaul commented on #241
@anatoly71 Users interact with S3Proxy via two mechanisms:

* by itself via the Docker image or standalone jar so the `logback.xml` logs correctly
* as a Maven dependency where `logback.xml` interferes with other logging

I think `s3proxy-1.5.3-jar-with-dependencies.jar` should include `logback.xml` but `s3proxy-1.5.3.jar should not.  What do you think?  Could you submit a pull request to change `

[2017-09-13 01:28] andrewgaul opened #242 "Strong consistency middleware"
[S3Guard](https://blog.cloudera.com/blog/2017/08/introducing-s3guard-s3-consistency-for-apache-hadoop/) adds strong consistency to Amazon S3 by storing all metadata in a DynamoDB database, similar to [S3mper](https://medium.com/netflix-techblog/s3mper-consistency-in-the-cloud-b6a1076aa4f8).  S3Proxy could do something similar via the filesystem or JDBC blobstore.

[2017-10-06 19:09] timuralp opened #243 "S3Proxy returns Internal Server Error when using invalid Azure metadata keys"
When issuing a PUT request with an invalid Azure metadata key (one that contains `-` in this example), S3Proxy returns an Internal Server error (as opposed to the 401 Unauthorized that Azure returns).

Here is the output from s3cmd with debug turned on:
[code]

S3Proxy could also have an opt-in feature to work around this Azure limitation by encoding the characters in an accepted format (e.g. Base

[2017-10-09 01:13] #217 closed

[2017-10-27 18:08] gaul commented on #11
Muxing off of the access key ID seems like the most reasonable thing to do.  Using the port requires listening on more sockets and path gets overloaded with service paths.

[2017-10-30 22:37] timuralp opened #244 "[EMC Atmos] S3Proxy does not list objects that contain "/""
After uploading an object `foo/bar`, listing the bucket does not show either `foo/bar` or a faux directory `foo`. Here's the trace level log from S3Proxy: https://gist.github.com/timuralp/7b27c22bfc27ff6461d72b3576b35008

[2017-10-31 18:43] #244 closed

[2017-11-02 03:09] inevity opened #245 "s3proxy not to check timeskew when supplied non-current sys time to req"
On goofys test case.
The minio and aws like s3 backend we have all check the timeskew.
But When use the proxys3 backend(config from goofys ,using the /tmp),it skip the timeskew.

Please ref goofys pull request https://github.com/kahing/goofys/pull/243.

[2017-11-02 17:25] gaul commented on #245
Presently S3Proxy only checks the `Date` header for time skew:

https://github.com/gaul/s3proxy/blob/a09c9e1998599dbc573b08c5e82a2988fac8291f/src/main/java/org/gaul/s3proxy/S3ProxyHandler.java#L331

We also need to check `X-Amz-Date` header.

@inevity Could you investigate this?  I believe the format differs, 20111014T235959Z.

[2017-11-03 08:49] inevity commented on #245
The request use the X-Amz-Date header format like X-Amz-Date: Fri, 03 Nov 2017 00:52:47 +0000.

[2017-11-03 19:09] gaul commented on #245
I am mistaken, the `X-Amz-Date` header has a format like `Fri, 03 Nov 2017 00:52:47 +0000` when used as a header but `20130721T201207Z` when used a query parameter:

https://docs.aws.amazon.com/AmazonS3/latest/API/RESTCommonRequestHeaders.html
https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html

[2017-11-04 03:07] inevity commented on #245
I found that
when v2  header auth,header x-amz-date format is like Fri, 03 Nov 2017 00:52:47 +0000 ,
(ref  http://docs.aws.amazon.com/AmazonS3/latest/dev/RESTAuthentication.html for v2!
The value of the x-amz-date header must be in one of the RFC 2616 formats (http://www.ietf.org/rfc/rfc2616.txt). When an x-amz-date header is present in a request, the system will ignore any Date header when comput

[2017-11-04 03:09] inevity commented on #245
So we should parse x-amz-date whether from v2 or v4. I have just patch it .but have beening stuck in debugging .

[2017-11-04 04:51] inevity commented on #245
How to show debug log when mvn test?
I run single test
mvn -Dtest=org.gaul.s3proxy.AwsSdkTest#testAwsV4UrlSigning test
But only shou info ,no debug .
can you show your logback config or some other config?

[2017-11-04 06:00] gaul commented on #245
You can add debug logs via `-DLOG_LEVEL=debug` or `-DLOG_LEVEL=trace`.

[2017-11-05 06:04] inevity commented on #245
fix by https://github.com/gaul/s3proxy/pull/246

[2017-11-07 23:39] #11 closed

[2017-11-08 22:40] wheelerlaw commented on #18
`filesystem` provider still does not provide metadata storage in jclouds 2.

[2017-11-08 22:52] gaul commented on #18
@wheelerlaw Please open a separate issue with your symptoms and environment.

[2017-11-11 20:02] timuralp opened #247 "[Atmos] No ETag is returned"
S3Proxy does not return an ETag for Atmos objects, but it could return the EMC object ID (an opaque 44 byte identifier).

[2017-11-11 22:50] #247 closed

[2017-11-21 19:52] RichardHerold opened #248 "Support Wasabi"
Wasabi is a popular s3 client that uses the same api calls as s3.

https://wasabi.com/wp-content/themes/wasabi/docs/API_Guide/index.html#t=topics%2FFrontMatter.htm

[2017-11-21 21:32] gaul commented on #248
If Wasabi supports the S3 API then S3Proxy should just work.  Consults the storage backend examples:

https://github.com/gaul/s3proxy/wiki/Storage-backend-examples#s3-compatible-dreamobjects-etc

Do these instructions work for you?

[2017-11-22 03:13] RichardHerold commented on #248
they do! thanks!

[2017-11-22 03:13] #248 closed

[2017-12-19 16:22] DarthGandalf opened #249 "B2 refuses to login"
[code]
[code]
[code]
Version 1.5.3
I verified that `Authorization: Basic` value is correct base64 of `accid:appkey`, and `b2` command line tool works with the same credentials.
Also I verified that s3proxy works as expected with filesystem provider.

How to check full body and headers of HTTP requests and responses?

[2017-12-20 09:33] gaul commented on #249
You can get the full body responses via:

[code]

I am not sure why you have issues; I can successfully complete the same operation against B2.

[2017-12-20 11:00] DarthGandalf commented on #249
That doesn't show any more details. But upon further investigation of stack trace, this looks like SSL handshake doesn't work, so this is OpenJDK issue, and server can't send anything at all, so there's nothing to show.
I followed https://stackoverflow.com/questions/37167189/illegalstateexception-thrown-by-maven-ssl-related-when-downloading-project-de to fix it.
Sorry for noise.

[2017-12-20 11:00] #249 closed

[2018-01-03 06:11] gaul opened #250 "Use constant time comparison for authorization strings"
S3Proxy calls `String.equals` to compare the expected with the actual authorization strings.  This short-circuits on unequal characters and thus can leak that number of matched characters via a timing attack.  Instead it should call `MessageDigest.isEqual`.  References:

* https://blog.minio.io/minio-release-jan-2nd-2018-security-advisory-ef0342a4ddba
* https://codahale.com/a-lesson-in-timing-atta

[2018-01-05 08:20] #245 closed

[2018-01-08 08:32] randomcoder opened #251 "Unable to perform bucket based operations with anonymous auth"
Affects Version: 1.5.4

Put simply, running s3proxy as detailed in the [main readme](https://github.com/gaul/s3proxy#usage-without-docker) and attempting to create a new bucket, or list buckets fails with a NPE

[code]

The same error also occurs if the operations are attempted using the aws client (version: `aws-cli/1.11.190 Python/3.6.3 Darwin/17.2.0 botocore/1.7.48`)

[code]

It looks as if the

[2018-01-08 12:46] damselem opened #253 "Usage without Docker broken in 1.5.4"
Tested with 1.5.3 and it worked, but seems to be broken with 1.5.4.

s3proxy.conf
=========
s3proxy.authorization=none
s3proxy.endpoint=http://127.0.0.1:8080
jclouds.provider=filesystem
jclouds.filesystem.basedir=/tmp/s3proxy

server
=====
$ target/s3proxy --properties ../s3proxy.conf
[s3proxy] I 01-08 14:44:14.367 main org.eclipse.jetty.util.log:186 |::] Logging initialized @1061ms
[s3proxy] I 01

[2018-01-08 23:32] gaul commented on #253
Duplicate of #251.

[2018-01-08 23:32] #253 closed

[2018-01-09 06:56] #251 closed

[2018-01-09 06:56] #200 closed

[2018-01-09 06:57] gaul commented on #253
Fixed by 0f26d6584638602bc74a1b39cc7993a69e7cc2af.

[2018-01-09 07:35] #250 closed

[2018-01-09 20:51] gaul commented on #122
@stephzylstra I committed fixes to jclouds and S3Proxy which will propagate `AccessDenied` in this situation.  Unfortunately we must wait for the former to release 2.1.0 before we can close this issue.

[2018-01-10 07:44] gaul commented on #179
I suspect that jclouds sets application/unknown as [JCLOUDS-595](https://issues.apache.org/jira/browse/JCLOUDS-595) suggests.  S3Proxy could just provide its own default Content-Type.

[2018-01-15 17:29] DBarthe opened #254 "Null pointer exception with REAMDE example"
Hello,

While testing s3proxy with the example given in the README, I got a NullPointerException.

s3Proxy.conf:
[code]

Any command like `curl http://127.0.0.1:7777` returns an error:
[code]

And a stacktrace;
[code]

When I plugged with a java debugger :

![image](https://user-images.githubusercontent.com/5542307/34954570-31f30562-fa21-11e7-90ee-abe13e733dbf.png)

Do I missed something ?

[2018-01-15 18:05] gaul commented on #254
Duplicate of #251.  Do you use 1.5.4?  I will release 1.5.5 this week containing a fix for this issue.  In the mean-time you can use 1.5.3 or 1.6.0-SNAPSHOT.

[2018-01-15 18:05] #254 closed

[2018-01-16 14:51] DBarthe commented on #254
Okay thank you :)

[2018-01-19 13:00] BrainLogic opened #255 "NPE in S3ProxyHandler"
Hi team!
Please, release the library with #251 fix. Right now, we cannot use the latest version with anonymous identity, get NPE in S3ProxyHandler on 400 line:
`if (authHeader.authenticationType == AuthenticationType.AWS_V2`
There is no condition for `anonymousIdentity`

[2018-01-21 12:13] sammerry opened #256 "Health Check Best Practice"
I really like this project but I'm not sure what the health check best practice is. Is there a /ping or /health check endpoint? Any simple way to get a 2xx response?

[2018-01-21 20:55] gaul commented on #256
AWS does not offer an API like this but you can list all buckets (`GET /`) and check a known bucket (`HEAD /bucket`) cheaply.  A hypothetical `GET /?info` endpoint could allow users to interrogate the recommended multipart sizes and number of keys per bucket, especially since S3Proxy supports different backends with different values.  I hesitate to add a S3Proxy-specific API but maybe a proof-of-c

[2018-01-25 04:25] gaul commented on #255
Released 1.5.5.  I hoped to include a new jclouds release which has some compelling changes but its release has stalled.

[2018-01-25 04:25] #255 closed

[2018-02-09 18:40] szquadri commented on #169
For use case of "embedding into Java applications", it is better to isolate implementation of api from the source of content and authorization. This will help in case a custom application wants to provide custom implementation/source of blob data and wants to do run its own authorization logic. Further, dependency on jclouds will become optional (in this case).

So my suggestion it to create a gen

[2018-02-10 00:12] gaul commented on #169
@szquadri This issue only deals with refactoring the internal S3Proxy APIs, but please open a new issue with your suggestions for embedding.  Unfortunately most embedded uses seem to be closed-source so it is hard for me to imagine them, but I am open to making S3Proxy more useful in this way.  I suspect that disentangling S3Proxy from jclouds would be less useful than embedding users implementing

[2018-02-10 12:53] szquadri commented on #169
I will create a separate issue for embedding use case.

In our use case we have a SaaS document management (digital asset management) product and we want to provide raw content/files/metadata access through s3 interface as it is the most popular blob api right now. The system is multi-tenant so we need servlet request access to be able to do custom authorization and bucket determination etc.

For

[2018-02-10 20:44] #256 closed

[2018-02-10 20:44] gaul commented on #235
This is outside the scope of S3Proxy.

[2018-02-10 20:44] #235 closed

[2018-02-11 12:19] szquadri commented on #169
Interesting Hint. Is there any chance locateBlobStore() method of interface BlobStoreLocator is passed on current ServletRequest so it can take decision based on factors like hostname/virtualhost (in our case) or any other factor/info contained in request that developer can use to select BlobStore?

[2018-02-11 16:23] gaul commented on #169
We can consider broadening this interface.  Let's track it in a separate issue or pull request.

[2018-02-11 22:41] gaul opened #258 "object prefetching"
Some client workloads consist of reading many small objects, often sequentially in object listing order.  S3Proxy could prefetch these to save time when using remote blobstores.

[2018-02-13 17:07] szquadri opened #260 "Make ServletRequest available to BlobStoreLocator"
To help make s3proxy more generic and suitable for custom or embedded usage, it will be better if locateBlobStore method of interface BlobStoreLocator is passed current ServletRequest so it can take more complex decision in locating suitable BlogStore based on factors like hostname / virtualhost or any other factor/info contained in ServletRequest.

This will help implement, for example, a multi-t

[2018-02-13 19:36] gaul commented on #260
This sounds reasonable.  Can you submit a pull request for this?

[2018-02-14 10:44] szquadri commented on #260
Sure. I will be submitting a pull request.

[2018-02-16 17:38] ddcprg opened #261 "Add JUnit rule for easy stubbing in JUnit tests"
We've created a JUnit Rule which we've like to contribute to this project.

The rule is meant to make it easy to stub a S3 endpoint in a JUnit test and is based on S3Proxy and we think it would be useful to other developer out there. The following snapshot of code shows how we've been using this rule in our tests:

[code]

Then

[code]

I was going to open a PR with the code but I prefer to discus

[2018-02-17 01:49] gaul commented on #261
Can we host this `@Rule` in the existing S3Proxy repository and jar?

[2018-02-19 07:25] RyanMorash opened #262 "Issues connecting to Azure Blob Storage"
I'm having trouble connecting to Azure Blob Storage as a backend. To try and troubleshoot I set the s3proxy auth to 'none' and ran 'curl http://s3proxy/container' and got a HTTP error 400. These were returned in the debug logs:

[code]

Any clues?

[2018-02-19 17:43] ddcprg commented on #261
Hi @gaul Thanks for the prompt response. We could add it to the existing repo with the current layout but the rule has a compile time dependency with JUnit. I've noticed that your POM has this dep with _test_ scope.

[2018-02-19 18:33] gaul commented on #262
I cannot reproduce these symptoms.  An invalid identity yields 500 error due to a hidden `UnknownHostException` and an invalid credential yields the expected `AccessDenied`.  The former is a bit weird but the aws cli returns `InvalidAccessKeyId` in this situation which is also weird.

Your logs end before S3Proxy issues the HTTP request.  I see the following:

[code]

Can you give any more details

[2018-02-19 19:05] gaul commented on #261
Ideally S3Proxy should not impose a JUnit compile-time dependency on all its users.  Unfortunately JUnit does not offer a separate annotations jar like Error Prone.  I wonder if you can fake it `@Rule` by redefining it?  I believe Error Prone allowed this for some nullness annotation.  Maybe worth raising an upstream issue with JUnit?

Another possibility is that S3Proxy could publish its test jar

[2018-02-19 19:51] RyanMorash commented on #262
That’s all I’m seeing from docker logs.
The error page is just a standard Jetty HTTP error page giving the reason Bad Request.
The only thing I can think of that might be messing things up is that I’m using an NGINX proxy, I’ll double check the config there.

[2018-02-20 12:03] RyanMorash commented on #262
Doesn’t seem like a NGINX issue, I get the same thing if I run curl on the host pointed to the container’s IP.

[2018-02-20 17:07] gaul commented on #262
I'm sorry without more logs or some exactly steps to reproduce your issue I cannot debug it further.  Perhaps if you run S3Proxy outside Docker you will get some different result?  You can also add some debug statements to help track this down, likely in `S3ProxyHandlerJetty`.  Even if you lack a Java background, building is easy only requiring JDK and mvn.

[2018-02-21 11:24] massdosage commented on #261
One option would be to make the dependency on junit "provided" - this would still mean a compile time, but not necessarily a runtime dependency. This way only users of the rule would need to depend on Junit, which they would need to do anyway in order to actually use it with JUnit. Not perfect but maybe acceptable?

The problem with publishing the test jar is that this would then also contain all

[2018-02-21 11:29] massdosage opened #263 "Jetty dependency issues"
We have been trying to use S3Proxy to test code in a project which also uses Hive. Hive requires Jetty 7.x while S3Proxy requires Jetty 9.x. We have certain use cases where the tests are impossible to run as obviously only one version of Jetty can be on the classpath and we get various exceptions due to missing Jetty classes, incompatible method definitions etc. Would it be possible to shade and r

[2018-02-21 17:23] gaul commented on #263
Previously someone requested shading Guava in #209.  In theory I am fine with shading both Guava and Jetty but in practice I have concerns about creating more complications.  I wonder if you can shade parts of S3Proxy dependencies in your application instead?  If not, let's see what the S3Proxy patch looks like.

[2018-02-21 17:26] gaul commented on #261
Provided scope for junit sounds like exactly what we need and compile-time dependency seems OK.  Can you submit a pull request?  jclouds just released 2.1.0 so I hope to run a new S3Proxy release soon which could include this.

[2018-02-21 17:35] massdosage commented on #263
I think it's too late as by the time the jar hits us the s3proxy compiled code depends on "eclipse.jetty.foo" classes instead of "some.shaded.prefix.eclipse.jetty.foo". I'm not aware of a way of shading and relocating the contents of a jar that a project depends on as opposed to one that a project produces.

[2018-02-21 20:08] massdosage commented on #261
OK, I will discuss with @ddcprg (we work together) and try get a PR ready for you asap. Thanks!

[2018-02-22 02:02] gaul commented on #263
Do modules from Java 9 offer us anything here?  If not, please submit a pull request for shading Jetty.

[2018-02-22 08:34] #191 closed

[2018-02-22 08:34] #209 closed

[2018-02-22 08:34] #234 closed

[2018-02-23 02:12] gaul commented on #240
Fixed by 4f14a8419ff355718d3cd13ee0ae5e55e9a51e51.

[2018-02-23 02:12] #240 closed

[2018-02-23 02:14] gaul commented on #129
GCS and S3 providers have the same performance in my testing.  Please reopen if you can reproduce these symptoms.

[2018-02-23 02:14] #129 closed

[2018-02-23 02:18] gaul commented on #117
Need to fix [JCLOUDS-769](https://issues.apache.org/jira/browse/JCLOUDS-769) to address this.

[2018-02-23 02:19] #122 closed

[2018-02-23 18:29] #263 closed

[2018-02-25 21:26] gaul opened #266 "Glacier integration"
With the integration of storage classes #234, S3Proxy supports both STANDARD and INFREQUENT_IA.  The underlying jclouds also supports an archive tier, which maps onto GLACIER storage class.  The S3 API does not allow creating GLACIER objects, instead relying on lifecycle management, but it does support restoring:

https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPOSTrestore.html

S3Proxy

[2018-03-01 05:46] gaul opened #267 "HDFS storage backend"
Allow S3 applications to use HDFS.  jclouds has some long-bitrotted example of this:

https://github.com/jclouds/jclouds-examples/tree/master/blobstore-hdfs

There are a couple ways to do this, including using the Java bindings:

https://hadoop.apache.org/docs/stable/api/org/apache/hadoop/fs/FileSystem.html

or the REST API:

https://hadoop.apache.org/docs/current/hadoop-project-dist/hadoop-hdfs/W

[2018-03-01 17:44] #261 closed

[2018-03-02 01:06] gaul commented on #261
@massdosage Can you add a blurb about JUnit to the wiki:

https://github.com/gaul/s3proxy/wiki/Using-S3Proxy-in-Java-projects

[2018-03-02 18:18] massdosage commented on #261
Sure, I've added a blurb and usage example. Looking forward to 1.6.0!

[2018-03-29 11:57] KYamunaSri commented on #262
I am unable to connect to the Azure blob storage, Get an Illegal Key size. The key is valid and I connect using the same key to the blob from my Azure Storage explorer.

org.jclouds.http.HttpResponseException: java.security.InvalidKeyException: Illegal key size connecting to GET https://dcmpoc01.blob.core.windows.net/localhost/dcmpoc01 HTTP/1.1
17:17:31.505 [S3Proxy-Jetty-17 - /dcmpoc01] ERROR org

[2018-03-29 11:58] KYamunaSri commented on #262
Can I understand why is the key size called as Illegal here? Any pointers/suggestions would be very helpful.

[2018-04-04 06:07] taroyutao commented on #231
I want to confirm whether it's support Azure China, not AWS China. Thanks!

[2018-04-05 06:27] KYamunaSri opened #268 "Illegal key size Exception on accessing the Azure Blob"
Hi Gaul

I have set up the S3proxy and am facing the below issue when i try to access my s3proxy.
I got a HTTP 500 response and on adding up few stack traces, I end up with the Illegal Key size issue.

11:45:35.659 [S3Proxy-Jetty-16 - /] DEBUG jclouds.headers - >> Authorization: SharedKeyLite dcmpoc01:SzfJUaiDKNeJEodYVM65XMfPkBIfwLONBDisqktPI+U=
11:45:38.097 [S3Proxy-Jetty-16 - /] ERROR org.gaul.s

[2018-04-11 04:41] KYamunaSri commented on #268
This was an issue with the Java version.

[2018-04-11 04:41] #268 closed

[2018-04-11 17:11] gaul commented on #268
@KYamunaSri Can you share more about your workaround, e.g, which Java version has a problem and which one works?

[2018-04-13 10:49] KYamunaSri commented on #268
Hi Gaul

The java folder I  had did not have the Security folder in it. I
reinstalled Java 8 and then it worked.

Regards
Yamuna Sri

On Wed, Apr 11, 2018, 22:42 Andrew Gaul <notifications@github.com> wrote:

[2018-04-13 23:22] timuralp opened #270 "Unable to build S3Proxy with OpenJDK 9"
When building with OpenJDK 9, I get the following stack trace from ErrorProne:
[code]

I cannot reproduce this with OpenJDK 8. Upgrading the `error_prone_core` dependency to 2.1.2 resolves this for me. The JDK version is: 9.0.4+12-4 from Debian.

[2018-04-13 23:24] timuralp commented on #270
Although, building with updated `error_prone_core` results in 23 warnings. I'll try to submit a PR for updating it and fixing the warnings.

[2018-04-13 23:42] timuralp opened #271 "Unable to upload an object with a non-printable ASCII character as metadata value"
Unlike AWS S3, S3Proxy does not handle unprintable ASCII characters used as part of the metadata value. Here is how to reproduce the error with boto3:
[code]

S3Proxy hits the following exception:
[code]

The same succeeds in S3, where the character is then MIME-encoded: `x-amz-meta-meta1: =?UTF-8?Q?meta-=04?=`.

[2018-04-14 00:03] gaul commented on #270
Compile-time: error-prone packages javac internally which may cause these issues.  S3Proxy could add a Maven profile for JDK >= 9 which disables error-prone.  However, jclouds 2.2.0 may start requiring Java 8 which will allow S3Proxy to upgrade its problematic dependencies.

Run-time: does S3Proxy run with JDK 9?  I suspect that Guice issues may prevent this which S3Proxy could upgrade its depende

[2018-04-14 00:24] gaul commented on #271
Do any s3-tests exercise this?

[2018-04-14 01:03] gaul commented on #271
Duplicate of #75?

[2018-04-14 06:09] gaul commented on #270
I verified that Java 9 can compile S3Proxy when disabling error-prone.  I opened a pull request which should address Java 9 run-time errors.

[2018-04-16 01:48] gaul commented on #262
Any chance your Java has the weakened security strength?

https://stackoverflow.com/questions/6481627/java-security-illegal-key-size-or-default-parameters

[2018-04-17 07:03] ck86 commented on #73
Is it planned to be merged?

[2018-04-17 15:42] gaul commented on #73
S3Proxy has partial POST upload support although there are a lot of extra bits.  Do you need one feature in particular?

[2018-04-17 15:49] ck86 commented on #73
We currently migration from S3 to Azure Blob Storage and to upload files from the client, our API creates a PostObject, which seems to work with proxy. But when I submit the form I get a "Not Implement" error.

[2018-04-17 16:12] gaul commented on #73
Could you share some example source code?  Also maybe dump logs via `-DLOG_LEVEL=trace` although it might not capture enough information to help.

[2018-04-18 06:45] ck86 commented on #73
How I use the php aws sdk:
[code]

this is an example response:
[code]

The above mentions field are used to submit the form with a file called `filename.ext`.

This is the exact error message:
[code]

Unfortunately I can't or I don't know how to set the DLOG_LEVEL. I am using docker and if I am adding it after `ENTRYPOINT ./target/s3proxy --properties ./s3proxy.conf` the proxy will not start beca

[2018-04-30 06:18] noviceamateur opened #275 "Streaming data from Azure to local file taking a lot of time compared to using Jclouds"
I am using S3Proxy to download a file of size 150 MB to my local storage.
I used s3 java sdk to make calls and changed the endpoint to the s3proxy endpoint which is running locally.

This is the code I am using to download the file ->

        GetObjectRequest getObjectRequest = new GetObjectRequest(bucketname , filename);
        final Instant t1 = Instant.now();
        S3Object s3Object = s3.ge

[2018-04-30 08:49] #275 closed, assigned to nobody

[2018-05-03 06:30] noviceamateur commented on #275
Yes. It is invalid. We made changes in Jclouds to use Async http calls using Apache Async Http client and for some reason it is reading the entire file in local memory before calling the completed callback.

[2018-05-03 19:02] noviceamateur commented on #275
But Jclouds doesnt provide async API support right ?
These are the changes we made to our local fork so that it uses Apache Async http client.

Jclouds sync calls are using HttpURLConnection client right ?
So, I tested using the original code. This client doesnt buffer the response locally before calling the callback.

The problem is with the implementation of Apache Async Client here. It uses a b

[2018-05-04 15:03] ck86 commented on #73
any updates? :/

[2018-05-22 00:09] gaul opened #276 "Middleware to model Glacier thawing time"
Presently S3Proxy allows changing the storage class to and from Glacier.  For the latter, a middleware could mimic the 3-5 hour latency, configurable via properties.

[2018-06-18 09:36] MkJha opened #278 "S3ProxyRule - The AWS access key Id you provided does not exist in our records."
As provided in sample :

[code]

Rather than this , i am creating client using the below snippet(this is how my code client is defined):

[code]

In this case its throwing the exception AmazonS3Exception with the message "The AWS access key Id you provided does not exist in our records."

[2018-07-19 13:19] JasperHot opened #279 "listObjects() failed by "Unable to get list of extended attributes: Operation not supported""
Hi,
I run s3proxy in a Linux server.
The basedir is "/home/awss3/s3test", then I create sub-folder "folder".
But I can't list the object "/home/awss3/s3test/folder" by AWS S3 API.
I'm not sure if it is caused by a FS without the extended attributes (i.e. user_xattr). Or some other reasons ?

Java code:
[code]

Error log:
[code]

BR/Jasper

[2018-07-19 13:32] gaul commented on #279
Which file system does your basedir point at?  S3Proxy uses xattr but I believe should work without it, albeit without user metadata.

[2018-07-20 03:25] JasperHot commented on #279
Folder "/home/awss3" is NFS mount. What should I do?

[2018-08-02 00:31] gaul commented on #202
Fixed by #277.

[2018-08-02 00:31] #202 closed

[2018-08-02 00:43] gaul commented on #278
@MkJha This example creates a client with S3Proxy default credentials but using the default AWS endpoint.  If you want to use S3Proxy, you also need to provide the endpoint:

[code]

[2018-08-29 12:12] MkJha opened #281 "Can we use S3ProxyRule in cucumber test"
I have used S3ProxyRule  in junit testing. But while using it (similar way as used in junit) cucumber code , the s3 proxy jetty server doesn't get started hence the endpoint is null.

[2018-08-30 04:35] gaul commented on #281
Does Cucumber support `org.junit.Rule`?  Sorry I don't know much about this; could you provide an example?  @ddcprg may know more.

[2018-08-30 10:18] MkJha commented on #281
Anyway, i used java way as explained:
Instantiate S3Proxy by creating a backend BlobStore object and a frontend S3Proxy object. An example configuring the filesystem backend and listening on port 8080 and it worked.

I want to start the proxy on https (not http), but i am facing issue:

com.amazonaws.SdkClientException: Unable to execute HTTP request: Unrecognized SSL message, plaintext connection

[2018-08-30 13:29] MkJha commented on #281
I assume code should look like this:

proxy code:
Properties properties = new Properties();
    	properties.setProperty("jclouds.filesystem.basedir", "src/test/resources/");

    	BlobStoreContext context = ContextBuilder
    	        .newBuilder("filesystem")
    	        .overrides(properties)
    	        .build(BlobStoreContext.class);
    	s3Proxy = S3Proxy.builder()
    	        .blobStore(c

[2018-08-30 13:37] ddcprg commented on #281
You can find examples of how to use the rule in [circus-train](https://github.com/HotelsDotCom/circus-train). Here is a concrete example: https://github.com/HotelsDotCom/circus-train/blob/master/circus-train-s3-s3-copier/src/test/java/com/hotels/bdp/circustrain/s3s3copier/S3S3CopierTest.java#L82

With regards Cucumber, I know there are some issues with JUnit rules but I'm afraid I cannot tell. Per

[2018-08-30 13:40] ddcprg commented on #281
Check this out -> https://github.com/cucumber/cucumber-jvm/tree/master/junit

I.e. you should be able to use `S3ProxyRule` as a `@ClassRule`

[2018-08-30 13:42] MkJha commented on #281
I will explore on s3proxyRule, but since i am able to use s3Proxy and blobstore in cucumber. So right now main hurdle is to configure s3proxy as https. As i have explained above

[2018-08-30 16:50] gaul commented on #281
It seems like either S3Proxy or the AWS SDK client is configured for HTTP and not HTTPS.  What is the value of `S3_PROXY_ENDPOINT`?  Looking at the S3Proxy test code at src/test/java/org/gaul/s3proxy/AwsSdkTest.java might also help.

[2018-08-30 17:08] MkJha commented on #281
Your take is right. The error log you have seen above, that time i was not using secureendpoint method to set endpoint.

private static final String S3_PROXY_ENDPOINT = "https://127.0.0.1:443";
Now i get the below error

com.amazonaws.SdkClientException: Unable to execute HTTP request: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathB

[2018-08-31 13:48] MkJha commented on #281
I did the below steps and https endpoint worked:

1. generate certificate

keytool -genkey -alias localApps -keyalg RSA -keystore s3Proxy.jks -keysize 2048

 2. export key

keytool -export -keystore s3Proxy.jks -alias localApps -file s3ProxyPub.cer

 3. import in java trusted keystore

keytool -trustcacerts -keystore "C:\Program Files\Java\jdk1.8.0_66\jre\lib\security\cacerts" -storepass changeit

[2018-08-31 13:50] MkJha commented on #281
But apart from this(in general): s3 proxy doesn't work if i give endpoint something like this:

http://localhost:8080, however it works if you give IP     http://127.0.0.1

is it expected ?

[2018-09-11 07:32] MkJha opened #282 "Objects Key inconsistency"
If you create a folder in actual S3 with name "test". The key would be "test/".

But in case of S3 proxy the slash in key changes based on OS . like for windows it gives "test\\" while on
Linux it gives "test/".  I understand that, it is due to the difference of path style in windows and Linux.

It would be better if it always returns OS neutral keys(as returned by Actual AWS instance.)

Note:
1.

[2018-09-27 19:00] gaul opened #283 "Bandwidth limiting middleware"
Simulate slower writes, reads, server-side copies, etc.

[2018-09-30 20:32] martin-tarjanyi commented on #279
Hi,

I use S3 proxy with Docker for Windows.
I get the same exception when try to list objects in a bucket:

[code]

Maybe it is also related to https://github.com/gaul/s3proxy/issues/155

[2018-09-30 21:29] ohthehugemanatee commented on #262
I also have this problem:

With the docker version of s3proxy configured like this:
[code]
I get a 400 error .
[code]

I have nothing at all in the container logs, and I'm not sure how to request a higher loglevel.

[2018-10-08 14:57] bwalsh opened #284 "Wiki example for swift unclear"
The [wiki entry describing keystone authentication](https://github.com/gaul/s3proxy/wiki/Storage-backend-examples#swift-keystone-v20)   suggests the following configuration

[code]

This produced the following exception.

[code]

After some trial and error, I discovered that setting the JCLOUDS_REGIONS variable worked

[code]

[2018-10-23 07:41] vivanku opened #285 "Expected hash not equal to calculated hash"
Getting error "Expected hash not equal to calculated hash" at Amazon.S3.Internal.AmazonS3ResponseHandler.CompareHashes(String etag, Byte[] hash)

Getting this error for PutObjectAsync method call

[2018-10-23 20:15] gaul commented on #285
Could you share steps to reproduce this symptom?

[2018-11-04 18:56] gaul commented on #262
I could also not reproduce this symptom.  You can try setting `LOG_LEVEL` to trace for more context.

[2018-11-04 21:03] gaul commented on #270
I believe this should work now.  I tested with OpenJDK 8 and 11.  Could you test again?

[2018-11-04 21:03] #270 closed

[2018-11-30 02:05] jumenzel commented on #168
It would be great to add list objects v2 support to s3proxy. It appears though that jclouds does not support the `continuation-token` or know how to call s3 using the list-type=2 query param. So even if s3proxy supported list objects v2 how wouldn't really help. But I'm also new to this so maybe I've drawn the wrong conclusion. Any ideas?

[2018-12-11 12:13] ThanksForAllTheFish opened #288 "Junit5: support jupiter engine"
Are there plans to support `junit5` via the extension mechanism? Do you need support (I might be able to help, though I did not yet looked into details)

[2018-12-11 13:30] gaul commented on #288
I am not familiar with this mechanism; could you explain this feature request more completely?  I am unlikely to implement it but will review pull requests.

@ddcprg @massdosage Related to your existing JUint @Rule functionality?

[2018-12-11 13:41] ddcprg commented on #288
Hi @gaul / @ThanksForAllTheFish  as of Junit 5 rules have been replaced with callbacks and extensions. At first glance it seems like it wouldn't take a lot of effort to add an extension for Junit 5. I could dig a bit to understand better what it's needed an then purpose a change. I'm also happy to leave this with @massdosage if he prefer to take it on - I'll catch up with him.

[2018-12-13 14:34] massdosage commented on #288
A while back I looked at what would be required to replace JUnit4 rules with the JUnit5 equivalents and like @ddcprg concluded that it should't take too much effort but at the time JUnit5 was still very new and we had no plans to move to it. It's more mature now but we still don't have a compelling reason to move over to it so we probably won't implement this ourselves just yet but I'd be happy to

[2018-12-19 05:09] gaul commented on #284
Can you make these changes to the wiki?  It is world-writable.

[2018-12-19 05:09] #284 closed

[2018-12-19 05:13] gaul commented on #281
Which operating system do you use?  On Linux I can connect to S3Proxy configured with:

[code]

[2018-12-19 05:42] MkJha commented on #281
I ran it on windows 10.

[2018-12-21 22:19] #142 closed

[2019-01-02 12:08] serkas opened #289 "Implement bucket location response"
`s3api get-bucket-location` command returns `null` even if LocationConstraint is provided during the bucket creation:
[code]
Do you have plans to implement the functionality?
Is there any possibility to provide a default region?

[2019-01-02 18:39] gaul commented on #289
We can address this in two ways.  First provide some configuration to set an S3Proxy-specific region which create bucket which check against and query bucket will return.  Second we could expose more of the underlying region functionality in jclouds.  This is tricky since not all providers support bucket-scoped regions, see [JCLOUDS-1480](https://issues.apache.org/jira/browse/JCLOUDS-1480).

The s

[2019-01-03 07:35] serkas commented on #289
We use an S3Proxy container for local/CI tests of microservices. Thus, the first listed approach is sufficient for us.

In some tests, we also use instantiation of buckets through local filesystem (copying/mounting folders into the container data folder). A possibility to set a default region is the only idea I have to handle this scenario. @gaul could you give a comment on this particular case?

[2019-01-03 19:01] gaul commented on #289
The first approach sounds good.  Some implementation suggestions:

* add region property
* get location returns property value
* when region property is set, create bucket checks that the client region parameter is null or the same as the property and regions some invalid parameter otherwise
* when region property is not set, create bucket works as before, passing through the client region paramet

[2019-01-04 02:44] gaul commented on #281
Can you ping localhost on this machine?  Perhaps you have a client configuration issue?  Either way it sounds like you have a workaround.  Did you resolve your original issue with cucumber and if so can we close this issue?

[2019-01-04 03:05] gaul commented on #168
Sorry for my tardy response; I was traveling for several weeks.  It looks like you implemented this in vyasa-analytics/s3proxy#1; could you submit a pull request here?

[2019-01-04 05:31] gaul commented on #282
@MkJha Agree that the current behavior is incorrect.  This seems to come from jclouds `apis/filesystem/src/main/java/org/jclouds/filesystem/strategy/internal/FilesystemStorageStrategyImpl.java` in `normalize`/`denormalize`.  Unfortunately I do not have a Windows system to test against.  Could you investigate this and submit a pull request to jclouds?

[2019-01-04 07:06] MkJha commented on #278
@gaul  That was my bad, I could have realized this before raising this issue.  I realized this later, without giving the end point,  it is impossible to divert the request to aws proxy.  In absence of end point , request would always hit the real aws.  Thanks for your attention.

[2019-01-04 19:49] gaul commented on #73
The Docker image should take a `LOG_LEVEL` environment variable.  I really need a self-contained test case to make progress on this; otherwise I would have to implement the entire POST handling functionality which I would like to avoid for now.

[2019-01-04 20:14] #279 closed

[2019-01-04 20:15] gaul commented on #279
Sorry for the delayed response; I had no way to test this until I wrote [libnoxattr](https://github.com/gaul/libnoxattr).

[2019-01-04 20:17] #278 closed

[2019-01-07 03:51] FDU-SE-LAB opened #291 "Your project gaul/s3proxy is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 07:43] gaul commented on #291
I do not find this bug report valuable and request that you do not send further automated issues.  In this case, there is no released version of logback which includes a fix.  Further, it is not obvious that this issue has any particular criticality that merits spamming random projects.

[2019-01-07 07:43] #291 closed

[2019-01-07 23:58] gaul opened #292 "filesystem backend cannot complete large multipart uploads"
S3Proxy via jclouds filesystem implements multipart upload by first creating the parts as files then reading the parts sequentially and writing them to the destination file.  This incurs 3x IO and I observed S3 clients timing out when writing a 25 GB object.  Instead, I wonder if it could write to a single temporary file at the correct offsets then just rename to the destination file?

[2019-01-08 00:16] kahing commented on #292
aws s3 works around the timeout issue by emitting whitespaces in response periodically: https://docs.aws.amazon.com/AmazonS3/latest/API/mpUploadComplete.html

your idea of writing to the correct offset won't work because parts can be uploaded out of order, and the API doesn't give you information about missing offsets

[2019-01-08 00:21] gaul commented on #292
Agree that writing to a single file won't work since clients don't use fixed size parts.  However S3Proxy should periodically emit newlines during complete as you suggested.

[2019-01-08 00:31] timuralp commented on #292
For what it's worth, Swift also allows clients to opt into a similar whitespace behavior (https://docs.openstack.org/swift/latest/overview_large_objects.html) and exposes the same through its s3api.

[2019-02-05 18:19] gaul commented on #266
Fixed by c6b4839d2b288194815b13c6bdaae6c16e2b1d55.  Amazon now allows this:

https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUT.html

[2019-02-05 18:19] #266 closed

[2019-02-05 18:21] gaul commented on #121
jclouds 2.2.0 will require Java 8 so S3Proxy will move forward with it.

[2019-02-06 23:12] #292 closed

[2019-02-09 21:29] gaul commented on #231
@taroyutao This should work.  Can you test and report back?

[2019-02-13 18:06] #168 closed

[2019-02-14 15:45] PolSpock commented on #81
Hello,
I have the same problem :/

[code]

OVH is mutli region
Someone can help me ? 😄

Regards,

[2019-02-17 10:41] gaul commented on #81
Does setting `jclouds.region` allow you to select the region?  See [this example](https://github.com/gaul/s3proxy/wiki/Storage-backend-examples#swift-keystone-v20).

[2019-02-18 10:08] PolSpock commented on #81
Yes, i have tested with Keystone v2.0 & v3.0.
I've tried `jclouds.region` & `jclouds.regions` but it doesn't take my settings

[2019-02-20 09:08] mousimin opened #294 "The specified bucket does not exist"
I am using local file system as the storage backend, my conf file is wrote as the instruction:
[code]
And I am using following command to run s3proxy(the latest version):
`nohup java -jar s3proxy --properties disk-simin.conf &`

But I found:

- when I use the folder which contains <= 2 characters as the bucket name, it will fail:

[code]

- When I use the folder which contains > 2 characters as th

[2019-02-20 11:55] gaul commented on #294
S3Proxy mimics the [S3 bucket restrictions](https://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html):

It is not clear that we must enforce the same restrictions.  Perhaps we could enable this extra checking under some `s3proxy.strict-bucket-names` property.  What do you think?

[2019-02-20 12:08] gaul commented on #294
The validation logic looks like this:

[code]

It has been several years but I suspect I implemented this for compatibility with s3-tests which should match AWS S3.

[2019-02-20 12:59] mousimin commented on #294
I agree with you. S3proxy should be much more flexible than AWS S3 :)
Look forward your new release :)

[2019-05-07 13:18] johan-hedlund opened #297 "Uploading Parquet file using Spark takes AGES (2 minutes) for S3ProxyRule for tiny file"
Hi,

Before I start with the problems: S3ProxyRule has been a GREAT way for me to quickly mock up S3 for my Spark code...

BUT

I'm using the S3ProxyRule as part of my unit test that does:
* Upload a test file to the proxy as setup for the test
* consume that file as part of my code under test

The problem is that the UPloading takes a LONG time, where it seems to be doing absolutely nothing... We

[2019-05-07 15:11] lqbombjack opened #298 "Backblaze Application Keys"
Is it possible to add support for Application Keys which was added in v2 of the Backblze api?

Rather than having to use the main account's master id?

[2019-05-08 00:13] gaul commented on #297
I do not expect this behavior; 120 seconds sounds like some timeout is reached.  Could you enable trace logging and post a gist of the logs?

[2019-05-08 08:14] johan-hedlund commented on #297
Hi,

Thanks for your rapid reply! There's a LOT of logging there, and I'm happy to provide it all if you want, but the bits around the "pauses" are as below. Note the DELETEs:

08-05-2019 08:17:24.625 [Executor task launch worker for task 12] DEBUG com.amazonaws.auth.AWS4Signer.debug - AWS4 Canonical Request: '"POST
/converterintegrationtestacsastarget/
delete=
amz-sdk-invocation-id:9ec706ec-a521-

[2019-05-08 10:20] gaul commented on #298
What happens when you use S3Proxy with an application key today?  Reading through the docs it is not obvious if anything needs to be done to support it:

https://www.backblaze.com/b2/docs/application_keys.html

[2019-05-08 13:11] nishantjain91samsung opened #299 "doesBucketExistV2 crashes when bucket doesnot exist on windows"
`Exception in thread "main" com.amazonaws.services.s3.model.AmazonS3Exception: java.nio.file.NoSuchFileException: \tmp\s3proxy\test1 (Service: Amazon S3; Status Code: 500; Error Code: 500 java.nio.file.NoSuchFileException: \tmp\s3proxy\test1; Request ID: null; S3 Extended Request ID: null), S3 Extended Request ID: null
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.handleErrorResponse(Ama

[2019-05-08 16:25] gaul commented on #297
These are only the debug logs for the AWS client.  It would be nice to see the S3Proxy and jclouds debug logs.  While I see large intervals between the request and response, it is not obvious to me that S3Proxy has actually received the request given the timeouts:

[code]

[2019-05-09 06:45] johan-hedlund commented on #297
Apologies :-) For some reason I did not clock that the proxy logs were not being included (I use log4j2, so there was no config for slf)..

I've re-done the logs with the s3proxy included, and have attached the full log here.

One of the relevant sections seems to be:

2019-05-09 07:37:01 DEBUG server.Server:488 - REQUEST POST /converterintegrationtestacsastarget/ on HttpChannelOverHttp@1939e14a{r